openapi: 3.2.0
info:
  title: Booking.com Connectivity Content Property Management API
  description: The Booking.com Connectivity Content API enables Connectivity Partners to register properties and modify their content directly without using the Booking.com extranet. Partners can manage facilities, rates, rooms, photos, and other property details programmatically. This API uses XML request and response formats following the OpenTravel Alliance (OTA 2003B) specification and Booking.com's B.XML schema. It is designed for property management systems, channel managers, and other connectivity solutions that need to create and maintain property listings on Booking.com at scale. Booking.com is transitioning to modular REST APIs for property management.
  version: '2.0'
  contact:
    name: Booking.com Connectivity Support
    url: https://developers.booking.com/connectivity/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://supply-xml.booking.com
  description: Production Server (Non-PCI)
security:
- basicAuth: []
tags:
- name: Property Management
  description: Endpoints for creating and updating property information including name, location, contact details, policies, and general settings.
paths:
  /properties:
    post:
      operationId: createProperty
      summary: Create a property
      description: Creates a new property on Booking.com with basic details including name, location, and property type. Part of the new modular Property Management APIs replacing the legacy OTA endpoints.
      tags:
      - Property Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyCreateRequest'
      responses:
        '200':
          description: Property created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyResponse'
        '400':
          description: Bad request
        '401':
          description: Authentication failed
  /properties/{property_id}:
    put:
      operationId: updateProperty
      summary: Update property details
      description: Updates an existing property's details including name, description, contact information, and settings.
      tags:
      - Property Management
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyUpdateRequest'
      responses:
        '200':
          description: Property updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyResponse'
        '400':
          description: Bad request
        '401':
          description: Authentication failed
        '404':
          description: Property not found
    get:
      operationId: getProperty
      summary: Get property details
      description: Retrieves the full details of a specific property including all configured content.
      tags:
      - Property Management
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      responses:
        '200':
          description: Property details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyResponse'
        '401':
          description: Authentication failed
        '404':
          description: Property not found
components:
  schemas:
    PropertyCreateRequest:
      type: object
      required:
      - name
      - address
      - city
      - country
      - property_type
      properties:
        name:
          type: string
          description: Property name
        address:
          type: string
          description: Street address
        city:
          type: string
          description: City name
        country:
          type: string
          description: Two-letter country code
        zip:
          type: string
          description: Postal/ZIP code
        property_type:
          type: string
          description: Type of property
        latitude:
          type: number
          description: Latitude coordinate
        longitude:
          type: number
          description: Longitude coordinate
        currency:
          type: string
          description: Default currency for the property
        star_rating:
          type: integer
          description: Star rating classification
          minimum: 1
          maximum: 5
    PropertyResponse:
      type: object
      properties:
        property_id:
          type: integer
          description: Unique property identifier
        name:
          type: string
          description: Property name
        address:
          type: string
          description: Street address
        city:
          type: string
          description: City name
        country:
          type: string
          description: Country code
        status:
          type: string
          description: Property status on Booking.com
    PropertyUpdateRequest:
      type: object
      properties:
        name:
          type: string
          description: Property name
        address:
          type: string
          description: Street address
        description:
          type: string
          description: Property description
        contact_email:
          type: string
          format: email
          description: Primary contact email
        contact_phone:
          type: string
          description: Primary contact phone number
        checkin_from:
          type: string
          description: Earliest check-in time
        checkin_until:
          type: string
          description: Latest check-in time
        checkout_from:
          type: string
          description: Earliest checkout time
        checkout_until:
          type: string
          description: Latest checkout time
  parameters:
    PropertyId:
      name: property_id
      in: path
      required: true
      description: Unique identifier of the property on Booking.com
      schema:
        type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Connectivity partner username and password.
externalDocs:
  description: Booking.com Connectivity Content API Documentation
  url: https://developers.booking.com/connectivity/docs/content
