openapi: 3.2.0
info:
  title: Booking.com Connectivity Content Photos API
  description: The Booking.com Connectivity Content API enables Connectivity Partners to register properties and modify their content directly without using the Booking.com extranet. Partners can manage facilities, rates, rooms, photos, and other property details programmatically. This API uses XML request and response formats following the OpenTravel Alliance (OTA 2003B) specification and Booking.com's B.XML schema. It is designed for property management systems, channel managers, and other connectivity solutions that need to create and maintain property listings on Booking.com at scale. Booking.com is transitioning to modular REST APIs for property management.
  version: '2.0'
  contact:
    name: Booking.com Connectivity Support
    url: https://developers.booking.com/connectivity/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://supply-xml.booking.com
  description: Production Server (Non-PCI)
security:
- basicAuth: []
tags:
- name: Photos
  description: Endpoints for adding, managing, and organizing property photos.
paths:
  /properties/{property_id}/photos:
    post:
      operationId: uploadPhoto
      summary: Upload a property photo
      description: Uploads a new photo for a property. Photos can be tagged with categories and assigned to specific rooms or the property overall.
      tags:
      - Photos
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhotoUploadRequest'
      responses:
        '200':
          description: Photo uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoResponse'
        '400':
          description: Bad request
        '401':
          description: Authentication failed
    get:
      operationId: listPhotos
      summary: List property photos
      description: Retrieves all photos associated with a property.
      tags:
      - Photos
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      responses:
        '200':
          description: Photos retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoListResponse'
        '401':
          description: Authentication failed
        '404':
          description: Property not found
components:
  schemas:
    PhotoListResponse:
      type: object
      properties:
        photos:
          type: array
          description: List of property photos
          items:
            $ref: '#/components/schemas/PhotoResponse'
    PhotoUploadRequest:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          format: uri
          description: URL of the photo to upload
        tag:
          type: string
          description: Photo category tag
        room_id:
          type: integer
          description: Room type to associate the photo with
        sort_order:
          type: integer
          description: Display sort order
    PhotoResponse:
      type: object
      properties:
        photo_id:
          type: string
          description: Unique photo identifier
        url:
          type: string
          format: uri
          description: Photo URL on Booking.com
        tag:
          type: string
          description: Photo category tag
  parameters:
    PropertyId:
      name: property_id
      in: path
      required: true
      description: Unique identifier of the property on Booking.com
      schema:
        type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Connectivity partner username and password.
externalDocs:
  description: Booking.com Connectivity Content API Documentation
  url: https://developers.booking.com/connectivity/docs/content
