openapi: 3.1.0
info:
  title: Booking.com Car Rentals Accommodations Derived Pricing API
  description: The Booking.com Car Rentals API is part of the Demand API and provides endpoints specific to the car rental segment of the connected trip experience. Developers can use it to search for available car rentals, retrieve car details, look up depots and suppliers, and access depot review scores. The API enables affiliate partners to integrate Booking.com's car rental inventory into their own platforms, offering users the ability to find and book vehicles as part of their travel planning workflow.
  version: '3.1'
  contact:
    name: Booking.com Developer Support
    url: https://developers.booking.com/demand/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://demandapi.booking.com/3.1
  description: Production Server
security:
- bearerAuth: []
  affiliateId: []
tags:
- name: Derived Pricing
  description: Endpoints for managing derived pricing rules that automatically calculate rates based on a parent rate plan.
paths:
  /hotels/xml/derivedprices:
    post:
      operationId: updateDerivedPrices
      summary: Update derived pricing rules
      description: Creates or updates derived pricing rules that automatically calculate rates based on a parent rate plan. Derived prices allow partners to set percentage or fixed amount adjustments relative to a base rate.
      tags:
      - Derived Pricing
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: B.XML request document specifying derived pricing rules including parent rate references and adjustment values.
      responses:
        '200':
          description: Derived pricing rules updated successfully
          content:
            application/xml:
              schema:
                type: string
                description: B.XML response indicating success or failure of the derived pricing update.
        '400':
          description: Invalid XML request
        '401':
          description: Authentication failed
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication. Include your API key token in the Authorization header.
    affiliateId:
      type: apiKey
      in: header
      name: X-Affiliate-Id
      description: Your Booking.com Affiliate ID, required with every request.
externalDocs:
  description: Booking.com Car Rentals API Documentation
  url: https://developers.booking.com/demand/docs/open-api/demand-api/cars
