openapi: 3.2.0
info:
  title: Booking.com Connectivity Reservations Recovery API
  description: The Booking.com Connectivity Reservations API allows Connectivity Partners to retrieve and update reservation information for properties listed on Booking.com. It operates over a PCI-compliant secure endpoint and supports reservation retrieval, confirmation, and modification using both B.XML and OTA XML formats (OTA_HotelResNotif and OTA_HotelResModifyNotif). The API follows the OpenTravel Alliance specification and provides a complete and fault-tolerant reservations processing solution. Partners should poll the reservations endpoint once per twenty seconds for timely delivery of data.
  version: '2.0'
  contact:
    name: Booking.com Connectivity Support
    url: https://developers.booking.com/connectivity/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://secure-supply-xml.booking.com
  description: Production Server (PCI-Compliant)
security:
- basicAuth: []
tags:
- name: Recovery
  description: Endpoints for recovering reservations that were not picked up earlier or made prior to the property being connected to the system.
paths:
  /hotels/xml/reservationssummary:
    post:
      operationId: getReservationsSummary
      summary: Retrieve reservation summary
      description: Retrieves reservation messages that were not picked up earlier. This endpoint is useful for retrieving all reservations that were made prior to the property being connected to the partner system, ensuring no bookings are missed during initial setup.
      tags:
      - Recovery
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: B.XML request document for retrieving missed reservation summaries.
      responses:
        '200':
          description: Reservation summaries retrieved successfully
          content:
            application/xml:
              schema:
                type: string
                description: B.XML response containing summary of reservations not previously retrieved.
        '400':
          description: Invalid XML request
        '401':
          description: Authentication failed
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Connectivity partner username and password.
externalDocs:
  description: Booking.com Connectivity Reservations API Documentation
  url: https://developers.booking.com/connectivity/docs/reservations-api/reservations-overview
