openapi: 3.2.0
info:
  title: Booking.com Connectivity Reservations API
  description: The Booking.com Connectivity Reservations API allows Connectivity Partners to retrieve and update reservation information for properties listed on Booking.com. It operates over a PCI-compliant secure endpoint and supports reservation retrieval, confirmation, and modification using both B.XML and OTA XML formats (OTA_HotelResNotif and OTA_HotelResModifyNotif). The API follows the OpenTravel Alliance specification and provides a complete and fault-tolerant reservations processing solution. Partners should poll the reservations endpoint once per twenty seconds for timely delivery of data.
  version: '2.0'
  contact:
    name: Booking.com Connectivity Support
    url: https://developers.booking.com/connectivity/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://secure-supply-xml.booking.com
  description: Production Server (PCI-Compliant)
security:
- basicAuth: []
tags:
- name: Reservations
  description: Endpoints for retrieving new, modified, and cancelled property reservations using B.XML format.
paths:
  /hotels/xml/reservations:
    post:
      operationId: getReservations
      summary: Retrieve reservations
      description: Retrieves new, modified, or cancelled property reservations using B.XML format. The response returns the same schema for new, modified, and cancelled reservations with updated information. This endpoint should be polled once per twenty seconds for timely data delivery. Higher frequencies are not recommended due to added server overhead.
      tags:
      - Reservations
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: B.XML request document specifying the hotel ID and authentication credentials for reservation retrieval.
      responses:
        '200':
          description: Reservations retrieved successfully
          content:
            application/xml:
              schema:
                type: string
                description: B.XML response containing reservation details including guest information, room details, dates, pricing, and reservation status.
        '400':
          description: Invalid XML request
        '401':
          description: Authentication failed
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Connectivity partner username and password.
externalDocs:
  description: Booking.com Connectivity Reservations API Documentation
  url: https://developers.booking.com/connectivity/docs/reservations-api/reservations-overview
