openapi: 3.2.0
info:
  title: Booking.com Connectivity Rates Availability API
  description: The Booking.com Connectivity Rates and Availability API allows Connectivity Partners to set room availability, pricing, and restrictions for properties on Booking.com. Partners can manage advance booking windows, length of stay requirements, and rate plans programmatically. This API is a core component of the Connectivity suite, enabling channel managers and property management systems to keep inventory and pricing synchronized between their platforms and Booking.com without manual extranet updates. Properties should specify availability at least 12 months in advance. The API uses XML request and response formats following B.XML and OTA specifications.
  version: '2.0'
  contact:
    name: Booking.com Connectivity Support
    url: https://developers.booking.com/connectivity/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://supply-xml.booking.com
  description: Production Server (Non-PCI)
security:
- basicAuth: []
tags:
- name: Availability
  description: Endpoints for updating room availability, pricing, and booking restrictions using B.XML format.
paths:
  /hotels/xml/availability:
    post:
      operationId: updateAvailability
      summary: Create or update availability, rates, and restrictions
      description: Specifies a property's availability for specific rooms, rates, and dates, including the number of available rooms, prices depending on occupants, and restrictions on length of stay and check-in/check-out dates. This is the primary endpoint for keeping inventory and pricing synchronized with Booking.com.
      tags:
      - Availability
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: B.XML availability request document specifying room counts, rates, and restrictions by date range and room/rate combination.
      responses:
        '200':
          description: Availability update processed successfully
          content:
            application/xml:
              schema:
                type: string
                description: B.XML response indicating success or failure of the availability update with any error details.
        '400':
          description: Invalid XML request
        '401':
          description: Authentication failed
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Connectivity partner username and password.
externalDocs:
  description: Booking.com Connectivity Rates and Availability API Documentation
  url: https://developers.booking.com/connectivity/docs/ari
