openapi: 3.2.0
info:
  title: Booking.com Connectivity Content Rooms API
  description: The Booking.com Connectivity Content API enables Connectivity Partners to register properties and modify their content directly without using the Booking.com extranet. Partners can manage facilities, rates, rooms, photos, and other property details programmatically. This API uses XML request and response formats following the OpenTravel Alliance (OTA 2003B) specification and Booking.com's B.XML schema. It is designed for property management systems, channel managers, and other connectivity solutions that need to create and maintain property listings on Booking.com at scale. Booking.com is transitioning to modular REST APIs for property management.
  version: '2.0'
  contact:
    name: Booking.com Connectivity Support
    url: https://developers.booking.com/connectivity/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://supply-xml.booking.com
  description: Production Server (Non-PCI)
security:
- basicAuth: []
tags:
- name: Rooms
  description: Endpoints for managing room types, room names, bed configurations, and room-level facilities.
paths:
  /properties/{property_id}/rooms:
    post:
      operationId: createRoom
      summary: Create a room type
      description: Creates a new room type for a property, including room name, bed configuration, maximum occupancy, and room-level facilities.
      tags:
      - Rooms
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomCreateRequest'
      responses:
        '200':
          description: Room type created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomResponse'
        '400':
          description: Bad request
        '401':
          description: Authentication failed
    get:
      operationId: listRooms
      summary: List room types
      description: Retrieves all room types configured for a specific property.
      tags:
      - Rooms
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      responses:
        '200':
          description: Room types retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomListResponse'
        '401':
          description: Authentication failed
        '404':
          description: Property not found
components:
  schemas:
    RoomResponse:
      type: object
      properties:
        room_id:
          type: integer
          description: Unique room type identifier
        name:
          type: string
          description: Room type name
        max_occupancy:
          type: integer
          description: Maximum number of guests
        status:
          type: string
          description: Room type status
    RoomListResponse:
      type: object
      properties:
        rooms:
          type: array
          description: List of room types
          items:
            $ref: '#/components/schemas/RoomResponse'
    RoomCreateRequest:
      type: object
      required:
      - name
      - max_occupancy
      properties:
        name:
          type: string
          description: Room type name
        max_occupancy:
          type: integer
          description: Maximum number of guests
        room_size:
          type: number
          description: Room size in square meters
        bed_configurations:
          type: array
          description: Available bed configurations
          items:
            type: object
            properties:
              bed_type:
                type: string
                description: Type of bed
              quantity:
                type: integer
                description: Number of beds of this type
        facilities:
          type: array
          description: Room-level facilities
          items:
            type: string
  parameters:
    PropertyId:
      name: property_id
      in: path
      required: true
      description: Unique identifier of the property on Booking.com
      schema:
        type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Connectivity partner username and password.
externalDocs:
  description: Booking.com Connectivity Content API Documentation
  url: https://developers.booking.com/connectivity/docs/content
