openapi: 3.0.1
info:
  title: Connect API
  description: 'Partner Connect API Service

    '
  version: 1.2.2
servers:
- url: https://metasearch-connect-api.booking.com
  description: Production URL
security:
- BearerAuth: []
paths:
  /reports/conversions:
    post:
      tags:
      - Reports
      summary: List conversions
      description: "This endpoint returns conversion data for bookings within a specified date range.\n\n**Note:** Conversions\
        \ data is only provided for selected accounts based on contractual agreements.\n\nExactly one date filter must be\
        \ provided. The available filters are:\n- `booking_date_range`: Filter by the date the booking was made\n- `cancellation_date_range`:\
        \ Filter by the date the booking was cancelled\n- `checkout_date_range`: Filter by the checkout date of the booking\n\
        \nEach date range must include both `from` and `to` dates in ISO-8601 format (YYYY-MM-DD).\nResults are paginated\
        \ with a default page size of 100 and a maximum of 1000 records per page.\nUse the `page_token` from the response\
        \ to retrieve subsequent pages.\n\n**Example requests:**\n\nFilter by booking date:\n```json\n{\n  \"booking_date_range\"\
        : {\n    \"from\": \"2025-01-01\",\n    \"to\": \"2025-01-31\"\n  },\n  \"page_size\": 100\n}\n```\n\nFilter by cancellation\
        \ date:\n```json\n{\n  \"cancellation_date_range\": {\n    \"from\": \"2025-01-01\",\n    \"to\": \"2025-01-31\"\n\
        \  },\n  \"page_size\": 100\n}\n```\n\nFilter by checkout date:\n```json\n{\n  \"checkout_date_range\": {\n    \"\
        from\": \"2025-01-01\",\n    \"to\": \"2025-01-31\"\n  },\n  \"page_size\": 100\n}\n```\n"
      operationId: getConversions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionsResponse'
        '400':
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                conflicting_filters:
                  summary: Multiple date filters provided
                  description: Returned when more than one date filter is specified in the request
                  value:
                    errors:
                    - id: conflicting_parameters
                      name: Conflicting Parameters
                      message: Parameters booking_date_range, cancellation_date_range are mutually exclusive.
                    request_id: req_abc123xyz
                missing_filter:
                  summary: No date filter provided
                  description: Returned when no date filter is specified in the request
                  value:
                    errors:
                    - id: invalid_parameter
                      name: Invalid Parameter
                      message: 'Exactly one date filter must be specified: booking_date_range, cancellation_date_range, or
                        checkout_date_range'
                    request_id: req_abc123xyz
  /inventory/properties:
    post:
      tags:
      - Inventory
      summary: List accommodation properties
      description: 'Returns the Booking.com property inventory as a newline-delimited JSON (NDJSON) stream, one property object
        per line. Each record carries static content such as names, addresses, categories, images, ratings, and policies.
        API consumers use it to build and refresh a local copy of the inventory.


        ## Parameters

        - `languages` (required): a single BCP-47 language code (e.g. `fr`, `en-gb`). Localizable fields such as `name`, `description`,
        `location.city`, and `location.province` are returned in this language.

        - `updated_since` (optional): an ISO-8601 UTC timestamp with millisecond precision (e.g. `2026-04-20T00:00:00.000Z`).
        When set, only properties changed at or after this instant are returned (delta sync). When omitted, the full inventory
        is returned.

        - `image_size` (optional): the size token applied to every image URL. One of `thumbnail`, `thumbnail_large`, `standard`,
        or `large`. Defaults to `standard`.


        ## Response protocol

        Each line is one complete JSON object. A data row carries the property fields:


        ```

        {"property_id":1377102,"name":"Grand Central Hotel","description":"Featuring air-conditioned accommodation with a
        balcony, the property offers a private pool.","category":"hotel","number_of_rooms":1,"images":[{"url":"https://q-xx.bstatic.com/xdata/images/hotel/max500/681992303.jpg?k=<sig>&o=","type":"main"}],"language":"en-gb","updated_at":"2026-07-06T14:21:56.000Z","location":{"country":"nl","latitude":52.3702,"longitude":4.8952,"street_address":"Prins
        Hendrikkade 59","city":"Amsterdam","postal_code":"1012 AD","province":"North Holland"},"ratings":{"star_rating":5.0,"is_star_rating_estimated":false,"guest_review_score":8.6,"guest_review_count":1243},"policies":{"check_in_start_time":"15:00","check_in_end_time":"23:00","check_out_start_time":"07:00","check_out_end_time":"11:00","is_instant_bookable":true},"links":{"booking_url":"https://www.booking.com/hotel/nl/grand-central.html?aid=343802","booking_deep_link_url":"https://www.booking.com/hotel/nl/grand-central.html?aid=343802&utm_medium=deeplink"},"status":{"property_status":"open","last_active_date":"2026-07-07"}}

        ```


        The final line is a completion marker:


        ```

        {"_control":"complete","data_row_count":4055137}

        ```


        Every line may carry a `_control` field that marks the line type:

        - Data rows use `"_control":"data"`. This is the default and is omitted to reduce response size, so a line with no
        `_control` field is a data row.

        - The final line is the completion marker, `"_control":"complete"`. It reports `data_row_count`, the number of data
        rows emitted.


        To confirm the stream is complete, match `data_row_count` against the number of data rows received. If the completion
        marker is absent, the stream was truncated and the response must be discarded.


        > **Preview version: temporary constraints (subject to change without notice)**

        >

        > This endpoint is a preview version. Only one language per request is currently supported; requesting more than one
        returns HTTP 400. An API consumer that needs several languages sends one request per language, in parallel.


        ## Errors

        `400 Bad Request` with a JSON error body is returned for invalid input: more than one `languages` entry, an unsupported
        `image_size`, or a malformed `updated_since` timestamp.'
      operationId: streamProperties
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyStreamRequest'
        required: true
      responses:
        '200':
          description: NDJSON stream. Each line is a property stream record.
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/PropertyStreamRecord'
        '400':
          description: Invalid input (e.g. more than one language, unknown image_size, or a malformed updated_since timestamp).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Multiple languages:
                  description: Multiple languages
                  value:
                    request_id: b1a2c3d4e5f6
                    errors:
                    - id: invalid_parameter
                      name: Invalid Value
                      message: Parameter 'languages' is invalid. Only one language per request is supported (got 2)
  /demand-api-v2-compatible/reviews:
    get:
      tags:
      - demand-api-v2-compatible
      summary: List accommodation reviews
      description: 'Returns reviews for specified hotel_ids and filters. Available filters are country,

        language of the review, lower and upper bound of the review score, and timestamp of the last change to the review.

        The ''last_change'' output field will only be displayed if the last_change=... input parameter is set.

        '
      operationId: getHotelsReviews
      parameters:
      - name: reviewsInputDto
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/ReviewsInputDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewsResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReviewsResponseDto'
        '400':
          description: Invalid input, e.g. a missing, invalid, unknown, or conflicting parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: invalid_parameter
                  name: Invalid Value
                  message: Parameter 'hotel_ids' is invalid.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: server_error
                  name: Internal Server Error
                  message: We are experiencing technical difficulties. Please try again later.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
  /demand-api-v2-compatible/reviewScores:
    get:
      tags:
      - demand-api-v2-compatible
      summary: List accommodation review scores
      description: 'Gives information about review scores for specified hotel_ids and filter.

        The information consists of score breakdown per reviewer_type and review questions,

        and overall score distribution per score value (1 - 10).


        The available filter is input parameter reviewer_type=... .

        It allows generating review score information for just one reviewer type.


        Language in which the response is rendered can be controlled with the input parameter language=...

        (default: ''en''). Setting the language will reflect on the output fields question and review_score_word.


        One additional output field can be requested with input parameter extras=review_score_word.

        '
      operationId: getHotelsReviewScores
      parameters:
      - name: reviewScoresInputDto
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/ReviewScoresInputDto'
      - name: Accept
        in: header
        schema:
          type: string
          enum:
          - application/json, application/xml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOutputV2ReviewScoresOutputDto'
        '400':
          description: Invalid input, e.g. a missing, invalid, unknown, or conflicting parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: invalid_parameter
                  name: Invalid Value
                  message: Parameter 'hotel_ids' is invalid.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: server_error
                  name: Internal Server Error
                  message: We are experiencing technical difficulties. Please try again later.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
  /demand-api-v2-compatible/hotels:
    get:
      tags:
      - demand-api-v2-compatible
      summary: Get details of accommodations
      description: 'This call returns the hotel and room data. By default, only hotel_id is returned in the output.


        One of the argument: hotel_ids, city_ids, country_ids, region_ids, district_ids, chain_ids is mandatory.


        Additional data needs to be requested via extras parameter.


        The data is returned in English by default.

        '
      operationId: getHotels
      parameters:
      - name: hotelsInput
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/HotelsInputDto'
      - name: Accept
        in: header
        schema:
          type: string
          enum:
          - application/json, application/xml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOutputV2HotelsOutputDto'
        '400':
          description: Invalid input, e.g. a missing, invalid, unknown, or conflicting parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: invalid_parameter
                  name: Invalid Value
                  message: Parameter 'hotel_ids' is invalid.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: server_error
                  name: Internal Server Error
                  message: We are experiencing technical difficulties. Please try again later.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
  /demand-api-v2-compatible/hotelTypes:
    get:
      tags:
      - demand-api-v2-compatible
      summary: List hotel types
      description: This endpoint returns hotel types names and their translations. (EN is default)
      operationId: getHotelTypes
      parameters:
      - name: hotelTypeInputDTO
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/HotelTypeInputDTO'
      - name: Accept
        in: header
        schema:
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOutputV2HotelTypesOutputDto'
        '400':
          description: Invalid input, e.g. a missing, invalid, unknown, or conflicting parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: invalid_parameter
                  name: Invalid Value
                  message: Parameter 'hotel_ids' is invalid.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: server_error
                  name: Internal Server Error
                  message: We are experiencing technical difficulties. Please try again later.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
  /demand-api-v2-compatible/hotelThemeTypes:
    get:
      tags:
      - demand-api-v2-compatible
      summary: List hotel theme types
      description: This endpoint returns a list of hotel theme types (in English).
      operationId: getHotelThemeTypes
      parameters:
      - name: hotelThemeTypeInputDTO
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/HotelThemeTypeInputDTO'
      - name: Accept
        in: header
        schema:
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOutputV2HotelThemeTypesOutputDto'
        '400':
          description: Invalid input, e.g. a missing, invalid, unknown, or conflicting parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: invalid_parameter
                  name: Invalid Value
                  message: Parameter 'hotel_ids' is invalid.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: server_error
                  name: Internal Server Error
                  message: We are experiencing technical difficulties. Please try again later.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
  /demand-api-v2-compatible/hotelFacilityTypes:
    get:
      tags:
      - demand-api-v2-compatible
      summary: List facility room types
      description: This endpoint returns room facility types names and their translations (EN is default).
      operationId: getRoomFacilityTypes
      parameters:
      - name: hotelFacilityInputDto
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/HotelFacilityInputDto'
      - name: Accept
        in: header
        schema:
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOutputV2HotelFacilityTypeOutputDto'
        '400':
          description: Invalid input, e.g. a missing, invalid, unknown, or conflicting parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: invalid_parameter
                  name: Invalid Value
                  message: Parameter 'hotel_ids' is invalid.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: server_error
                  name: Internal Server Error
                  message: We are experiencing technical difficulties. Please try again later.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
  /demand-api-v2-compatible/hotelAvailability:
    get:
      tags:
      - demand-api-v2-compatible
      summary: List available hotel rooms
      description: 'This endpoint returns the cheapest available room for each hotel matching your check-in and check-out
        dates.

        You can search a specific list of up to 1000 hotels with `hotel_ids`, or an area with `latitude`, `longitude` and
        `radius` (the two are mutually exclusive).

        For each hotel you get whether the price includes breakfast or other meals and whether it can be cancelled for free.

        Request the `room_details` extra for a per-room price breakdown, and use `add_filtered_rate`/`options` to filter the
        results.


        String enum values (such as `user_platform`, `extras`, `options`, `add_filtered_rate`, `order_by` and `order_dir`)
        are case-insensitive. `language` accepts the lowercase codes listed below.

        '
      operationId: getHotelAvailability
      parameters:
      - name: checkin
        in: query
        required: true
        schema:
          type: string
          description: The arrival date.
          format: date
      - name: checkout
        in: query
        required: true
        schema:
          type: string
          description: The departure date. Must be later than {checkin}. Must be between 1 and 30 days after {checkin}.
          format: date
      - name: guest_country
        in: query
        required: true
        schema:
          type: string
          description: Guest country code (ISO 3166-1 alpha-2). Used to display the most accurate prices and price details
            for guests from that country.
          example: nl
      - name: hotel_ids
        in: query
        schema:
          maxItems: 1000
          minItems: 0
          type: array
          description: 'Limit the result to up to 1000 specific hotels that have availability for the given guests and dates.

            Mutually exclusive with `latitude`/`longitude`: use either a hotel list or an area search, not both.

            '
          example:
          - 96969
          items:
            type: integer
            format: int32
      - name: latitude
        in: query
        schema:
          maximum: 90
          minimum: -90
          multipleOf: 1.0e-05
          type: number
          description: 'Latitude for an area search, used together with `longitude` and `radius`.

            Requires `longitude`; cannot be combined with `hotel_ids`.

            '
          format: double
      - name: longitude
        in: query
        schema:
          maximum: 180
          minimum: -180
          multipleOf: 1.0e-05
          type: number
          description: 'Longitude for an area search, used together with `latitude` and `radius`.

            Requires `latitude`; cannot be combined with `hotel_ids`.

            '
          format: double
      - name: radius
        in: query
        schema:
          maximum: 100
          minimum: 15
          type: number
          description: Search radius in km around `latitude`/`longitude`. Only applies to an area search. Minimum and default
            15, maximum 100.
          format: double
          default: 15
      - name: room1
        in: query
        schema:
          type: string
          description: 'Guests per room, as a comma-separated list: `A` for each adult and the age (0-17) for each child (e.g.
            `A,A,5` = two adults and a 5-year-old).

            For multi-room searches, repeat the parameter per room as `room1`, `room2`, ... up to `room30`.

            '
      - name: no_rooms
        in: query
        schema:
          minimum: 1
          type: integer
          description: 'Splits a single guest group into this many rooms automatically. Only applied when exactly one room
            group is provided and the value is between 2 and the number of adults inclusive; larger values have no effect.

            '
          format: int32
      - name: currency
        in: query
        schema:
          type: string
          description: Return prices in this currency (ISO 4217 code).
          example: EUR
      - name: language
        in: query
        schema:
          type: string
          description: The user's language.
          default: en-gb
          enum:
          - ar
          - bg
          - ca
          - cs
          - da
          - de
          - el
          - en
          - en-gb
          - en-us
          - es
          - es-ar
          - es-mx
          - et
          - fi
          - fr
          - he
          - hi
          - hr
          - hu
          - id
          - is
          - it
          - ja
          - ka
          - ko
          - lt
          - lv
          - ms
          - nl
          - 'no'
          - pl
          - pt-br
          - pt-pt
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - th
          - tl
          - tr
          - uk
          - vi
          - zh
          - zh-cn
          - zh-tw
      - name: user_platform
        in: query
        schema:
          type: string
          description: The user's platform.
          enum:
          - ANDROID
          - DESKTOP
          - IOS
          - MOBILE
          - TABLET
      - name: genius
        in: query
        schema:
          maximum: 3
          minimum: 0
          type: integer
          description: Genius loyalty level (0-3) used to include Genius rates the partner is eligible for. Defaults to 0
            (no Genius rates).
          format: int32
          default: 0
      - name: extras
        in: query
        schema:
          type: array
          description: The extra items for this request. See the documentation for more details about each extra.
          items:
            type: string
            description: The extra items for this request. See the documentation for more details about each extra.
            enum:
            - HOTEL_DETAILS
            - HOTEL_AMENITIES
            - ROOM_DETAILS
            - ROOM_AMENITIES
            - ROOM_POLICIES
            - PAYMENT_TERMS
            - ADD_CHEAPEST_BREAKFAST_RATE
            - PPT
      - name: options
        in: query
        schema:
          type: array
          description: The list of options to filter the results.
          items:
            type: string
            description: The list of options to filter the results.
            enum:
            - NO_DORMS
            - IS_24HR
      - name: add_filtered_rate
        in: query
        schema:
          type: array
          description: The list of rates to filter the results.
          items:
            type: string
            description: The list of rates to filter the results.
            enum:
            - BREAKFAST
            - FREE_CANCELLATION
      - name: order_by
        in: query
        schema:
          type: string
          description: The way to order your results. When ordering by distance, make sure to specify latitude and longitude.
          default: RANKING
          enum:
          - DISTANCE
          - POPULARITY
          - PRICE
          - RANKING
          - REVIEW_SCORE
          - STARS
      - name: order_dir
        in: query
        schema:
          type: string
          description: The direction you wish for your order_by parameter to be ordered in.
          default: ASC
          enum:
          - ASC
          - DESC
      - name: rows
        in: query
        schema:
          maximum: 1000
          type: integer
          description: The maximum number of results to return.
          format: int32
      - name: page
        in: query
        schema:
          type: string
          description: Pagination token used to retrieve the next page of results. Obtained from `next_page`.
      - name: Accept
        in: header
        schema:
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        hotel_id:
                          type: integer
                          description: The unique identifier of this hotel.
                          format: int32
                        hotel_currency_code:
                          type: string
                          description: The currency code of the hotel's currency.
                        price:
                          multipleOf: 0.01
                          type: number
                          description: The display price of the room in this hotel.
                          format: double
                          example: 100
                        net_price:
                          multipleOf: 0.01
                          type: number
                          description: The net price (price without charges) of the room in this hotel.
                          format: double
                          example: 90
                        rooms:
                          type: array
                          description: List of available rooms. Only included when room details are requested.
                          items:
                            type: object
                            properties:
                              room_name:
                                type: string
                              refundable:
                                type: boolean
                              deposit_required:
                                type: boolean
                              breakfast_included:
                                type: boolean
                              room_id:
                                type: integer
                                format: int64
                              num_rooms_available_at_this_price:
                                type: integer
                                format: int32
                              price:
                                type: number
                                format: double
                              deal_tagging:
                                type: object
                                properties:
                                  discount_percentage:
                                    type: integer
                                    format: int32
                                  public_price:
                                    type: number
                                    format: double
                                  deal_name:
                                    type: string
                                  platform:
                                    type: string
                              refundable_until:
                                type: string
                              children:
                                type: array
                                items:
                                  type: string
                              adults:
                                type: integer
                                format: int32
                              room_type_id:
                                type: integer
                                format: int64
                              net_price:
                                type: number
                                format: double
                              block_id:
                                type: string
                              all_inclusive:
                                type: boolean
                              half_board:
                                type: boolean
                              full_board:
                                type: boolean
                              extra_charge:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    currency:
                                      type: string
                                    charge_amount:
                                      type: number
                                      format: double
                                    amount:
                                      type: number
                                      format: double
                                    type:
                                      type: string
                                    name:
                                      type: string
                                    name_id:
                                      type: integer
                                      format: int32
                                    charge_price_mode:
                                      type: string
                                    excluded:
                                      type: boolean
                                    other_currency:
                                      type: object
                                      properties:
                                        currency:
                                          type: string
                                        amount:
                                          type: number
                                          format: double
                                    is_conditional:
                                      type: boolean
                              mcid:
                                type: integer
                                format: int32
                              ppt:
                                type: string
                                description: Pricing Product Tag indicating applied pricing products (e.g. G1GM = Genius L1
                                  + Geo + Mobile)
                        review_nr:
                          type: integer
                          description: The number of reviews of the hotel.
                          format: int32
                        stars:
                          type: string
                          description: The star rating of the hotel.
                        review_score:
                          type: number
                          description: The review score of the hotel, in the range 1..10.
                          format: double
                        review_score_word:
                          type: string
                          description: The review score of the hotel in words.
                        hotel_name:
                          type: string
                          description: The name of the hotel.
                        address:
                          type: string
                          description: The address of the hotel.
                        postcode:
                          type: string
                          description: The postcode or zipcode of the hotel.
                        country:
                          type: string
                          description: The country that the hotel is located in.
                        default_language:
                          type: string
                          description: The default language.
                        checkin_time:
                          type: object
                          description: The checkin time window for a property.
                          properties:
                            from:
                              type: string
                              description: The time from when checkin starts at this property.
                              example: '14:00'
                            until:
                              type: string
                              description: The time until when checkin can be done at this property.
                              example: '23:00'
                        photo:
                          type: string
                          description: The url of the main photo of this hotel.
                        cheapest_breakfast_rate:
                          type: object
                          properties:
                            price:
                              multipleOf: 0.01
                              type: number
                              description: The display price of the cheapest breakfast rate.
                              format: double
                              example: 120
                            net_price:
                              multipleOf: 0.01
                              type: number
                              description: The net price (price without charges) of the cheapest breakfast rate.
                              format: double
                              example: 110
                            rooms:
                              type: array
                              description: The room details for the cheapest breakfast rate.
                              items:
                                type: object
                                properties:
                                  room_name:
                                    type: string
                                  refundable:
                                    type: boolean
                                  deposit_required:
                                    type: boolean
                                  breakfast_included:
                                    type: boolean
                                  room_id:
                                    type: integer
                                    format: int64
                                  num_rooms_available_at_this_price:
                                    type: integer
                                    format: int32
                                  price:
                                    type: number
                                    format: double
                                  deal_tagging:
                                    type: object
                                    properties:
                                      discount_percentage:
                                        type: integer
                                        format: int32
                                      public_price:
                                        type: number
                                        format: double
                                      deal_name:
                                        type: string
                                      platform:
                                        type: string
                                  refundable_until:
                                    type: string
                                  children:
                                    type: array
                                    items:
                                      type: string
                                  adults:
                                    type: integer
                                    format: int32
                                  room_type_id:
                                    type: integer
                                    format: int64
                                  net_price:
                                    type: number
                                    format: double
                                  block_id:
                                    type: string
                                  all_inclusive:
                                    type: boolean
                                  half_board:
                                    type: boolean
                                  full_board:
                                    type: boolean
                                  extra_charge:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        currency:
                                          type: string
                                        charge_amount:
                                          type: number
                                          format: double
                                        amount:
                                          type: number
                                          format: double
                                        type:
                                          type: string
                                        name:
                                          type: string
                                        name_id:
                                          type: integer
                                          format: int32
                                        charge_price_mode:
                                          type: string
                                        excluded:
                                          type: boolean
                                        other_currency:
                                          type: object
                                          properties:
                                            currency:
                                              type: string
                                            amount:
                                              type: number
                                              format: double
                                        is_conditional:
                                          type: boolean
                                  mcid:
                                    type: integer
                                    format: int32
                                  ppt:
                                    type: string
                                    description: Pricing Product Tag indicating applied pricing products (e.g. G1GM = Genius
                                      L1 + Geo + Mobile)
                        cheapest_filtered_rate:
                          type: object
                          properties:
                            price:
                              multipleOf: 0.01
                              type: number
                              description: The display price of the cheapest filtered rate.
                              format: double
                              example: 120
                            net_price:
                              multipleOf: 0.01
                              type: number
                              description: The net price (price without charges) of the cheapest filtered rate.
                              format: double
                              example: 110
                            rooms:
                              type: array
                              description: The room details for the cheapest filtered rate.
                              items:
                                type: object
                                properties:
                                  room_name:
                                    type: string
                                  refundable:
                                    type: boolean
                                  deposit_required:
                                    type: boolean
                                  breakfast_included:
                                    type: boolean
                                  room_id:
                                    type: integer
                                    format: int64
                                  num_rooms_available_at_this_price:
                                    type: integer
                                    format: int32
                                  price:
                                    type: number
                                    format: double
                                  deal_tagging:
                                    type: object
                                    properties:
                                      discount_percentage:
                                        type: integer
                                        format: int32
                                      public_price:
                                        type: number
                                        format: double
                                      deal_name:
                                        type: string
                                      platform:
                                        type: string
                                  refundable_until:
                                    type: string
                                  children:
                                    type: array
                                    items:
                                      type: string
                                  adults:
                                    type: integer
                                    format: int32
                                  room_type_id:
                                    type: integer
                                    format: int64
                                  net_price:
                                    type: number
                                    format: double
                                  block_id:
                                    type: string
                                  all_inclusive:
                                    type: boolean
                                  half_board:
                                    type: boolean
                                  full_board:
                                    type: boolean
                                  extra_charge:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        currency:
                                          type: string
                                        charge_amount:
                                          type: number
                                          format: double
                                        amount:
                                          type: number
                                          format: double
                                        type:
                                          type: string
                                        name:
                                          type: string
                                        name_id:
                                          type: integer
                                          format: int32
                                        charge_price_mode:
                                          type: string
                                        excluded:
                                          type: boolean
                                        other_currency:
                                          type: object
                                          properties:
                                            currency:
                                              type: string
                                            amount:
                                              type: number
                                              format: double
                                        is_conditional:
                                          type: boolean
                                  mcid:
                                    type: integer
                                    format: int32
                                  ppt:
                                    type: string
                                    description: Pricing Product Tag indicating applied pricing products (e.g. G1GM = Genius
                                      L1 + Geo + Mobile)
                        hotel_url:
                          type: string
                          description: URL of the property's page on Booking.com.
        '400':
          description: Invalid input, e.g. a missing, invalid, unknown, or conflicting parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: invalid_parameter
                  name: Invalid Value
                  message: Parameter 'hotel_ids' is invalid.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: server_error
                  name: Internal Server Error
                  message: We are experiencing technical difficulties. Please try again later.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
  /demand-api-v2-compatible/blockAvailability:
    get:
      tags:
      - demand-api-v2-compatible
      summary: List all bookable rooms at a property
      description: 'This endpoint is where you find a list of all bookable or available rooms at a property.

        A room can have multiple blocks, as a block is a combination of the meal, cancellation policy, occupancy and other
        things.

        You can find detailed information about one hotel per search (detail_level)

        which will return most of the information needed to replicate the booking.com property page.


        If you want to search multiple hotels, you can, but you get less detail.

        For searching multiple hotels, it is recommended to use hotelAvailability.

        '
      operationId: getBlockAvailability
      parameters:
      - name: blockInput
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/BlockAvailabilityInputDto'
      - name: Accept
        in: header
        schema:
          type: string
          enum:
          - application/json, application/xml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockAvailabilityResponseDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BlockAvailabilityResponseDto'
        '400':
          description: Invalid input, e.g. a missing, invalid, unknown, or conflicting parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: invalid_parameter
                  name: Invalid Value
                  message: Parameter 'hotel_ids' is invalid.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
              example:
                meta:
                  ruid: b1a2c3d4e5f6
                  account_id: '123432'
                errors:
                - id: server_error
                  name: Internal Server Error
                  message: We are experiencing technical difficulties. Please try again later.
            application/xml:
              schema:
                $ref: '#/components/schemas/V2Error'
components:
  schemas:
    ConversionsRequest:
      type: object
      description: 'Request object for retrieving conversion data.


        **Important:** Exactly one date filter must be provided. The date filters are mutually exclusive -

        specifying more than one will result in a 400 Bad Request error with `conflicting_parameters`.


        Available date filters (choose exactly one):

        - `booking_date_range`: Filter by when the booking was made

        - `cancellation_date_range`: Filter by when the booking was cancelled

        - `checkout_date_range`: Filter by the checkout date

        '
      oneOf:
      - required:
        - booking_date_range
        properties:
          booking_date_range:
            allOf:
            - $ref: '#/components/schemas/DateRange'
            - description: 'Filter conversions by the date the booking was made.

                **Mutually exclusive** with cancellation_date_range and checkout_date_range.

                '
      - required:
        - cancellation_date_range
        properties:
          cancellation_date_range:
            allOf:
            - $ref: '#/components/schemas/DateRange'
            - description: 'Filter conversions by the date the booking was cancelled. Only returns cancelled bookings.

                **Mutually exclusive** with booking_date_range and checkout_date_range.

                '
      - required:
        - checkout_date_range
        properties:
          checkout_date_range:
            allOf:
            - $ref: '#/components/schemas/DateRange'
            - description: 'Filter conversions by the checkout date of the booking.

                **Mutually exclusive** with booking_date_range and cancellation_date_range.

                '
      properties:
        page_size:
          type: integer
          format: int32
          description: Number of results per page. Default is 100, maximum is 1000.
          default: 100
          minimum: 1
          maximum: 1000
          example: 100
        page_token:
          type: string
          description: Token for retrieving the next page of results. Obtained from the previous response's pagination.next_page_token.
          example: ''
    DateRange:
      type: object
      description: Date range for filtering conversions. Both 'from' and 'to' dates are required.
      required:
      - from
      - to
      properties:
        from:
          type: string
          format: date
          description: Start date of the range in ISO-8601 format (YYYY-MM-DD).
          example: '2025-01-01'
        to:
          type: string
          format: date
          description: End date of the range in ISO-8601 format (YYYY-MM-DD). Must be equal to or after the 'from' date.
          example: '2025-01-31'
    ConversionsResponse:
      type: object
      description: Response object containing conversion data, pagination info, and metadata.
      properties:
        conversions:
          type: array
          description: List of conversion records matching the search criteria.
          items:
            $ref: '#/components/schemas/Conversion'
        pagination:
          $ref: '#/components/schemas/ConversionsPagination'
        metadata:
          $ref: '#/components/schemas/ConversionsMetadata'
    Conversion:
      type: object
      description: A single conversion record representing a booking.
      properties:
        booking_date:
          type: string
          format: date-time
          description: The date and time when the booking was made (ISO 8601 datetime).
          example: '2025-01-15T14:30:00Z'
        cancellation_date:
          type: string
          format: date-time
          description: The date and time when the booking was cancelled, if applicable (ISO 8601 datetime).
          example: '2025-01-16T10:00:00Z'
        booking_reference:
          type: string
          description: Unique reference identifier for the booking.
          example: '1234567890'
        checkin_date:
          type: string
          format: date
          description: The check-in date for the booking (YYYY-MM-DD).
          example: '2025-02-01'
        checkout_date:
          type: string
          format: date
          description: The check-out date for the booking (YYYY-MM-DD).
          example: '2025-02-05'
        label:
          type: string
          description: Custom label associated with the booking, typically used for tracking campaigns or sources.
          example: campaign_xyz
        booking_status:
          type: string
          description: Current status of the booking.
          example: confirmed
          enum:
          - confirmed
          - cancelled
          - no_show
        commission_amount:
          type: string
          description: The commission amount for this booking.
          example: '25.50'
        commission_currency:
          type: string
          description: The currency of the commission amount (ISO 4217 currency code).
          example: EUR
        device_type:
          type: string
          description: The type of device used to make the booking.
          example: mobile
          enum:
          - desktop
          - mobile
    ConversionsPagination:
      type: object
      description: Pagination information for the conversions response.
      properties:
        next_page_token:
          type: string
          description: Token to use for retrieving the next page of results. Empty if there are no more pages.
          example: eyJwYWdlIjogMn0=
        total_results:
          type: integer
          format: int32
          description: Total number of conversion records matching the search criteria.
          example: 150
        total_pages:
          type: integer
          format: int32
          description: Total number of pages available.
          example: 2
        random_page_access:
          type: boolean
          description: Indicates whether random page access is supported. If false, only sequential pagination is available.
          example: false
    ConversionsMetadata:
      type: object
      description: Metadata about the conversions response.
      properties:
        request_id:
          type: string
          description: Unique identifier for this request, useful for debugging and support.
          example: req_abc123xyz
        timestamp:
          type: string
          format: date-time
          description: The timestamp when the response was generated (ISO 8601 datetime).
          example: '2025-01-19T10:30:00Z'
        result_count:
          type: integer
          format: int32
          description: Number of conversion records returned in this response.
          example: 50
    ErrorResponse:
      type: object
      description: Standard error response format for API errors.
      properties:
        errors:
          type: array
          description: List of errors that occurred during request processing.
          items:
            $ref: '#/components/schemas/ErrorDetail'
        request_id:
          type: string
          description: Unique identifier for this request, useful for debugging and support.
          example: req_abc123xyz
        account_id:
          type: string
          description: Account ID that triggered request, useful for debugging and support.
          example: '1234654'
    ErrorDetail:
      type: object
      description: Details of a single error.
      properties:
        id:
          type: string
          description: Machine-readable error identifier.
          example: invalid_parameter
        name:
          type: string
          description: Human-readable error name.
          example: Invalid Value
        message:
          type: string
          description: Detailed error message explaining what went wrong.
          example: The request contains an invalid parameter.
    ReviewsInputDto:
      properties:
        hotel_ids:
          type: array
          description: List of hotel ids for which reviews should be displayed.
          items:
            type: integer
            format: int32
            description: List of hotel ids for which reviews should be displayed.
        language:
          type: string
          description: "Limits reviews to those written in this language (default: 'en').\n Also sets the language of extras=review_score_word.\n"
          enum:
          - ar
          - bg
          - ca
          - cs
          - da
          - de
          - el
          - en
          - en-gb
          - en-us
          - es
          - es-ar
          - es-mx
          - et
          - fi
          - fr
          - he
          - hi
          - hr
          - hu
          - id
          - is
          - it
          - ja
          - ka
          - ko
          - lt
          - lv
          - ms
          - nl
          - 'no'
          - pl
          - pt-br
          - pt-pt
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - th
          - tl
          - tr
          - uk
          - vi
          - zh
          - zh-cn
          - zh-tw
        country:
          type: string
          description: " Limits reviews to those written by bookers from the given country.\n This code is defined by the\
            \ ISO 3166-1 alpha-2 standard (ISO2) as described here: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2.\n"
          example: nl
          pattern: ^[a-z]{2}$
        offset:
          type: integer
          format: int32
          default: 0
          description: The number of rows to offset the results by.
          minimum: 0
        rows:
          type: integer
          format: int32
          default: 10
          description: The maximum number of rows to return.
          minimum: 1
        last_change:
          type: string
          description: 'Limits the reviews to those changed after the given date in Europe/Amsterdam time zone. Format: ''yyyy-MM-dd
            HH:mm:ss''.'
          example: '2025-11-20 14:05:30'
          pattern: ^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):[0-5]\d:[0-5]\d$
        score_lower_bound:
          type: integer
          format: int32
          description: "Limits the reviews to those having score greater or equal to this value.\n Possible values are natural\
            \ numbers in range [1 - 10].\n"
          maximum: 10
          minimum: 1
        score_upper_bound:
          type: integer
          format: int32
          description: "Limits the reviews to those having score lesser or equal to this value.\n Possible values are natural\
            \ numbers in range [1 - 10].\n"
          maximum: 10
          minimum: 1
        extras:
          type: string
          description: "Specify here what extra items of the result should be included.\n See the endpoint description for\
            \ more detailed information about each extra.\n"
          enum:
          - REVIEW_SCORE_WORD
      required:
      - hotel_ids
    ReviewOutputDto:
      properties:
        hotel_id:
          type: integer
          format: int32
          description: Id of the reviewed hotel.
        average_score:
          type: number
          format: double
          description: Average score for this review.
        country:
          type: string
          description: Reviewer's location represented by a two-letter ISO country code.
        headline:
          type: string
          description: Headline or summary of the review.
        hotel_url:
          type: string
          description: URL of the hotel's page on Booking.com.
        language:
          type: string
          description: "Language that the review is in.\n Please check the \"Possible Values\" section of the documentation\
            \ for the supported language codes.\n"
        pros:
          type: string
          description: Positive comments from this review.
        cons:
          type: string
          description: Negative comments from this review.
        review_id:
          type: integer
          format: int64
          description: Unique ID of the review.
        date:
          type: string
          description: 'Date of the review in Europe/Amsterdam time zone. Format: ''yyyy-MM-dd HH:mm:ss''.'
          example: '2025-11-20 14:05:30'
        last_change:
          type: string
          description: 'Date of the last change to the review in Europe/Amsterdam time zone. Returned only if ''last_change''
            filter is added.

            Format: ''yyyy-MM-dd HH:mm:ss''.

            '
          example: '2025-11-20 15:05:30'
        text_meets_guidelines:
          type: boolean
          description: 'Set to true when review meets the guidelines. The review text will be removed if it doesn''t meet
            guidelines

            '
        author:
          $ref: '#/components/schemas/ReviewerOutputDto'
        review_score_word:
          type: string
          description: Text version of the review score.
    ReviewerOutputDto:
      description: Information about the author of this review.
      properties:
        country:
          type: string
          description: Two-letter ISO code of the reviewer's country.
        name:
          type: string
          description: Reviewer's name.
        type:
          type: string
          description: Reviewer type.
    ReviewsResponseDto:
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        result:
          type: array
          items:
            $ref: '#/components/schemas/ReviewOutputDto'
    ReviewScoresInputDto:
      required:
      - hotel_ids
      type: object
      properties:
        hotel_ids:
          type: array
          description: List of hotel ids for which review score information should be displayed.
          items:
            type: integer
            description: List of hotel ids for which review score information should be displayed.
            format: int32
        affiliate_id:
          type: integer
          description: Can be used to specify the affiliate id that should be used instead of the default one.
          format: int32
        language:
          type: string
          description: 'Code of the language used to render response.

            Please check the "Possible Values" section of the documentation for the accepted language codes.

            '
          enum:
          - ar
          - bg
          - ca
          - cs
          - da
          - de
          - el
          - en
          - en-gb
          - en-us
          - es
          - es-ar
          - es-mx
          - et
          - fi
          - fr
          - he
          - hi
          - hr
          - hu
          - id
          - is
          - it
          - ja
          - ka
          - ko
          - lt
          - lv
          - ms
          - nl
          - 'no'
          - pl
          - pt-br
          - pt-pt
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - th
          - tl
          - tr
          - uk
          - vi
          - zh
          - zh-cn
          - zh-tw
        reviewer_type:
          type: string
          description: Limits reviews to those written by specific reviewer type.
          enum:
          - SOLO_TRAVELLER
          - YOUNG_COUPLE
          - MATURE_COUPLE
          - FAMILY_WITH_YOUNG_CHILDREN
          - FAMILY_WITH_OLDER_CHILDREN
          - WITH_FRIENDS
          - GROUP
          - REVIEW_CATEGORY_COUPLES
          - REVIEW_CATEGORY_FAMILIES
          - REVIEW_CATEGORY_GROUP_OF_FRIENDS
          - REVIEW_CATEGORY_BUSINESS_TRAVELLERS
    Meta:
      type: object
      properties:
        ruid:
          type: string
    V2Error:
      type: object
      description: Standard error response format for demand-api-v2-compatible errors.
      properties:
        errors:
          type: array
          description: List of errors that occurred during request processing.
          items:
            $ref: '#/components/schemas/ErrorDetail'
        meta:
          $ref: '#/components/schemas/error_meta'
    error_meta:
      type: object
      properties:
        ruid:
          type: string
        account_id:
          type: string
          description: Account ID that triggered request, useful for debugging and support.
          example: '123432'
    QuestionDto:
      type: object
      properties:
        count:
          type: integer
          description: Number of reviewers that answered the question.
          format: int32
        question:
          type: string
          description: Localized question text. See language=... input parameter.
        question_literal:
          type: string
          description: Question literal.
        score:
          multipleOf: 0.1
          type: number
          description: Average score that reviewers provided in response to this question.
          format: double
          example: 8.5
      description: Review scores per question.
    ResponseOutputV2ReviewScoresOutputDto:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        result:
          type: array
          items:
            $ref: '#/components/schemas/ReviewScoresOutputDto'
    ReviewScoresOutputDto:
      type: object
      properties:
        hotel_id:
          type: integer
          description: Id of the hotel.
          format: int64
        hotel_url:
          type: string
          description: URL of the hotel's page on Booking.com.
          example: https://www.booking.com/hotel/nl/amsterdam-canal-hotel.html?tab=4&aid=338734&label=hotel-472820_reviewscore
        score_breakdown:
          type: array
          description: A breakdown of scores per reviewer type and review question.
          items:
            $ref: '#/components/schemas/ScoreBreakdown'
        score_distribution:
          type: array
          description: A breakdown of all review scores into buckets 1 - 10.
          items:
            $ref: '#/components/schemas/ScoreDistribution'
    ScoreBreakdown:
      type: object
      properties:
        average_score:
          multipleOf: 0.1
          type: number
          description: Average score from this reviewer type.
          format: double
          example: 8.5
        count:
          type: integer
          description: Number of responses from this reviewer type.
          format: int32
        question:
          type: array
          description: Review scores per question.
          items:
            $ref: '#/components/schemas/QuestionDto'
        reviewer_type:
          type: string
          description: Reviewer type.
      description: A breakdown of scores per reviewer type and review question.
    ScoreDistribution:
      type: object
      properties:
        count:
          type: integer
          description: Total number of reviews in this bucket.
          format: int64
          example: 435
        percent:
          multipleOf: 0.01
          type: number
          description: Percent of score distribution that went into this bucket.
          format: double
          example: 17.76
        score:
          type: integer
          description: The bucket's review score value (1 - 10).
          format: int32
          example: 10
      description: A breakdown of all review scores into buckets 1 - 10.
    HotelsInputDto:
      type: object
      properties:
        hotel_ids:
          type: array
          description: A list of up to 1000 hotel ids.
          items:
            type: integer
            description: A list of up to 1000 hotel ids.
            format: int32
        language:
          type: string
          description: 'The language code to return the results in.

            Please check the "Possible Values" section of the documentation for the accepted language codes.

            '
          enum:
          - ar
          - bg
          - ca
          - cs
          - da
          - de
          - el
          - en
          - en-gb
          - en-us
          - es
          - es-ar
          - es-mx
          - et
          - fi
          - fr
          - he
          - hi
          - hr
          - hu
          - id
          - is
          - it
          - ja
          - ka
          - ko
          - lt
          - lv
          - ms
          - nl
          - 'no'
          - pl
          - pt-br
          - pt-pt
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - th
          - tl
          - tr
          - uk
          - vi
          - zh
          - zh-cn
          - zh-tw
        extras:
          type: array
          description: Returns extra bits of information about hotels.
          items:
            type: string
            description: Returns extra bits of information about hotels.
            enum:
            - HOTEL_INFO
            - ROOM_INFO
            - KEY_COLLECTION_INFO
            - HOTEL_FACILITIES
            - HOTEL_PHOTOS
            - HOTEL_DESCRIPTION
        offset:
          type: integer
          description: 'The number of rows to offset the results by. NOTE: this needs to be 0 or a multiple of 100.'
          format: int32
        rows:
          type: integer
          description: 'The maximum number of rows to return. NOTE: this needs to be a multiple of 100.'
          format: int32
    BedroomDto:
      type: object
      properties:
        bed_configurations:
          type: array
          items:
            $ref: '#/components/schemas/BedConfigurationDto'
    HotelDataDto:
      type: object
      properties:
        address:
          type: string
          description: The street address of the hotel.
        city_id:
          type: integer
          description: Id of the city where this property is located.
          format: int32
        country:
          type: string
          description: Two-letter ISO country code of the hotel.
        location:
          $ref: '#/components/schemas/CoordinatesDto'
        zip:
          type: string
          description: Hotel ZIP code
        currency:
          type: string
          description: Three-letter ISO currency code for the hotel.
        checkin_checkout_times:
          $ref: '#/components/schemas/CheckinCheckoutTimesDto'
        hotel_photos:
          type: array
          description: Photos specific information of the hotel.
          items:
            $ref: '#/components/schemas/HotelPhotoDto'
        hotel_description:
          type: string
          description: The description text for this hotel.
        url:
          type: string
          description: URL of the hotel's page on Booking.com.
        deep_link_url:
          type: string
          description: Deep link mobile app URL.
          example: booking://hotel/10004?affiliate_id=956509
        region_ids:
          type: array
          description: List of region_ids that the hotel belongs to
          items:
            type: integer
            description: List of region_ids that the hotel belongs to
            format: int32
        number_of_reviews:
          type: integer
          description: Number of reviews for this hotel.
          format: int32
        review_score:
          multipleOf: 0.1
          type: number
          description: Review score of this hotel.
          format: double
          example: 7.1
        spoken_languages:
          type: array
          description: Languages spoken by the hotel's staff
          items:
            type: string
            description: Languages spoken by the hotel's staff
      description: Hotel specific information.
    HotelPhotoDto:
      type: object
      properties:
        main_photo:
          type: boolean
          description: Is this the main hotel photo.
        url_original:
          type: string
          description: Url of the photo with max width of 500 pixels.
      description: Photos specific information of the hotel.
    HotelsOutputDto:
      type: object
      properties:
        hotel_data:
          $ref: '#/components/schemas/HotelDataDto'
        hotel_id:
          type: integer
          description: Unique ID to represent this hotel.
          format: int32
        room_data:
          type: array
          description: This block has room data for this hotel.
          items:
            $ref: '#/components/schemas/RoomDataDto'
    ResponseOutputV2HotelsOutputDto:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        result:
          type: array
          items:
            $ref: '#/components/schemas/HotelsOutputDto'
    RoomDataDto:
      type: object
      properties:
        room_id:
          type: integer
          format: int32
        room_info:
          $ref: '#/components/schemas/RoomInfoDto'
      description: This block has room data for this hotel.
    RoomInfoDto:
      type: object
      properties:
        bathroom_count:
          type: number
          format: double
        bedroom_count:
          type: number
          format: double
        bedrooms:
          type: array
          items:
            $ref: '#/components/schemas/BedroomDto'
        occupancy:
          $ref: '#/components/schemas/RoomOccupancyDto'
        room_size:
          $ref: '#/components/schemas/RoomSizeDto'
        room_type_id:
          type: integer
          format: int32
    RoomOccupancyDto:
      type: object
      properties:
        allow_cribs_and_extra_beds:
          type: boolean
        max_adults:
          type: integer
          format: int32
        max_children:
          type: integer
          format: int32
        max_cribs:
          type: integer
          format: int32
        max_extra_beds:
          type: integer
          format: int32
        max_occupancy:
          type: integer
          format: int32
    RoomSizeDto:
      type: object
      properties:
        metre_square:
          type: number
          format: double
    HotelTypeInputDTO:
      type: object
      properties:
        hotel_type_ids:
          type: array
          description: Limit the results to these hotel types.
          items:
            type: integer
            description: Limit the results to these hotel types.
            format: int32
        languages:
          type: array
          description: 'Limit the results to these languages.

            Please check the "Possible Values" section of the documentation for the accepted language codes.

            '
          items:
            type: string
            description: 'Limit the results to these languages.

              Please check the "Possible Values" section of the documentation for the accepted language codes.

              '
            enum:
            - ar
            - bg
            - ca
            - cs
            - da
            - de
            - el
            - en
            - en-gb
            - en-us
            - es
            - es-ar
            - es-mx
            - et
            - fi
            - fr
            - he
            - hi
            - hr
            - hu
            - id
            - is
            - it
            - ja
            - ka
            - ko
            - lt
            - lv
            - ms
            - nl
            - 'no'
            - pl
            - pt-br
            - pt-pt
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - th
            - tl
            - tr
            - uk
            - vi
            - zh
            - zh-cn
            - zh-tw
        offset:
          type: integer
          description: 'The number of rows to offset the results by. NOTE: this needs to be 0 or a multiple of 100.'
          format: int32
        row:
          type: integer
          description: 'The maximum number of rows to return. NOTE: this needs to be a multiple of 100.'
          format: int32
    HotelTypesOutputDto:
      type: object
      properties:
        translations:
          type: array
          items:
            $ref: '#/components/schemas/TranslationDto'
        name:
          type: string
        hotel_type_id:
          type: integer
          format: int32
    ResponseOutputV2HotelTypesOutputDto:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        result:
          type: array
          items:
            $ref: '#/components/schemas/HotelTypesOutputDto'
    TranslationDto:
      type: object
      properties:
        language:
          type: string
        name:
          type: string
    HotelThemeTypeInputDTO:
      type: object
      properties:
        theme_ids:
          type: array
          description: Limit the results to these themes.
          items:
            type: integer
            description: Limit the results to these themes.
            format: int32
        offset:
          type: integer
          description: 'The number of rows to offset the results by. NOTE: this needs to be 0 or a multiple of 100.'
          format: int32
        row:
          type: integer
          description: 'The maximum number of rows to return. NOTE: this needs to be a multiple of 100.'
          format: int32
    HotelThemeTypesOutputDto:
      type: object
      properties:
        theme_id:
          type: integer
          description: Unique ID for this theme.
          format: int32
        name:
          type: string
          description: Name of the theme.
          example: Beach/Seaside
    ResponseOutputV2HotelThemeTypesOutputDto:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        result:
          type: array
          items:
            $ref: '#/components/schemas/HotelThemeTypesOutputDto'
    HotelFacilityInputDto:
      type: object
      properties:
        facility_type_ids:
          type: array
          description: Limit the results to these facility types.
          items:
            type: integer
            description: Limit the results to these facility types.
            format: int32
        hotel_facility_type_ids:
          type: array
          description: Limit the results to these hotel facility types.
          items:
            type: integer
            description: Limit the results to these hotel facility types.
            format: int32
        languages:
          type: array
          description: 'Limit the results to these languages.

            Please check the "Possible Values" section of the documentation for the accepted language codes.

            '
          items:
            type: string
            description: 'Limit the results to these languages.

              Please check the "Possible Values" section of the documentation for the accepted language codes.

              '
            enum:
            - ar
            - bg
            - ca
            - cs
            - da
            - de
            - el
            - en
            - en-gb
            - en-us
            - es
            - es-ar
            - es-mx
            - et
            - fi
            - fr
            - he
            - hi
            - hr
            - hu
            - id
            - is
            - it
            - ja
            - ka
            - ko
            - lt
            - lv
            - ms
            - nl
            - 'no'
            - pl
            - pt-br
            - pt-pt
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - th
            - tl
            - tr
            - uk
            - vi
            - zh
            - zh-cn
            - zh-tw
    HotelFacilityTypeOutputDto:
      type: object
      properties:
        hotel_facility_type_id:
          type: integer
          description: Unique ID of the hotel facility type.
          format: int32
        facility_type_id:
          type: integer
          description: The type of facility this is, mapped from FacilityTypes.
          format: int32
        name:
          type: string
          description: The name of this facility type in english.
          example: Parking
        translations:
          type: array
          description: The fields and their translations in various languages. They are only shown if we have the translations
            available.
          items:
            $ref: '#/components/schemas/TranslationDto'
    ResponseOutputV2HotelFacilityTypeOutputDto:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        result:
          type: array
          items:
            $ref: '#/components/schemas/HotelFacilityTypeOutputDto'
    BlockAvailabilityInputDto:
      required:
      - checkin
      - checkout
      - guest_cc
      - hotel_ids
      type: object
      properties:
        hotel_ids:
          type: array
          description: Hotel ID(s) to check availability for.
          items:
            type: integer
            description: Hotel ID(s) to check availability for.
            format: int32
          maxItems: 1000
          minItems: 1
        checkin:
          type: string
          description: The arrival date.
          format: date
        checkout:
          type: string
          description: The departure date. Must be later than {checkin}.
          format: date
        guest_cc:
          type: string
          description: Guest country code. Used to accurately display the best prices and price details for people from that
            country.
        currency:
          type: string
          description: Returns the prices in this currency, in addition to the hotel currency.
        extras:
          type: array
          description: The extra items for this request. See the documentation for more details about each extra.
          items:
            type: string
            description: The extra items for this request. See the documentation for more details about each extra.
            enum:
            - ADDON_TYPE
            - NET_PRICE
            - RACK_RATES
            - MAX_ROOMS_IN_RESERVATION
            - SMOKING_STATUS
            - IMPORTANT_INFORMATION
            - ALL_EXTRA_CHARGES
            - ADDITIONAL_ROOM_INFO
            - GROUP_RECOMMENDATIONS
            - ROOM_TYPE_ID
            - CC_REQUIRED
            - SHOW_CONDITIONAL_CHARGES
            - POSTCARD_PHOTO
            - EXTRA_CHARGES
            - PHOTOS
            - INTERNET
            - IF_DOMESTIC_NO_CC
            - FACILITIES
            - EXTRA_BEDS
            - CANCELLATION_INFO
            - MEALPLANS
            - DEAL_LASTM
            - PAYMENT_TERMS
            - ALL_PRICES
            - BLOCK_PAYMENT_OPTIONS
            - MAX_CHILDREN_FREE_AGE
            - NUMBER_OF_ROOMS_LEFT
            - MAX_CHILDREN_FREE
            - POLICIES
            - PREPAYMENT_INFO
            - DEAL_FLASH
            - IF_NO_CC_ALLOWED
            - DEAL_SMART
            - ADDONS
            - ADDRESS_REQUIRED
            - PPT
        block_ids:
          type: array
          description: Return only availability hits with these particular block IDs
          example: 5555555_55555555_5_5_5,6666666_66666666_6_6_6
          items:
            type: string
            description: Return only availability hits with these particular block IDs
            example: 5555555_55555555_5_5_5,6666666_66666666_6_6_6
        guest_ip:
          type: string
          description: 'Guest IP address for determining guest country

            and showing the best price for that user and obeying laws regarding the display of taxes and fees.

            '
        guest_qty:
          type: array
          description: 'Number of guests for which blocks will be found.

            The total number of guests is used for calculating city tax charges.

            It is specified as an array of guest numbers.


            NOTE: either this or `room1` needs to be provided.

            '
          items:
            type: integer
            format: int32
            description: 'Number of guests for which blocks will be found.

              The total number of guests is used for calculating city tax charges.

              It is specified as an array of guest numbers.


              NOTE: either this or `room1` needs to be provided.

              '
            minimum: 1
        room1:
          type: array
          description: 'Guests per room, as a comma-separated list: `A` for each adult and the age (0-17) for each child (e.g.
            `A,A,5` = two adults and a 5-year-old).

            For multi-room searches, repeat the parameter per room as `room1`, `room2`, ... up to `room30`.


            NOTE: either this or `guest_qty` needs to be provided.

            '
          items:
            type: string
            description: 'Guests per room, as a comma-separated list: `A` for each adult and the age (0-17) for each child
              (e.g. `A,A,5` = two adults and a 5-year-old).

              For multi-room searches, repeat the parameter per room as `room1`, `room2`, ... up to `room30`.


              NOTE: either this or `guest_qty` needs to be provided.

              '
        language:
          type: string
          description: 'Specify the language for: block_id, policies, room texts and hotel descriptions.


            Note: not all text is translated in all languages.

            Please check the "Possible Values" section of the documentation for the accepted language codes.

            '
          enum:
          - ar
          - bg
          - ca
          - cs
          - da
          - de
          - el
          - en
          - en-gb
          - en-us
          - es
          - es-ar
          - es-mx
          - et
          - fi
          - fr
          - he
          - hi
          - hr
          - hu
          - id
          - is
          - it
          - ja
          - ka
          - ko
          - lt
          - lv
          - ms
          - nl
          - 'no'
          - pl
          - pt-br
          - pt-pt
          - pt
          - ro
          - ru
          - sk
          - sl
          - sr
          - sv
          - th
          - tl
          - tr
          - uk
          - vi
          - zh
          - zh-cn
          - zh-tw
        user_platform:
          type: string
          description: The user's platform.
          enum:
          - DESKTOP
          - MOBILE
        limit_incremental_prices:
          type: integer
          format: int32
          description: 'Limit the number of incremental prices returned per block. Added for meta partners that only need
            the first one.

            '
        allow_past:
          type: boolean
          description: Allow yesterday's checkin date when combined with is24hr.
        is24hr:
          type: boolean
          description: Only show hotels with 24-hour front desk. Combined with allow_past, allows yesterday's checkin.
        genius:
          type: integer
          format: int32
          description: 'Genius level (1, 2, or 3) for accessing Genius rates. Defaults to 0 (no genius). Level 1: 10% discount.
            Level 2: 15% discount + perks (free breakfast, room upgrades). Level 3: 20% discount.'
          maximum: 3
          minimum: 0
    BlockAvailabilityOutputDto:
      type: object
      properties:
        block:
          type: array
          description: 'The object containing all the relevant information for the combination of room, policy, meal and occupancy
            that determines the price."

            A block is the unique entity you book with booking.com.'
          items:
            $ref: '#/components/schemas/BlockOutputDto'
        can_pay_now:
          type: boolean
          description: Boolean value set to "true" if payment can be made during reservation process or "false" if it can
            not.
        checkin:
          type: string
          description: 'The date that was searched for as checkin. Format: YYYY-MM-DD'
        checkout:
          type: string
          description: 'The date that was searched for as checkout. Format: YYYY-MM-DD'
        direct_payment:
          type: boolean
          description: Boolean value set to "true" if the direct payment is available or "false" if it is not.
        hotel_id:
          type: integer
          description: Booking.com hotel ID. The unique identifier of this hotel.
          format: int64
        hotel_url:
          type: string
          description: URL of the hotel's page on Booking.com.
          example: https://www.booking.com/hotel/nl/toren.html
        is_flash_deal:
          type: boolean
          description: Boolean value set to "true" for a flash deal or "false" if not a flash deal.
        policies:
          type: array
          description: Hotel level policies. Displayed when extras=policies is requested.
          items:
            $ref: '#/components/schemas/HotelPolicyDto'
        max_rooms_in_reservation:
          type: integer
          format: int32
          description: The max number of rooms in one reservation. Displayed when extras=max_rooms_in_reservation is requested.
    BlockOutputDto:
      type: object
      properties:
        block_id:
          type: string
          description: Unique ID value for the block.
        breakfast_included:
          type: boolean
          description: Boolean value set to "true" if breakfast is included or "false" if it is not included in this block.
        min_price:
          allOf:
          - $ref: '#/components/schemas/BlockAvailabilityPriceDto'
          - description: Minimum currency and price.
        incremental_price:
          type: array
          description: A list of prices for the block. Each item shows the price for multiple bookings of the block.
          items:
            $ref: '#/components/schemas/BlockAvailabilityPriceDto'
        room_id:
          type: integer
          format: int64
          description: Unique ID value for the room in this block.
        deposit_required:
          type: boolean
        refundable:
          type: boolean
          description: Boolean value set to "true" if the rate is refundable or "false" if it is not refundable.
        refundable_until:
          type: string
          description: 'Refunds are permitted until this date. Format: YYYY-MM-DD HH:MM:SS +/-GMT'
        min_rate_nr_available_blocks:
          type: integer
          format: int32
          description: The minimum number of stays for rate blocks
        max_occupancy:
          type: integer
          format: int32
        name:
          type: string
          description: The name of the room.
        room_description:
          type: string
          description: Room description.
        lunch_included:
          type: boolean
          description: Boolean value set to "true" if lunch is included or "false" if it is not included in this block.
        full_board:
          type: boolean
          description: Boolean value set to "true" if the block mealplan is full board or "false" if it is not.
        half_board:
          type: boolean
          description: Boolean value set to "true" if the block mealplan is half board or "false" if it is not.
        dinner_included:
          type: boolean
          description: Boolean value set to "true" if dinner is included or "false" if it is not included in this block.
        all_inclusive:
          type: boolean
          description: Boolean value set to "true" if the block mealplan is all inclusive or "false" if it is not.
        taxes:
          type: string
          description: Taxes that are included in the price for the block.
        number_of_rooms_left:
          type: integer
          format: int32
          description: The number of rooms left.
        max_children_free:
          type: integer
          format: int32
          description: The number of children that can stay free of charge
        max_adults:
          type: integer
          format: int32
          description: The maximum number of adults allowed to stay in this room for this price.
        room_type_id:
          type: integer
          format: int64
          description: Identifier for the type of this room. Displayed when extras=room_type_id is requested.
        smoking:
          type: integer
          format: int32
          description: 'Smoking status for the block. Possible values are: 0 - undefined, 1 - smoking, 2 - non-smoking, 3
            - both options available.'
        max_children_free_age:
          type: integer
          format: int32
          description: The age of children that can stay free of charge
        deal_tagging:
          $ref: '#/components/schemas/DealTaggingDto'
        free_wifi:
          type: boolean
          description: Boolean value set to "true" if free wifi is provided or "false" if free wifi is not provided.
        internet_included:
          type: boolean
          description: Boolean value set to "true" if free internet is provided or "false" if free internet is not provided.
        mcid:
          type: integer
          format: int32
          description: A code that represents the ID of the price campaign
        ppt:
          type: string
          description: Pricing Product Tag indicating applied pricing products (e.g. G1GM = Genius L1 + Geo + Mobile)
        cancellation_info:
          type: array
          description: Cancellation information and schedule for the block
          items:
            $ref: '#/components/schemas/CancellationStageDto'
[...]
