openapi: 3.2.0
info:
  title: Booking Com Orders API
  version: '1.0'
  description: 'Operations tagged Orders across 2 of this provider''s published API definitions: booking-com-demand-api-3-1-openapi.yml, booking-com-demand-api-3-2-beta-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://demandapi.booking.com/3.1
  description: Production environment
- url: https://demandapi-sandbox.booking.com/3.1
  description: Sandbox environment
- url: https://demandapi.booking.com/3.2
  description: Production environment – use for live integrations.
- url: https://demandapi-sandbox.booking.com/3.2
  description: Sandbox environment – use for testing and validation.
security:
- BearerAuth: []
tags:
- name: Orders
  x-displayName: Orders
  description: 'Enables management of booking orders within the Demand API.


    Use these endpoints to preview and create new orders, check order details, cancel or modify existing orders. This collection is required to integrate booking and order management functionality.'
paths:
  /orders/preview:
    post:
      summary: Preview an order
      description: This endpoint returns the total final price with final charges, as well as the price breakdown and payment/cancellation policies for each product passed in the input.
      operationId: /orders/preview
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Orders
      requestBody:
        content:
          application/json:
            schema:
              title: OrdersPreviewInput
              type: object
              properties:
                booker:
                  title: OrdersPreviewBookerOutput
                  description: The booker's information.
                  type: object
                  properties:
                    country:
                      description: The booker country for showing the best price for that user and obeying laws regarding the display of taxes and fees.
                      type: string
                      pattern: ^[a-z]{2}$
                    platform:
                      description: The booker platform for showing the platform based deals and prices.
                      type: string
                      enum:
                      - android
                      - desktop
                      - ios
                      - mobile
                      - tablet
                    travel_purpose:
                      description: The travel purpose of the booker.
                      type: string
                      enum:
                      - business
                      - leisure
                    user_groups:
                      description: The user groups that the booker is a member of.
                      type: array
                      items:
                        type: string
                        enum:
                        - authenticated
                  required:
                  - country
                  - platform
                currency:
                  description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                  type: string
                  pattern: ^[A-Z]{3}$
                  example: EUR
                accommodation:
                  title: OrdersPreviewAccommodationInput
                  description: Input parameter with the checkin and checkout date and all the accommodation products to be ordered.
                  type: object
                  properties:
                    id:
                      description: A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details).
                      type: integer
                      minimum: 1
                    checkin:
                      description: The checkin date. Must be within 500 days in the future and in the format yyyy-mm-dd.
                      type: string
                      format: date
                    checkout:
                      description: The checkout date. Must be later than {checkin}. Must be between 1 and 90 days after {checkin}. Must be within 500 days in the future and in the format yyyy-mm-dd.
                      type: string
                      format: date
                    products:
                      type: array
                      items:
                        title: OrdersPreviewProductInput
                        description: Input parameter with the product id and the desired allocation for that product
                        type: object
                        properties:
                          id:
                            description: Unique ID of the product.
                            type: string
                          allocation:
                            title: OrdersPreviewAccommodationAllocationOutput
                            description: The exact allocation of guests to a room.
                            type: object
                            properties:
                              children:
                                description: The children ages for this room.
                                type: array
                                items:
                                  type: integer
                                  minimum: 0
                                  maximum: 17
                              number_of_adults:
                                description: The number of adults for this room.
                                type: integer
                                minimum: 1
                            required:
                            - number_of_adults
              required:
              - booker
              - accommodation
            example:
              booker:
                country: nl
                platform: mobile
                travel_purpose: leisure
                user_groups:
                - authenticated
              currency: EUR
              accommodation:
                id: 6745031
                checkin: '!START_DATE!'
                checkout: '!END_DATE!'
                products:
                - id: '674503106_275710478_0_2_0'
                  allocation:
                    number_of_adults: 1
                    children:
                    - 8
                - id: '674503113_275710486_0_1_0'
                  allocation:
                    number_of_adults: 1
                    children: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                title: OrdersPreviewOutput
                type: object
                properties:
                  request_id:
                    description: Uniquely identifies the request. Please provide this identifier when contacting support.
                    type: string
                  data:
                    title: OrdersPreviewDataOutput
                    description: ''
                    type: object
                    properties:
                      accommodation:
                        title: OrdersPreviewAccommodationOutput
                        description: The products to order related to an accommodation
                        type: object
                        properties:
                          id:
                            description: A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details).
                            type: integer
                            minimum: 1
                          currency:
                            title: OrdersPreviewCurrencyOutput
                            type: object
                            properties:
                              accommodation:
                                description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                                type: string
                                pattern: ^[A-Z]{3}$
                                example: EUR
                              booker:
                                description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                                type: string
                                pattern: ^[A-Z]{3}$
                                example: EUR
                          general_policies:
                            properties:
                              payment:
                                title: AccommodationsProductPaymentTimingsDates
                                description: ''
                                type: object
                                properties:
                                  pay_online_now:
                                    title: AccommodationsPayOnlineNow
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      dates:
                                        description: Schedule specifying the instalments for paying the order for the "pay_online_now" option. For each,entry in the schedule, a charge will be made at the time of that entry.
                                        type: array
                                        items:
                                          title: AccommodationsPaymentSchedule
                                          type: object
                                          properties:
                                            at:
                                              description: The date at which this instalment will be charged.
                                              type: string
                                              format: date
                                            price:
                                              description: The amount charged in this instalment.
                                              title: AccommodationsPriceCurrency
                                              type: object
                                              properties:
                                                accommodation_currency:
                                                  type: number
                                                  format: double
                                                  multipleOf: 0.01
                                                  exclusiveMinimum: 0
                                                booker_currency:
                                                  type: number
                                                  format: double
                                                  multipleOf: 0.01
                                                  exclusiveMinimum: 0
                                      method_required:
                                        description: Whether a payment method is required for this payment timing.
                                        type: boolean
                                      methods:
                                        title: AccommodationsPaymentMethods
                                        type: object
                                        description: The payment methods available for the payment timing selected.
                                        properties:
                                          airplus:
                                            description: Whether airplus can be used as a payment method for this order.
                                            type: boolean
                                          cards:
                                            description: The cards available to pay.
                                            type: array
                                            items:
                                              description: A signed integer number that uniquely identifies a payment type. Examples of payment types are the different credit and debit cards. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/cards" target="_blank">common/payments/cards</a>.
                                              type: integer
                                              minimum: 1
                                          wallet:
                                            description: Whether wallet can be used as a payment method for this order.
                                            type: boolean
                                        nullable: true
                                  pay_online_later:
                                    title: AccommodationsPayOnlineLater
                                    type: object
                                    properties:
                                      dates:
                                        description: Schedule specifying the instalments for paying the order for this product for the "pay_online_later" option.  For each entry in the schedule, a charge will be made at the time of that entry.
                                        type: array
                                        items:
                                          title: AccommodationsPaymentSchedule
                                          type: object
                                          properties:
                                            at:
                                              description: The date at which this instalment will be charged.
                                              type: string
                                              format: date
                                            price:
                                              description: The amount charged in this instalment.
                                              title: AccommodationsPriceCurrency
                                              type: object
                                              properties:
                                                accommodation_currency:
                                                  type: number
                                                  format: double
                                                  multipleOf: 0.01
                                                  exclusiveMinimum: 0
                                                booker_currency:
                                                  type: number
                                                  format: double
                                                  multipleOf: 0.01
                                                  exclusiveMinimum: 0
                                      method_required:
                                        description: Whether a payment method is required for this payment timing.
                                        type: boolean
                                      methods:
                                        title: AccommodationsPaymentMethods
                                        type: object
                                        description: The payment methods available for the payment timing selected.
                                        properties:
                                          airplus:
                                            description: Whether airplus can be used as a payment method for this order.
                                            type: boolean
                                          cards:
                                            description: The cards available to pay.
                                            type: array
                                            items:
                                              description: A signed integer number that uniquely identifies a payment type. Examples of payment types are the different credit and debit cards. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/cards" target="_blank">common/payments/cards</a>.
                                              type: integer
                                              minimum: 1
                                          wallet:
                                            description: Whether wallet can be used as a payment method for this order.
                                            type: boolean
                                        nullable: true
                                    nullable: true
                                  pay_at_the_property:
                                    title: AccommodationsPayAtTheProperty
                                    type: object
                                    properties:
                                      dates:
                                        description: Schedule specifying the instalments for paying the order for this product for the "pay_at_the_property" option.  For each entry in the schedule, a charge will be made at the time of that entry.
                                        type: array
                                        items:
                                          title: AccommodationsPaymentSchedule
                                          type: object
                                          properties:
                                            at:
                                              description: The date at which this instalment will be charged.
                                              type: string
                                              format: date
                                            price:
                                              description: The amount charged in this instalment.
                                              title: AccommodationsPriceCurrency
                                              type: object
                                              properties:
                                                accommodation_currency:
                                                  type: number
                                                  format: double
                                                  multipleOf: 0.01
                                                  exclusiveMinimum: 0
                                                booker_currency:
                                                  type: number
                                                  format: double
                                                  multipleOf: 0.01
                                                  exclusiveMinimum: 0
                                      method_required:
                                        description: Whether a payment method is required for this payment timing.
                                        type: boolean
                                      methods:
                                        title: AccommodationsPaymentMethods
                                        type: object
                                        description: The payment methods available for the payment timing selected.
                                        properties:
                                          airplus:
                                            description: Whether airplus can be used as a payment method for this order.
                                            type: boolean
                                          cards:
                                            description: The cards available to pay.
                                            type: array
                                            items:
                                              description: A signed integer number that uniquely identifies a payment type. Examples of payment types are the different credit and debit cards. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/cards" target="_blank">common/payments/cards</a>.
                                              type: integer
                                              minimum: 1
                                          wallet:
                                            description: Whether wallet can be used as a payment method for this order.
                                            type: boolean
                                        nullable: true
                                    nullable: true
                          price:
                            title: OrdersPreviewProductSumPriceOutput
                            description: The price components of all the products selected summed
                            type: object
                            properties:
                              base:
                                description: The sum base price of all products selected. Does not include any extra charges.
                                title: AccommodationsPriceCurrency
                                type: object
                                properties:
                                  accommodation_currency:
                                    type: number
                                    format: double
                                    multipleOf: 0.01
                                    exclusiveMinimum: 0
                                  booker_currency:
                                    type: number
                                    format: double
                                    multipleOf: 0.01
                                    exclusiveMinimum: 0
                              chargeable_online:
                                description: The price that will be charged by Booking.com when online payments are used. This field does not apply to the "pay_at_the_property" timing.
                                title: AccommodationsPriceCurrency
                                type: object
                                properties:
                                  accommodation_currency:
                                    type: number
                                    format: double
                                    multipleOf: 0.01
                                    exclusiveMinimum: 0
                                  booker_currency:
                                    type: number
                                    format: double
                                    multipleOf: 0.01
                                    exclusiveMinimum: 0
                              total:
                                description: The total sum price. Includes all extra charges of all products.
                                title: AccommodationsPriceCurrency
                                type: object
                                properties:
                                  accommodation_currency:
                                    type: number
                                    format: double
                                    multipleOf: 0.01
                                    exclusiveMinimum: 0
                                  booker_currency:
                                    type: number
                                    format: double
                                    multipleOf: 0.01
                                    exclusiveMinimum: 0
                              extra_charges:
                                description: The sum of charges for all products selected, grouped by charge type.
                                conditional:
                                  description: The sum of conditional charges for all products selected, grouped by charge type.
                                  type: array
                                  items:
                                    $ref: ../accommodations/dataTypes.json#/conditionalChargeMultiCurrencySummary
                                non_conditional:
                                  description: The sum of non-conditional charges for all products selected, grouped by charge type.
                                  type: array
                                  items:
                                    $ref: ../accommodations/dataTypes.json#/conditionalChargeMultiCurrencySummary
                          products:
                            type: array
                            items:
                              title: OrdersPreviewProductOutput
                              description: The returned information of the product selected
                              type: object
                              properties:
                                id:
                                  description: Unique ID of the product.
                                  type: string
                                bundle:
                                  description: The bundle ID of the product comprising of value added products.
                                  type: integer
                                deal:
                                  title: Deal
                                  description: This specifies the deal tagging for the product.
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    discount_percentage:
                                      description: Discount percentage of the applied deal.
                                      type: integer
                                      minimum: 1
                                    public_price:
                                      description: Original price of this product, before applying any discounts.
                                      type: number
                                      format: double
                                      multipleOf: 0.01
                                      exclusiveMinimum: 0
                                    tags:
                                      description: The tags of all the applied deals.
                                      type: array
                                      items:
                                        type: string
                                        enum:
                                        - black_friday
                                        - limited_time_deal
                                        - logged_in_deal
                                        - mobile_rate
                                        - seasonal_deal
                                inventory:
                                  title: InventoryOutput
                                  type: object
                                  properties:
                                    third_party:
                                      type: boolean
                                      description: Boolean value is "true" if the product is facilitated by a Booking.com partner company and "false" otherwise.
                                    type:
                                      description: Type of inventory - either net or sell rates.
                                      type: string
                                      enum:
                                      - net
                                      - sell
                                policies:
                                  title: AccommodationsProductDetailedPoliciesMultiCurrency
                                  description: The policies for this product.
                                  type: object
                                  properties:
                                    cancellation:
                                      description: The cancellation policy schedule for this product.
                                      type: array
                                      items:
                                        title: AccommodationsProductDetailedCancellationPolicyMultiCurrency
                                        type: object
                                        properties:
                                          from:
                                            description: The time from which this cancellation fee applies. `now` means from booking time.
                                            oneOf:
                                            - type: string
                                              format: date-time
                                            - type: string
                                              pattern: now
                                            - type: 'null'
                                          price:
                                            description: The cancellation fee.
                                            title: AccommodationsPriceCurrency
                                            type: object
                                            properties:
                                              accommodation_currency:
                                                type: number
                                                format: double
                                                multipleOf: 0.01
                                                exclusiveMinimum: 0
                                              booker_currency:
                                                type: number
                                                format: double
                                                multipleOf: 0.01
                                                exclusiveMinimum: 0
                                    meal_plan:
                                      title: AccommodationsProductMealPlanPolicy
                                      description: The meal plan policy for this product.
                                      type: object
                                      properties:
                                        meals:
                                          description: The meals included in the meal plan.
                                          type: array
                                          items:
                                            type: string
                                            enum:
                                            - breakfast
                                            - dinner
                                            - lunch
                                        plan:
                                          description: The meal plan included in this product.
                                          type: string
                                          enum:
                                          - all_inclusive
                                          - breakfast_included
                                          - full_board
                                          - half_board
                                          - no_plan
                                price:
                                  title: OrdersPreviewProductPriceOutput
                                  description: The price components of this product. 'base' and 'extra_charges' are returned only when explicitly requested (via 'extras=extra_charges').
                                  type: object
                                  properties:
                                    base:
                                      description: The base price. It does not include any extra charges.
                                      title: AccommodationsPriceCurrency
                                      type: object
                                      properties:
                                        accommodation_currency:
                                          type: number
                                          format: double
                                          multipleOf: 0.01
                                          exclusiveMinimum: 0
                                        booker_currency:
                                          type: number
                                          format: double
                                          multipleOf: 0.01
                                          exclusiveMinimum: 0
                                    chargeable_online:
                                      description: The price that will be charged by Booking.com when online payments are used. This field does not apply to the "pay_at_the_property" timing.
                                      title: AccommodationsPriceCurrency
                                      type: object
                                      properties:
                                        accommodation_currency:
                                          type: number
                                          format: double
                                          multipleOf: 0.01
                                          exclusiveMinimum: 0
                                        booker_currency:
                                          type: number
                                          format: double
                                          multipleOf: 0.01
                                          exclusiveMinimum: 0
                                    extra_charges:
                                      title: OrdersPreviewProductExtraChargesOutput
                                      description: The charge breakdown. Includes taxes and fees.
                                      type: object
                                      properties:
                                        conditional:
                                          description: Charges that might apply under a specific condition.
                                          type: array
                                          items:
                                            title: AccommodationsConditionalChargeMultiCurrency
                                            description: Charges that might apply under a specific condition.
                                            type: object
                                            properties:
                                              charge:
                                                description: 'A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/accommodations/accommodations/constants" target="_blank">accommodations/constants</a>.'
                                                type: integer
                                                minimum: 0
                                              condition:
                                                description: A signed integer number that uniquely identifies the condition ID. Find the full list in the <a href="/demand/docs/accommodations/prices-accommodations" target="_blank">Pricing guidelines</a>.
                                                type:
                                                - integer
                                                - 'null'
                                                minimum: 0
                                              mode:
                                                description: The mode of this charge. Determines how the price is calculated.
                                                type: string
                                                enum:
                                                - calculated_amount
                                                - percentage
                                                - per_day
                                                - per_night
                                                - per_person_per_day
                                                - per_person_per_night
                                                - per_person_per_stay
                                                - per_stay
                                              percentage:
                                                description: The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.
                                                type: number
                                                multipleOf: 0.01
                                                exclusiveMinimum: 0
                                                nullable: true
                                              total_amount:
                                                description: The total price for this charge.
                                                title: AccommodationsPriceCurrency
                                                type: object
                                                properties:
                                                  accommodation_currency:
                                                    type: number
                                                    format: double
                                                    multipleOf: 0.01
                                                    exclusiveMinimum: 0
                                                  booker_currency:
                                                    type: number
                                                    format: double
                                                    multipleOf: 0.01
                                                    exclusiveMinimum: 0
                                              unit_amount:
                                                description: The price per unit for this charge. Only applicable when 'mode' is 'per_day', 'per_night', 'per_person_per_day', 'per_person_per_night', or 'per_person_per_stay'.
                                                nullable: true
                                                title: AccommodationsPriceCurrency
                                                type: object
                                                properties:
                                                  accommodation_currency:
                                                    type: number
                                                    format: double
                                                    multipleOf: 0.01
                                                    exclusiveMinimum: 0
                                                  booker_currency:
                                                    type: number
                                                    format: double
                                                    multipleOf: 0.01
                                                    exclusiveMinimum: 0
                                        non_conditional:
                                          description: All non-conditional charges that will necessarily be paid
                                          type: array
                                          items:
                                            title: AccommodationsChargeMultiCurrency
                                            description: All non-conditional charges that will necessarily be paid
                                            type: object
                                            properties:
                                              charge:
                                                description: 'A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/accommodations/accommodations/constants" target="_blank">accommodations/constants</a>.'
                                                type: integer
                                                minimum: 0
                                              chargeable_online:
                                                description: Whether this charge is chargeable online or not. Not applicable to "pay_at_the_property" timing.
                                                type: boolean
                                              mode:
                                                description: The mode of this charge. Determines how the price is calculated.
                                                type: string
                                                enum:
                                                - calculated_amount
                                                - incalculable
                                                - percentage
                                                - per_day
                                                - per_night
                                                - per_person_per_day
                                                - per_person_per_night
                                                - per_person_per_stay
                                                - per_stay
                                              percentage:
                                                description: The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.
                                                type: number
                                                multipleOf: 0.01
                                                exclusiveMinimum: 0
                                                nullable: true
                                              total_amount:
                                                description: The total price for this charge.
                                                title: AccommodationsPriceCurrency
                                                type: object
                                                properties:
                                                  accommodation_currency:
                                                    type: number
                                                    format: double
                                                    multipleOf: 0.01
                                                    exclusiveMinimum: 0
                                                  booker_currency:
                                                    type: number
                                                    format: double
                                                    multipleOf: 0.01
                                                    exclusiveMinimum: 0
                                              unit_amount:
                                                description: The price per unit for this charge. Only applicable when 'mode' is 'per_day', 'per_night', 'per_person_per_day', 'per_person_per_night', or 'per_person_per_stay'.
                                                nullable: true
                                                title: AccommodationsPriceCurrency
                                                type: object
                                                properties:
                                                  accommodation_currency:
                                                    type: number
                                                    format: double
                                                    multipleOf: 0.01
                                                    exclusiveMinimum: 0
                                                  booker_currency:
                                                    type: number
                                                    format: double
                                                    multipleOf: 0.01
                                                    exclusiveMinimum: 0
                                    total:
                                      description: The total price. Includes all extra charges.
                                      title: AccommodationsPriceCurrency
                                      type: object
                                      properties:
                                        accommodation_currency:
                                          type: number
                                          format: double
                                          multipleOf: 0.01
                                          exclusiveMinimum: 0
                                        booker_currency:
                                          type: number
                                          format: double
                                          multipleOf: 0.01
                                          exclusiveMinimum: 0
                                room:
                                  description: A signed long number that uniquely identifies an accommodation property room. The full list can be obtained by calling [accommodations/details](#/accommodations/details).
                                  type: number
                                  minimum: 1
                                  nullable: true
                                third_party_inventory:
                                  description: Boolean value is "true" if the product is facilitated by a Booking.com partner company and "false" otherwise.
                                  type: boolean
                                occupancy_mismatch:
                                  description: "Details any mismatch between the requested occupancy and the product's capacity. \n-When one or more guests cannot be accommodated, the object contains those that can be accommodated (allocated) and those that cannot (unallocated). \n-If all requested guests fit, the object is null."
                                  title: OccupancyMismatchOutput
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    allocated:
                                      description: The guests from the original request that the product can accommodate.
                                      title: OccupancyOutput
                                      type: object
                                      properties:
                                        number_of_adults:
                                          description: The number of adults.
                                          type: integer
                                          minimum: 0
                                        children:
                                          description: The ages of the children. Null or absent if no children fit.
                                          type:
                                          - array
                                          - 'null'
                                          items:
                                            type: integer
                                            minimum: 0
                                            maximum: 17
                                      required:
                                      - number_of_adults
                                      - children
                                    unallocated:
                                      description: The guests from the original request that could not be accommodated by this product.
                                      title: OccupancyOutput
                                      type: object
                                      properties:
                                        number_of_adults:
                                          description: The number of adults.
                                          type: integer
                                          minimum: 0
                                        children:
                                          description: The ages of the children. Null or absent if no children fit.
                                          type:
                                          - array
                                          - 'null'
                                          items:
                                            type: integer
                                            minimum: 0
                                            maximum: 17
                                      required:
                                      - number_of_adults
                                      - children
                                  required:
                                  - allocated
                                  - unallocated
                                  example:
                                    allocated:
                                      number_of_adults: 1
                                      children: null
                                    unallocated:
                                      number_of_adults: 1
                                      children: null
                      order_token:
                        description: A token containing the necessary data to be used on subsequent requests to [orders/create].
                        type: string
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                  accommodation:
                    id: 6745031
                    currency:
                      accommodation: EUR
                      booker: null
                    general_policies:
                      payment:
                        pay_online_now:
                          dates:
                          - at: '!TODAY!'
                            price:
                              accommodation_currency: 177.65
                              booker_currency: null
                          method_required: false
                          methods:
                            airplus: true
                            cards:
                            - 1
                            - 2
                            - 3
                            wallet: true
                        pay_online_later:
                          dates:
                          - at: '!TODAY!'
                            price:
                              accommodation_currency: 0
                              booker_currency: null
                          - at: '!START_DATE-2!'
                            price:
                              accommodation_currency: 177.65
                              booker_currency: null
                          - at: '!START_DATE!'
                            price:
                              accommodation_currency: 0
                              booker_currency: null
                          method_required: false
                          methods:
                            airplus: true
                            cards:
                            - 1
                            - 2
                            - 3
                            - 5
                            wallet: true
                        pay_at_the_property:
                          dates:
                          - at: '!TODAY!'
                            price:
                              accommodation_currency: 0
                              booker_currency: null
                          - at: '!START_DATE!'
                            price:
                              accommodation_currency: 177.65
                              booker_currency: null
                          method_required: true
                          methods:
                            airplus: true
                            cards:
                            - 1
                            - 2
                            wallet: false
                    price:
                      base:
                        accommodation_currency: 100
                        booker_currency: null
                      chargeable_online:
                        accommodation_currency: 100
                        booker_currency: null
                      total:
                        accommodation_currency: 123
                        booker_currency: null
                      extra_charges:
                        conditional: []
                        non_conditional:
                        - charge: 142
                          chargeable_online: true
                          total_amount:
                            accommodation_currency: 6
                            booker_currency: null
                        - charge: 21
                          chargeable_online: false
                          total_amount:
                            accommodation_currency: 14.67
                            booker_currency: null
                        - charge: 22
                          chargeable_online: true
                          total_amount:
                            accommodation_currency: 11.41
                            booker_currency: null
                    products:
                    - id: '1000420_278556531_2_0_0'
                      bundle: null
                      deal: null
                      inventory:
                        third_party: false
                        type: sell
                      policies:
                        cancellation:
                        - from: now
                          price:
                            accommodation_currency: 0
                            booker_currency: null
                        - from: '!START_DATE-2!T22:00:00+00:00'
                          price:
                            accommodation_currency: 177.65
                            booker_currency: null
                        meal_plan:
                          meals: []
                          plan: no_plan
                      price:
                        base:
                          accommodation_currency: 155.96
                          booker_currency: null
                        chargeable_online:
                          accommodation_currency: 186.92
                          booker_currency: null
                        extra_charges:
                          conditional: []
                          non_conditional:
                          - charge: 142
                            chargeable_online: true
                            mode: per_person_per_night
                            percentage: null
                            total_amount:
                              accommodation_currency: 6
                              booker_currency: null
                            unit_amount: 3
                          - charge: 21
                            chargeable_online: false
                            mode: percentage
                            percentage: 9
                            total_amount:
                              accommodation_currency: 14.04
                              booker_currency: null
                            unit_amount: null
                          - charge: 22
                            chargeable_online: true
                            mode: percentage
                            percentage: 7
                            total_amount:
                              accommodation_currency: 10.92
                              booker_currency: null
                            unit_amount: null
                        total:
                          accommodation_currency: 186.92
                          booker_currency: null
                      third_party_inventory: false
                    - id: tpi-1000420_95127794_2_0_0
                      deal: null
                      inventory:
                        third_party: true
                        type: sell
                      policies:
                        cancellation:
                        - from: now
                          price:
                            accommodation_currency: 170
                            booker_currency: null
                        meal_plan:
                          meals: []
                          plan: no_plan
                      price:
                        base:
                          accommodation_currency: 162.98
                          booker_currency: null
                        extra_charges:
                          conditional:
                          - charge: 3
                            condition: 30
                            mode: per_stay
                            percentage: null
                            total_amount:
                              accommodation_currency: 10
                              booker_currency: null
                            unit_amount: null
                          non_conditional:
                          - charge: 142
                            mode: per_person_per_night
                            percentage: null
                            total_amount:
                              accommodation_currency: 6
                              booker_currency: null
                            unit_amount:
                              accommodation_currency: 3
                              booker_currency: null
                          - charge: 21
                            mode: percentage
                            percentage: 9
                            total_amount:
                              accommodation_currency: 14.67
                              booker_currency: null
                            unit_amount: null
                          - charge: 22
                            mode: percentage
                            percentage: 7
                            total_amount:
                              accommodation_currency: 11.41
                              booker_currency: null
                            unit_amount: null
                        total:
                          accommodation_currency: 195.06
                          booker_currency: null
                      third_party_inventory: true
                  order_token: '...'
    servers:
    - url: https://demandapi.booking.com/3.1
      description: Production environment
    - url: https://demandapi-sandbox.booking.com/3.1
      description: Sandbox environment
  /orders/create:
    post:
      summary: Create an order
      description: Use this endpoint to confirm the booking and proceed the payment.
      operationId: /orders/create
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Orders
      requestBody:
        content:
          application/json:
            schema:
              title: OrderCreateInput
              type: object
              properties:
                accommodation:
                  title: OrderCreateAccommodationInput
                  description: Additional information related to the accommodation order.
                  type: object
                  properties:
                    label:
                      description: A label for this order. This can be read back later while fetching this order details.
                      type: string
                    products:
                      description: ''
                      type: array
                      items:
                        title: OrderCreateProductInformationInput
                        description: Additional information related to each product related to the products in this order.
                        type: object
                        properties:
                          id:
                            description: ID for this product. `Please note that this MUST match the product IDs used for related /orders/preview request.`
                            type: string
                          bed_configuration:
                            description: Bed configuration ID to select for this product. `Please note that it can not be guaranteed that the selected bed_configuration will be available.`
                            type: string
                          guests:
                            description: The guest details for this product.
                            type: array
                            items:
                              title: OrderCreateGuestInput
                              type: object
                              properties:
                                email:
                                  description: The email address of the guest.
                                  type: string
                                name:
                                  description: The name of the guest.
                                  type: string
                              required:
                              - email
                              - name
                        required:
                        - id
                    remarks:
                      title: OrderCreateRemarksInput
                      description: Optional remarks from the guest.
                      type: object
                      properties:
                        estimated_arrival_time:
                          title: EstimatedArrivalTimeInput
                          description: Estimated arrival time of the guests.
                          type: object
                          properties:
                            hour:
                              description: Approximate hour of arrival to the hotel. Allowed values are from 0 to 23. This time should be within the hotel reception hours, or will be ignored otherwise with a warning will be appended to special_requests.
                              type: integer
                              minimum: 0
                              maximum: 23
                            next_day:
                              description: Set this to true, if the hour selected is for the day after checkin.
                              type: boolean
                              default: 'false'
                          required:
                          - hour
                        special_requests:
                          description: Optional comments or requests from the guest. Special requests cannot be guaranteed – but the property will do its best to meet your needs.
                          type: string
                booker:
                  title: OrderCreateBookerInput
                  description: The booker's information.
                  type: object
                  properties:
                    address:
                      title: OrderCreateAddressInput
                      description: The booker's address to be used for creating this order. All fields of this object are required if the /accommodations/details endpoint indicates that the booker's address is necessary by returning booker_address_required=true.
                      type: object
                      properties:
                        address_line:
                          description: The details of this address.
                          type: string
                        city:
                          description: The city for this address.
                          type: string
                        country:
                          description: The country for this address.
                          type: string
                          pattern: ^[a-z]{2}$
                          example: nl
                        post_code:
                          description: Post code for this address.
                          type: string
                      required:
                      - country
                    company:
                      description: The booker's company name.
                      type: string
                    email:
                      description: The booker's email address.
                      type: string
                    language:
                      description: 'A [IETF language tag code](https://en.wikipedia.org/wiki/IETF_language_tag) that uniquely identifies a supported human language or dialect. **Note:** Demand API only accepts lowercase for the language codes. Examples: "nl" for Dutch/Nederlands or "en-us" for English (US). To retrieve the full list of supported languages, call the `/common/languages` endpoint in the same Demand API version you are using.'
                      type: string
                      pattern: ^[a-z]{2}(-[a-z]{2})?$
                      example: en-us
                    name:
                      title: OrderCreateBookerNameInput
                      description: The name of the booker.
                      type: object
                      properties:
                        first_name:
                          type: string
                        last_name:
                          type: string
                      required:
                      - first_name
                      - last_name
                    telephone:
                      description: The booker's telephone number.
                      type: string
                  required:
                  - address
                  - email
                  - name
                  - telephone
                order_token:
                  description: A token containing the necessary data to be used for creating this order.
                  type: string
                payment:
                  title: OrderCreatePaymentInput
                  description: Payment related information for the order.
                  type: object
                  properties:
                    airplus:
                      description: All information related to airplus payment. `This is required if airplus is selected as payment method.`
                      type: object
                      properties:
                        dbi:
                          title: OrderCreateDbiInput
                          description: Descriptive billing information(dbi) details to pass to AirPlus.
                          type: object
                          properties:
                            accounting_code:
                              description: Accounting code to pass in descriptive billing information.
                              type: string
                              minLength: 1
                              maxLength: 17
                            accounting_unit:
                              description: Accounting unit to pass in descriptive billing information.
                              type: string
                              minLength: 1
                              maxLength: 17
                            cost_centre:
                              description: Cost centre to pass in descriptive billing information.
                              type: string
                              minLength: 1
                              maxLength: 17
                            department_code:
                              description: Department code to pass in descriptive billing information.
                              type: string
                              minLength: 1
                              maxLength: 17
                            employee_number:
                              description: Employee number to pass in descriptive billing information.
                              type: string
                              minLength: 1
                              maxLength: 17
                            internal_account:
                              description: Internal account to pass in descriptive billing information.
                              type: string
                              minLength: 1
                              maxLength: 17
                            order_number:
                              description: Order number to pass in descriptive billing information.
                              type: string
                              minLength: 1
                              maxLength: 17
                            project_number:
                              description: Project number to pass in descriptive billing information.
                              type: string
                              minLength: 1
                              maxLength: 17
                        number:
                          description: 12 digit Airplus Number.
                          type: string
                      required:
                      - number
                    business_information:
                      title: OrderCreateBusinessInformationInput
                      description: All business related information for billing and authorisation form. This must be included for the payments that require authorisation form.
                      type: object
                      properties:
                        authorisation_form:
                          title: OrderCreateAuthorisationFormInput
                          description: Information that is relevant for generating an authorisation form.
                          type: object
                          properties:
                            chargeable_items:
                              description: Items which can be charged using a provided virtual credit card.
                              type: array
                              items:
                                type: string
                                enum:
                                - alcohol
                                - breakfast
                                - food_beverage
                                - internet
                                - parking
                                - phone
                                - taxes
                        billing:
                          title: OrderCreateBillingInput
                          description: All information to be used in the invoice.
                          type: object
                          properties:
                            address:
                              title: OrderCreateBusinessAddressInput
                              description: The address to bill this reservation
                              type: object
                              properties:
                                address_line:
                                  description: The details of this address.
                                  type: string
                                city:
                                  description: The city for this address.
                                  type: string
                                country:
                                  description: The country for this address.
                                  type: string
                                  pattern: ^[a-z]{2}$
                                  example: nl
                                post_code:
                                  description: Post code for this address.
                                  type: string
                            email:
                              description: Email to send the invoice to.
                              type: string
                            vat:
                              description: VAT number to be used in the invoice.
                              type: string
                          required:
                          - email
                          - vat
                        company:
                          description: Company that will issue an authorisation form for the virtual credit card and used in the invoice.
                          type: string
                      required:
                      - company
                    card:
                      title: OrderCreateCardInput
                      description: Card information for executing the payment.
                      type: object
                      properties:
                        authentication:
                          title: OrderCreateCardAuthenticationInput
                          description: Card authentication information for executing the payment.
                          type: object
                          properties:
                            riskified:
                              title: OrderCreateRiskifiedInput
                              description: Riskified information for external fraud verification.
                              type: object
                              properties:
                                ip_address:
                                  description: The booker's IP address.
                                  type: string
                                  format: ipv4
                                session_id:
                                  description: Riskified provided session_id for external fraud verification.
                                  type: string
                              required:
                              - ip_address
                              - session_id
                            sca_exemption:
                              description: The type of SCA exemption to be applied to the payment.
                              type: string
                              enum:
                              - moto
                              - virtual
                            3d_secure:
                              title: OrderCreate3dSecureInput
                              description: 3-factor authentication information for the card.
                              type: object
                              properties:
                                authentication_value:
                                  description: Cardholder Authentication Verification Value.
                                  type: string
                                cavv:
                                  deprecated: true
                                  description: Deprecated. Do not use
                                  type: string
                                eci:
                                  description: The electronic commerce indicator.
                                  type: string
                                transaction:
                                  description: The unique ID assigned by the DS to identify a single transaction.
                                  type: string
                              required:
                              - authentication_value
                              - eci
                              - transaction
                        cardholder:
                          description: Name of the cardholder.
                          type: string
                        cvc:
                          description: 3 or 4 digits card validation code (CVC) of this card.
                          type: string
                        expiry_date:
                          description: 'Expiry date of the card. Format: YYYY-MM'
                          type: string
                        number:
                          description: Number of the card.
                          type: string
                      required:
                      - cardholder
                      - cvc
                      - expiry_date
                      - number
                    include_receipt:
                      description: This is used to determine whether to include payment `receipt_url` in the response or not.
                      type: boolean
                    method:
                      description: The payment method to be used for this order.
                      type: string
                      enum:
                      - airplus
                      - card
                      - wallet
                    timing:
                      description: Information about when to execute the payment.
                      type: string
                      enum:
                      - pay_at_the_property
                      - pay_online_later
                      - pay_online_now
                  required:
                  - timing
              required:
              - booker
              - order_token
              - payment
            example:
              accommodation:
                label: Sample label
                products:
                - id: '333'
                  bed_configuration: '123456'
                  guests:
                  - email: test.name@booking.com
                    name: Test Name
                remarks:
                  estimated_arrival_time:
                    hour: 12
                  special_requests: We will need an extra cot.
              booker:
                address:
                  address_line: Road-1, house-2
                  city: Amsterdam
                  country: nl
                  post_code: '11111'
                company: Booking B.V
                email: test.name@booking.com
                language: en-gb
                name:
                  first_name: Test
                  last_name: Name
                telephone: '12345678'
              order_token: sample-token
              payment:
                card:
                  cardholder: Test Name
                  cvc: '111'
                  expiry_date: 2030-10
                  number: '23333333333333'
                include_receipt: true
                method: card
                timing: pay_at_the_property
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                title: OrderCreateOutput
                type: object
                properties:
                  request_id:
                    description: Uniquely identifies the request. Please provide this identifier when contacting support.
                    type: string
                  data:
                    title: OrderCreateDataOutput
                    type: object
                    properties:
                      accommodation:
                        title: OrderCreateAccommodationOutput
                        description: All accommodation related information for this order.
                        type: object
                        properties:
                          order:
                            description: ID for this accommodation order.
                            type: string
                          pincode:
                            description: Pincode for this accommodation order.
                            type: string
                          reservation:
                            description: Reservation ID for this accommodation order.
                            type: integer
                            format: int64
                          third_party_inventory:
                            title: Third party inventory related information for the created order. This field is only available for third party inventory orders.
                            type: object
                            properties:
                              checkin_number:
                                description: The number required at the time of check-in. It allows guests to confirm their order at the accommodation.
                                type: string
                                example: '473026811'
                              confirmation_number:
                                description: The confirmation number, when used in conjunction with the pincode, helps verify the customer's order and facilitates efficient support during inquiries or troubleshooting.
                                type: string
                                example: '12365478936925814787'
                      payment:
                        title: OrderCreatePaymentOutput
                        description: All payment related information for this order.
                        type: object
                        properties:
                          authorisation_form_url:
                            description: Link to a virtual credit card''s authorisation form, valid for 7 minutes from issue. `This will only the added if the request has authorisation_form.`
                            type: string
                            format: uri
                            example: https://secure-admin.booking.com/airplus_auth_form_pdf.html?token=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&lang=en
                          receipt_url:
                            description: Link to the payment receipt of the order. `This will only be added if include_receipt is true.`
                            type: string
                            format: uri
                            example: https://secure.booking.com/payment_receipt.html?bn=0000000000&pincode=0000&lang=en
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                  accommodation:
                    order: '509430129718799'
                    pincode: '0000'
                    reservation: 12345678
                    third_party_inventory:
                      checkin_number: '123456789'
                      confirmation_number: '12345678912345678912'
                  payment:
                    receipt_url: https://secure.booking.com/payment_receipt.html?bn=0000000000&pincode=0000&lang=en
    servers:
    - url: https://demandapi.booking.com/3.1
      description: Production environment
    - url: https://demandapi-sandbox.booking.com/3.1
      description: Sandbox environment
  /orders/details:
    post:
      summary: Orders details
      description: This endpoint returns basic information for orders filtered according to the input.
      operationId: /orders/details
      parameters:
      - in: header
        name: X-Affiliate-Id
        schema:
          type: integer
        required: true
        description: Include here your Affiliate identifier number
      tags:
      - Orders
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - title: InputByUpdated
                type: object
                properties:
                  updated:
                    title: OrderDetailsDatetimeFilterInput
                    description: Filtering orders by time range on basis of order "created" or "updated" time. Maximum time range is 7 days (1 week).
                    type: object
                    properties:
                      from:
                        description: ISO 8601 timestamp in UTC, which indicates the timestamp from which you want to filter orders from (inclusive). The value should be within last 1 year.
                        type: string
                        format: date-time
                      to:
                        description: ISO 8601 timestamp in UTC, which indicates the timestamp till which you want to filter orders to (inclusive). It has to be greater than or equal to "from".
                        type: string
                        format: date-time
                    required:
                    - from
                  currency:
                    description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                    type: string
                    pattern: ^[A-Z]{3}$
                    example: EUR
                  maximum_results:
                    description: The maximum number of results to return.
                    type: integer
                    multipleOf: 10
                    minimum: 10
                    maximum: 100
                    default: 100
                  sort:
                    title: OrderDetailsSortInput
                    description: The sorting parameters for the response.
                    type: object
                    properties:
                      by:
                        description: The way to sort your results.
                        type: string
                        enum:
                        - created
                        - updated
                        default: created
                      direction:
                        description: The direction you wish for your sort.by parameter to be sorted in.
                        type: string
                        enum:
                        - ascending
                        - descending
                        default: descending
                    required:
                    - by
                    - direction
                  extras:
                    description: Input parameter to request for additional information about this order.
                    type: array
                    items:
                      type: string
                      enum:
                      - payment
                  services:
                    description: Filter orders by included services.
                    type: array
                    items:
                      type: string
                      enum:
                      - accommodations
                      - cars
                      - flights
                required:
                - updated
                - currency
              - title: InputByCreated
                type: object
                properties:
                  created:
                    title: OrderDetailsDatetimeFilterInput
                    description: Filtering orders by time range on basis of order "created" or "updated" time. Maximum time range is 7 days (1 week).
                    type: object
                    properties:
                      from:
                        description: ISO 8601 timestamp in UTC, which indicates the timestamp from which you want to filter orders from (inclusive). The value should be within last 1 year.
                        type: string
                        format: date-time
                      to:
                        description: ISO 8601 timestamp in UTC, which indicates the timestamp till which you want to filter orders to (inclusive). It has to be greater than or equal to "from".
                        type: string
                        format: date-time
                    required:
                    - from
                  currency:
                    description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                    type: string
                    pattern: ^[A-Z]{3}$
                    example: EUR
                  maximum_results:
                    description: The maximum number of results to return.
                    type: integer
                    multipleOf: 10
                    minimum: 10
                    maximum: 100
                    default: 100
                  sort:
                    title: OrderDetailsSortInput
                    description: The sorting parameters for the response.
                    type: object
                    properties:
                      by:
                        description: The way to sort your results.
                        type: string
                        enum:
                        - created
                        - updated
                        default: created
                      direction:
                        description: The direction you wish for your sort.by parameter to be sorted in.
                        type: string
                        enum:
                        - ascending
                        - descending
                        default: descending
                    required:
                    - by
                    - direction
                  extras:
                    description: Input parameter to request for additional information about this order.
                    type: array
                    items:
                      type: string
                      enum:
                      - payment
                  services:
                    description: Filter orders by included services.
                    type: array
                    items:
                      type: string
                      enum:
                      - accommodations
                      - cars
                      - flights
                required:
                - created
                - currency
              - title: InputByStart
                type: object
                properties:
                  start:
                    title: OrderDetailsDateFilterInput
                    description: Filter orders by date range, covering the "start" and "end" date. The maximum date range is up to 7 days (1 week).
                    type: object
                    properties:
                      from:
                        description: ISO 8601 date in "YYYY-MM-DD" format. It indicates from which date you want to filter the orders. You can filter orders up to 1 year in the past and 500 days in the future.
                        type: string
                        format: date
                        example: '2024-06-01'
                      to:
                        description: ISO 8601 date in "YYYY-MM-DD" format. It indicates until which date you want to filter the orders to (inclusive). It has to be greater than or equal to "from". It uses "from" value as default.
                        type: string
                        format: date
                        example: '2024-06-03'
                    required:
                    - from
                  currency:
                    description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                    type: string
                    pattern: ^[A-Z]{3}$
                    example: EUR
                  maximum_results:
                    description: The maximum number of results to return.
                    type: integer
                    multipleOf: 10
                    minimum: 10
                    maximum: 100
                    default: 100
                  sort:
                    title: OrderDetailsSortInput
                    description: The sorting parameters for the response.
                    type: object
                    properties:
                      by:
                        description: The way to sort your results.
                        type: string
                        enum:
                        - created
                        - updated
                        default: created
                      direction:
                        description: The direction you wish for your sort.by parameter to be sorted in.
                        type: string
                        enum:
                        - ascending
                        - descending
                        default: descending
                    required:
                    - by
                    - direction
                  extras:
                    description: Input parameter to request for additional information about this order.
                    type: array
                    items:
                      type: string
                      enum:
                      - payment
                  services:
                    description: Filter orders by included services.
                    type: array
                    items:
                      type: string
                      enum:
                      - accommodations
                      - cars
                      - flights
                required:
                - start
                - currency
              - title: InputByEnd
                type: object
                properties:
                  end:
                    title: OrderDetailsDateFilterInput
                    description: Filter orders by date range, covering the "start" and "end" date. The maximum date range is up to 7 days (1 week).
                    type: object
                    properties:
                      from:
                        description: ISO 8601 date in "YYYY-MM-DD" format. It indicates from which date you want to filter the orders. You can filter orders up to 1 year in the past and 500 days in the future.
                        type: string
                        format: date
                        example: '2024-06-01'
                      to:
                        description: ISO 8601 date in "YYYY-MM-DD" format. It indicates until which date you want to filter the orders to (inclusive). It has to be greater than or equal to "from". It uses "from" value as default.
                        type: string
                        format: date
                        example: '2024-06-03'
                    required:
                    - from
                  currency:
                    description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                    type: string
                    pattern: ^[A-Z]{3}$
                    example: EUR
                  maximum_results:
                    description: The maximum number of results to return.
                    type: integer
                    multipleOf: 10
                    minimum: 10
                    maximum: 100
                    default: 100
                  sort:
                    title: OrderDetailsSortInput
                    description: The sorting parameters for the response.
                    type: object
                    properties:
                      by:
                        description: The way to sort your results.
                        type: string
                        enum:
                        - created
                        - updated
                        default: created
                      direction:
                        description: The direction you wish for your sort.by parameter to be sorted in.
                        type: string
                        enum:
                        - ascending
                        - descending
                        default: descending
                    required:
                    - by
                    - direction
                  extras:
                    description: Input parameter to request for additional information about this order.
                    type: array
                    items:
                      type: string
                      enum:
                      - payment
                  services:
                    description: Filter orders by included services.
                    type: array
                    items:
                      type: string
                      enum:
                      - accommodations
                      - cars
                      - flights
                required:
                - end
                - currency
              - title: InputByOrders
                type: object
                properties:
                  currency:
                    description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                    type: string
                    pattern: ^[A-Z]{3}$
                    example: EUR
                  orders:
                    description: List of order IDs for which details should be returned.
                    type: array
                    items:
                      description: Order ID for which details should be returned.
                      type: string
                    maxItems: 100
                  sort:
                    title: OrderDetailsSortInput
                    description: The sorting parameters for the response.
                    type: object
                    properties:
                      by:
                        description: The way to sort your results.
                        type: string
                        enum:
                        - created
                        - updated
                        default: created
                      direction:
                        description: The direction you wish for your sort.by parameter to be sorted in.
                        type: string
                        enum:
                        - ascending
                        - descending
                        default: descending
                    required:
                    - by
                    - direction
                  extras:
                    description: Input parameter to request for additional information about this order.
                    type: array
                    items:
                      type: string
                      enum:
                      - payment
                  services:
                    description: Filter orders by included services.
                    type: array
                    items:
                      type: string
                      enum:
                      - accommodations
                      - cars
                      - flights
                required:
                - orders
                - currency
              - title: InputByReservations
                type: object
                properties:
                  currency:
                    description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                    type: string
                    pattern: ^[A-Z]{3}$
                    example: EUR
                  reservations:
                    description: List of reservation IDs for which details should be returned.
                    type: array
[...]
