openapi: 3.2.0
info:
  title: Booking Com Common/payments API
  version: '1.0'
  description: 'Operations tagged Common/payments across 2 of this provider''s published API definitions: booking-com-demand-api-3-1-openapi.yml, booking-com-demand-api-3-2-beta-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://demandapi.booking.com/3.1
  description: Production environment
- url: https://demandapi-sandbox.booking.com/3.1
  description: Sandbox environment
- url: https://demandapi.booking.com/3.2
  description: Production environment – use for live integrations.
- url: https://demandapi-sandbox.booking.com/3.2
  description: Sandbox environment – use for testing and validation.
security:
- BearerAuth: []
tags:
- name: Common/payments
  x-displayName: Payments
  description: Provides generic payment-related endpoints, including supported currencies and payment types.
paths:
  /common/payments/cards:
    post:
      summary: Payment cards
      description: 'This endpoint returns a list of supported payment cards and their names in English. Examples of payment types are the different credit and debit cards.


        To get the full list call the endpoint passing an empty body. The codes returned are what is used as input and output for other endpoints.'
      operationId: /common/payments/cards
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Common/payments
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                title: CardsDataOutput
                type: object
                properties:
                  request_id:
                    description: Uniquely identifies the request. Please provide this identifier when contacting support.
                    type: string
                  data:
                    type: array
                    items:
                      title: PaymentCardOutput
                      description: The payment card identifier code and its designation in English.
                      type: object
                      properties:
                        id:
                          description: A signed integer number that uniquely identifies a payment type. Examples of payment types are the different credit and debit cards. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/cards" target="_blank">common/payments/cards</a>.
                          type: integer
                          minimum: 1
                        name:
                          type: string
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - id: 1
                  name: American Express
                - '...'
    servers:
    - url: https://demandapi.booking.com/3.1
      description: Production environment
    - url: https://demandapi-sandbox.booking.com/3.1
      description: Sandbox environment
  /common/payments/currencies:
    post:
      summary: Currencies
      description: 'This endpoint returns a list of currency codes and their names in the selected languages. To get the full list call the endpoint passing an empty body.


        The currency codes returned are what is used as input and output for other endpoints.'
      operationId: /common/payments/currencies
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Common/payments
      requestBody:
        content:
          application/json:
            schema:
              title: CurrenciesInput
              type: object
              properties:
                languages:
                  type: array
                  items:
                    description: 'A [IETF language tag code](https://en.wikipedia.org/wiki/IETF_language_tag) that uniquely identifies a supported human language or dialect. **Note:** Demand API only accepts lowercase for the language codes. Examples: "nl" for Dutch/Nederlands or "en-us" for English (US). To retrieve the full list of supported languages, call the `/common/languages` endpoint in the same Demand API version you are using.'
                    type: string
                    pattern: ^[a-z]{2}(-[a-z]{2})?$
                    example: en-us
                  default:
                  - en-gb
            example:
              languages:
              - en-gb
              - zh-cn
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                title: CurrenciesOutput
                type: object
                properties:
                  request_id:
                    description: Uniquely identifies the request. Please provide this identifier when contacting support.
                    type: string
                  data:
                    type: array
                    items:
                      title: CurrencyOutput
                      description: The ISO 4217 currency code and its designation in the selected language.
                      type: object
                      properties:
                        id:
                          description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
                          type: string
                          pattern: ^[A-Z]{3}$
                          example: EUR
                        name:
                          title: TranslatedString
                          description: A string localised in multiple languages.
                          type: object
                          patternProperties:
                            ^[a-z]{2}(-[a-z]{2})$:
                              description: The content localised in this language.
                              type:
                              - string
                              - 'null'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - id: AED
                  name:
                    en-gb: U.A.E. dirham
                    zh-cn: 阿联酋迪拉姆
                - '...'
    servers:
    - url: https://demandapi.booking.com/3.1
      description: Production environment
    - url: https://demandapi-sandbox.booking.com/3.1
      description: Sandbox environment
components:
  parameters:
    AffiliateIdHeader:
      in: header
      name: X-Affiliate-Id
      schema:
        type: integer
      required: true
      description: Include here your Affiliate identifier number
  schemas:
    dataTypes_paymentCardId:
      description: A signed integer number that uniquely identifies a payment type. Examples of payment types are the different credit and debit cards. The full list can be obtained by calling <a href="/demand/docs/open-api/3.2/demand-api/commonpayments/common/payments/cards" target="_blank">common/payments/cards</a>.
      type: integer
      minimum: 1
    languageId:
      description: 'A [IETF language tag code](https://en.wikipedia.org/wiki/IETF_language_tag) that uniquely identifies a supported human language or dialect. **Note:** Demand API only accepts lowercase for the language codes. Examples: "nl" for Dutch/Nederlands or "en-us" for English (US). To retrieve the full list of supported languages, call the `/common/languages` endpoint in the same Demand API version you are using.'
      type: string
      pattern: ^[a-z]{2}(-[a-z]{2})?$
      example: en-us
    translatedString:
      title: TranslatedString
      description: A string localised in multiple languages.
      type: object
      patternProperties:
        ^[a-z]{2}(-[a-z]{2})$:
          description: The content localised in this language.
          type:
          - string
          - 'null'
    currencyId:
      description: A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href="/demand/docs/open-api/3.2/demand-api/commonpayments/common/payments/currencies" target="_blank">common/payments/currencies</a>.
      type:
      - string
      - 'null'
      pattern: ^[A-Z]{3}$
      example: EUR
    currencies_output:
      title: CurrenciesOutput
      type: object
      properties:
        request_id:
          $ref: '#/components/schemas/requestId'
        data:
          type: array
          items:
            $ref: '#/components/schemas/currencies_currency'
    currencies_input:
      title: CurrenciesInput
      type: object
      properties:
        languages:
          type: array
          items:
            $ref: '#/components/schemas/languageId'
          default:
          - en-gb
    requestId:
      description: Uniquely identifies the request. Please provide this identifier when contacting support.
      type: string
    cards_output:
      title: CardsDataOutput
      type: object
      properties:
        request_id:
          $ref: '#/components/schemas/requestId'
        data:
          type: array
          items:
            $ref: '#/components/schemas/paymentCard'
    paymentCard:
      title: PaymentCardOutput
      description: The payment card identifier code and its designation in English.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/dataTypes_paymentCardId'
        name:
          type: string
    currencies_currency:
      title: CurrencyOutput
      description: The ISO 4217 currency code and its designation in the selected language.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/currencyId'
        name:
          $ref: '#/components/schemas/translatedString'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: string
x-refined-from:
- booking-com-demand-api-3-1-openapi.yml
- booking-com-demand-api-3-2-beta-openapi.yml
x-tagGroups:
- name: API Endpoints
  tags:
  - Charges endpoint
  - Charges meta endpoint
- name: Documentation
  tags:
  - About Try it
