openapi: 3.2.0
info:
  title: Booking.com Connectivity Content Rates API
  description: The Booking.com Connectivity Content API enables Connectivity Partners to register properties and modify their content directly without using the Booking.com extranet. Partners can manage facilities, rates, rooms, photos, and other property details programmatically. This API uses XML request and response formats following the OpenTravel Alliance (OTA 2003B) specification and Booking.com's B.XML schema. It is designed for property management systems, channel managers, and other connectivity solutions that need to create and maintain property listings on Booking.com at scale. Booking.com is transitioning to modular REST APIs for property management.
  version: '2.0'
  contact:
    name: Booking.com Connectivity Support
    url: https://developers.booking.com/connectivity/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://supply-xml.booking.com
  description: Production Server (Non-PCI)
security:
- basicAuth: []
tags:
- name: Rates
  description: Endpoints for creating and managing rate plans, including pricing rules and occupancy-based rates.
paths:
  /properties/{property_id}/rates:
    post:
      operationId: createRatePlan
      summary: Create a rate plan
      description: Creates a new rate plan for a property, defining pricing rules, cancellation policies, and meal plan inclusions.
      tags:
      - Rates
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePlanCreateRequest'
      responses:
        '200':
          description: Rate plan created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePlanResponse'
        '400':
          description: Bad request
        '401':
          description: Authentication failed
    get:
      operationId: listRatePlans
      summary: List rate plans
      description: Retrieves all rate plans configured for a specific property.
      tags:
      - Rates
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      responses:
        '200':
          description: Rate plans retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePlanListResponse'
        '401':
          description: Authentication failed
        '404':
          description: Property not found
components:
  schemas:
    RatePlanResponse:
      type: object
      properties:
        rate_plan_id:
          type: integer
          description: Unique rate plan identifier
        name:
          type: string
          description: Rate plan name
        room_id:
          type: integer
          description: Associated room type ID
        meal_plan:
          type: string
          description: Included meal plan
        status:
          type: string
          description: Rate plan status
    RatePlanListResponse:
      type: object
      properties:
        rate_plans:
          type: array
          description: List of rate plans
          items:
            $ref: '#/components/schemas/RatePlanResponse'
    RatePlanCreateRequest:
      type: object
      required:
      - name
      - room_id
      properties:
        name:
          type: string
          description: Rate plan name
        room_id:
          type: integer
          description: Room type this rate plan applies to
        meal_plan:
          type: string
          description: Included meal plan
          enum:
          - room_only
          - breakfast_included
          - half_board
          - full_board
          - all_inclusive
        cancellation_policy:
          type: string
          description: Cancellation policy type
        min_stay:
          type: integer
          description: Minimum length of stay in nights
        max_stay:
          type: integer
          description: Maximum length of stay in nights
  parameters:
    PropertyId:
      name: property_id
      in: path
      required: true
      description: Unique identifier of the property on Booking.com
      schema:
        type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Connectivity partner username and password.
externalDocs:
  description: Booking.com Connectivity Content API Documentation
  url: https://developers.booking.com/connectivity/docs/content
