openapi: 3.2.0
info:
  title: Booking Com Common/languages API
  version: '1.0'
  description: 'Operations tagged Common/languages across 2 of this provider''s published API definitions: booking-com-demand-api-3-1-openapi.yml, booking-com-demand-api-3-2-beta-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://demandapi.booking.com/3.1
  description: Production environment
- url: https://demandapi-sandbox.booking.com/3.1
  description: Sandbox environment
- url: https://demandapi.booking.com/3.2
  description: Production environment – use for live integrations.
- url: https://demandapi-sandbox.booking.com/3.2
  description: Sandbox environment – use for testing and validation.
security:
- BearerAuth: []
tags:
- name: Common/languages
  x-displayName: Languages
  description: Provides a list of supported language codes for use in API requests.
paths:
  /common/languages:
    post:
      summary: Retrieve language codes
      description: This endpoint returns a list of human language codes and their names in the corresponding language. To get the full list call the endpoint passing an empty body. The language codes returned are what is used as input and output for other endpoints.
      operationId: /common/languages
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Common/languages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                title: LanguagesOutput
                type: object
                properties:
                  request_id:
                    description: Uniquely identifies the request. Please provide this identifier when contacting support.
                    type: string
                  data:
                    type: array
                    items:
                      title: LanguageOutput
                      description: The language code and its designation in the corresponding language.
                      type: object
                      properties:
                        id:
                          description: 'An IETF language tag code that uniquely identifies a supported human language or dialect as described here: https://en.wikipedia.org/wiki/IETF_language_tag. Note that in v3 the whole tag is always lowercase. Examples: "nl" for Dutch/Nederlands or "en-us" for English (US). To retrieve the full list of supported languages, call the `/common/languages` endpoint in the same Demand API version you are using.'
                          type: string
                          pattern: ^[a-z]{2}(-[a-z]{2})?$
                          example: en-us
                        name:
                          type: string
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - id: ar
                  name: العربية
                - '...'
    servers:
    - url: https://demandapi.booking.com/3.1
      description: Production environment
    - url: https://demandapi-sandbox.booking.com/3.1
      description: Sandbox environment
components:
  parameters:
    AffiliateIdHeader:
      in: header
      name: X-Affiliate-Id
      schema:
        type: integer
      required: true
      description: Include here your Affiliate identifier number
  schemas:
    languageId:
      description: 'A [IETF language tag code](https://en.wikipedia.org/wiki/IETF_language_tag) that uniquely identifies a supported human language or dialect. **Note:** Demand API only accepts lowercase for the language codes. Examples: "nl" for Dutch/Nederlands or "en-us" for English (US). To retrieve the full list of supported languages, call the `/common/languages` endpoint in the same Demand API version you are using.'
      type: string
      pattern: ^[a-z]{2}(-[a-z]{2})?$
      example: en-us
    language:
      title: LanguageOutput
      description: The language code and its designation in the corresponding language.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/languageId'
        name:
          type: string
    requestId:
      description: Uniquely identifies the request. Please provide this identifier when contacting support.
      type: string
    languages_output:
      title: LanguagesOutput
      type: object
      properties:
        request_id:
          $ref: '#/components/schemas/requestId'
        data:
          type: array
          items:
            $ref: '#/components/schemas/language'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: string
x-refined-from:
- booking-com-demand-api-3-1-openapi.yml
- booking-com-demand-api-3-2-beta-openapi.yml
x-tagGroups:
- name: API Endpoints
  tags:
  - Charges endpoint
  - Charges meta endpoint
- name: Documentation
  tags:
  - About Try it
