openapi: 3.2.0
info:
  title: Booking.com Demand Payments API
  description: The Booking.com Demand API is a RESTful API that enables Affiliate Partners to access Booking.com's extensive travel inventory. It provides endpoints for searching accommodations such as hotels and apartments, checking availability, retrieving reviews, and getting detailed property information. The API uses JSON responses and requires HTTPS POST requests with Affiliate ID and Bearer token authentication. The latest version (V3.1) offers improved functionality and additional endpoints for building travel booking experiences including orders management, messaging, and payment information.
  version: '3.1'
  contact:
    name: Booking.com Developer Support
    url: https://developers.booking.com/demand/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://demandapi.booking.com/3.1
  description: Production Server
security:
- bearerAuth: []
  affiliateId: []
tags:
- name: Payments
  description: Generic payment-related endpoints, including supported currencies and payment types.
paths:
  /payments/currencies:
    post:
      operationId: getPaymentCurrencies
      summary: Get supported currencies
      description: Retrieves the list of currencies supported for payments on Booking.com, including currency codes and display information.
      tags:
      - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Currencies retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrenciesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /payments/types:
    post:
      operationId: getPaymentTypes
      summary: Get payment types
      description: Retrieves the list of payment types supported on Booking.com, including credit cards and other payment methods.
      tags:
      - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Payment types retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTypesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    PaymentTypesResponse:
      type: object
      properties:
        result:
          type: array
          description: List of supported payment types
          items:
            type: object
            properties:
              payment_type_id:
                type: integer
                description: Payment type identifier
              name:
                type: string
                description: Payment type name
    CurrenciesResponse:
      type: object
      properties:
        result:
          type: array
          description: List of supported currencies
          items:
            type: object
            properties:
              currency_code:
                type: string
                description: ISO 4217 currency code
              name:
                type: string
                description: Currency display name
    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        errors:
          type: array
          description: List of errors
          items:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Human-readable error message
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication. Include your API key token in the Authorization header.
    affiliateId:
      type: apiKey
      in: header
      name: X-Affiliate-Id
      description: Your Booking.com Affiliate ID, required with every request.
externalDocs:
  description: Booking.com Demand API Documentation
  url: https://developers.booking.com/demand/docs/open-api/demand-api
