openapi: 3.1.0
info:
  title: Booking.com Car Rentals Accommodations Reservations API
  description: The Booking.com Car Rentals API is part of the Demand API and provides endpoints specific to the car rental segment of the connected trip experience. Developers can use it to search for available car rentals, retrieve car details, look up depots and suppliers, and access depot review scores. The API enables affiliate partners to integrate Booking.com's car rental inventory into their own platforms, offering users the ability to find and book vehicles as part of their travel planning workflow.
  version: '3.1'
  contact:
    name: Booking.com Developer Support
    url: https://developers.booking.com/demand/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://demandapi.booking.com/3.1
  description: Production Server
security:
- bearerAuth: []
  affiliateId: []
tags:
- name: Reservations
  description: Endpoints for retrieving new, modified, and cancelled property reservations using B.XML format.
paths:
  /hotels/xml/reservations:
    post:
      operationId: getReservations
      summary: Retrieve reservations
      description: Retrieves new, modified, or cancelled property reservations using B.XML format. The response returns the same schema for new, modified, and cancelled reservations with updated information. This endpoint should be polled once per twenty seconds for timely data delivery. Higher frequencies are not recommended due to added server overhead.
      tags:
      - Reservations
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: B.XML request document specifying the hotel ID and authentication credentials for reservation retrieval.
      responses:
        '200':
          description: Reservations retrieved successfully
          content:
            application/xml:
              schema:
                type: string
                description: B.XML response containing reservation details including guest information, room details, dates, pricing, and reservation status.
        '400':
          description: Invalid XML request
        '401':
          description: Authentication failed
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication. Include your API key token in the Authorization header.
    affiliateId:
      type: apiKey
      in: header
      name: X-Affiliate-Id
      description: Your Booking.com Affiliate ID, required with every request.
externalDocs:
  description: Booking.com Car Rentals API Documentation
  url: https://developers.booking.com/demand/docs/open-api/demand-api/cars
