openapi: 3.2.0
info:
  title: Booking.com Connectivity Content OTA Legacy API
  description: The Booking.com Connectivity Content API enables Connectivity Partners to register properties and modify their content directly without using the Booking.com extranet. Partners can manage facilities, rates, rooms, photos, and other property details programmatically. This API uses XML request and response formats following the OpenTravel Alliance (OTA 2003B) specification and Booking.com's B.XML schema. It is designed for property management systems, channel managers, and other connectivity solutions that need to create and maintain property listings on Booking.com at scale. Booking.com is transitioning to modular REST APIs for property management.
  version: '2.0'
  contact:
    name: Booking.com Connectivity Support
    url: https://developers.booking.com/connectivity/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://supply-xml.booking.com
  description: Production Server (Non-PCI)
security:
- basicAuth: []
tags:
- name: OTA Legacy
  description: Legacy OTA-based endpoints for property content management. These endpoints follow the OpenTravel Alliance specification and are being deprecated in favor of modular APIs.
paths:
  /hotels/ota/OTA_HotelDescriptiveContentNotif:
    post:
      operationId: updateHotelDescriptiveContent
      summary: Create or update property content
      description: 'Creates or modifies the skeleton of a property including location details, policies, contact information, facilities, and other descriptive content. This endpoint follows the OTA 2003B specification. Note: This endpoint was deprecated in December 2024 and will be sunset on December 31, 2026. Transition to the modular Property Management APIs is recommended.'
      tags:
      - OTA Legacy
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: OTA_HotelDescriptiveContentNotifRQ XML document containing property content updates.
      responses:
        '200':
          description: Content update processed successfully
          content:
            application/xml:
              schema:
                type: string
                description: OTA_HotelDescriptiveContentNotifRS XML response
        '400':
          description: Invalid XML request
        '401':
          description: Authentication failed
  /hotels/ota/OTA_HotelProductNotif:
    post:
      operationId: updateHotelProduct
      summary: Create or update room and rate products
      description: Creates or updates room types, rate plans, and product configurations for a property. This endpoint allows connectivity partners to define room-rate combinations that will be available for booking.
      tags:
      - OTA Legacy
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: OTA_HotelProductNotifRQ XML document containing room and rate product definitions.
      responses:
        '200':
          description: Product update processed successfully
          content:
            application/xml:
              schema:
                type: string
                description: OTA_HotelProductNotifRS XML response
        '400':
          description: Invalid XML request
        '401':
          description: Authentication failed
  /hotels/ota/OTA_HotelInvNotif:
    post:
      operationId: updateHotelInventory
      summary: Update hotel inventory
      description: Updates room inventory counts for a property, specifying the number of rooms available for specific dates and room types.
      tags:
      - OTA Legacy
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: OTA_HotelInvNotifRQ XML document containing inventory updates.
      responses:
        '200':
          description: Inventory update processed successfully
          content:
            application/xml:
              schema:
                type: string
                description: OTA_HotelInvNotifRS XML response
        '400':
          description: Invalid XML request
        '401':
          description: Authentication failed
  /hotels/ota/OTA_HotelSearch:
    post:
      operationId: searchHotels
      summary: Search properties
      description: Searches for properties managed by the connectivity partner, returning property identifiers and basic information.
      tags:
      - OTA Legacy
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: OTA_HotelSearchRQ XML document
      responses:
        '200':
          description: Search results returned successfully
          content:
            application/xml:
              schema:
                type: string
                description: OTA_HotelSearchRS XML response
        '400':
          description: Invalid XML request
        '401':
          description: Authentication failed
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Connectivity partner username and password.
externalDocs:
  description: Booking.com Connectivity Content API Documentation
  url: https://developers.booking.com/connectivity/docs/content
