openapi: 3.2.0
info:
  title: Booking.com Demand Constants API
  description: The Booking.com Demand API is a RESTful API that enables Affiliate Partners to access Booking.com's extensive travel inventory. It provides endpoints for searching accommodations such as hotels and apartments, checking availability, retrieving reviews, and getting detailed property information. The API uses JSON responses and requires HTTPS POST requests with Affiliate ID and Bearer token authentication. The latest version (V3.1) offers improved functionality and additional endpoints for building travel booking experiences including orders management, messaging, and payment information.
  version: '3.1'
  contact:
    name: Booking.com Developer Support
    url: https://developers.booking.com/demand/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://demandapi.booking.com/3.1
  description: Production Server
security:
- bearerAuth: []
  affiliateId: []
tags:
- name: Constants
  description: Endpoints for retrieving reference data such as accommodation types, facility types, room types, and other enumerated values.
paths:
  /accommodations/constants:
    post:
      operationId: getAccommodationConstants
      summary: Get accommodation constants
      description: Retrieves reference data constants including accommodation types, accommodation facilities, accommodation themes, bed types, charge types, facility types, review scores, room facilities, and room types.
      tags:
      - Constants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                constants:
                  type: array
                  description: List of constant types to retrieve such as accommodation_types, accommodation_facilities, bed_types, room_types, etc.
                  items:
                    type: string
                    enum:
                    - accommodation_facilities
                    - accommodation_themes
                    - accommodation_types
                    - bed_types
                    - charge_types
                    - facility_types
                    - review_scores
                    - room_facilities
                    - room_types
      responses:
        '200':
          description: Constants retrieved successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        errors:
          type: array
          description: List of errors
          items:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Human-readable error message
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication. Include your API key token in the Authorization header.
    affiliateId:
      type: apiKey
      in: header
      name: X-Affiliate-Id
      description: Your Booking.com Affiliate ID, required with every request.
externalDocs:
  description: Booking.com Demand API Documentation
  url: https://developers.booking.com/demand/docs/open-api/demand-api
