openapi: 3.2.0
info:
  title: Booking.com Connectivity Content Facilities API
  description: The Booking.com Connectivity Content API enables Connectivity Partners to register properties and modify their content directly without using the Booking.com extranet. Partners can manage facilities, rates, rooms, photos, and other property details programmatically. This API uses XML request and response formats following the OpenTravel Alliance (OTA 2003B) specification and Booking.com's B.XML schema. It is designed for property management systems, channel managers, and other connectivity solutions that need to create and maintain property listings on Booking.com at scale. Booking.com is transitioning to modular REST APIs for property management.
  version: '2.0'
  contact:
    name: Booking.com Connectivity Support
    url: https://developers.booking.com/connectivity/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://supply-xml.booking.com
  description: Production Server (Non-PCI)
security:
- basicAuth: []
tags:
- name: Facilities
  description: Endpoints for managing property-level and room-level facilities and amenities.
paths:
  /properties/{property_id}/facilities:
    put:
      operationId: updateFacilities
      summary: Update property facilities
      description: Updates the list of facilities and amenities available at a property, such as parking, WiFi, swimming pool, and restaurant.
      tags:
      - Facilities
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilitiesUpdateRequest'
      responses:
        '200':
          description: Facilities updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilitiesResponse'
        '400':
          description: Bad request
        '401':
          description: Authentication failed
    get:
      operationId: getFacilities
      summary: Get property facilities
      description: Retrieves the list of facilities configured for a property.
      tags:
      - Facilities
      parameters:
      - $ref: '#/components/parameters/PropertyId'
      responses:
        '200':
          description: Facilities retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilitiesResponse'
        '401':
          description: Authentication failed
        '404':
          description: Property not found
components:
  schemas:
    FacilitiesResponse:
      type: object
      properties:
        facilities:
          type: array
          description: List of configured facilities
          items:
            type: object
            properties:
              facility_id:
                type: integer
                description: Facility identifier
              name:
                type: string
                description: Facility name
              value:
                type: string
                description: Facility value or detail
    FacilitiesUpdateRequest:
      type: object
      properties:
        facilities:
          type: array
          description: List of facility identifiers to set
          items:
            type: object
            properties:
              facility_id:
                type: integer
                description: Facility identifier
              value:
                type: string
                description: Facility value or detail
  parameters:
    PropertyId:
      name: property_id
      in: path
      required: true
      description: Unique identifier of the property on Booking.com
      schema:
        type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Connectivity partner username and password.
externalDocs:
  description: Booking.com Connectivity Content API Documentation
  url: https://developers.booking.com/connectivity/docs/content
