openapi: 3.2.0
info:
  title: Booking.com Connectivity Rates and Availability Derived Pricing API
  description: The Booking.com Connectivity Rates and Availability API allows Connectivity Partners to set room availability, pricing, and restrictions for properties on Booking.com. Partners can manage advance booking windows, length of stay requirements, and rate plans programmatically. This API is a core component of the Connectivity suite, enabling channel managers and property management systems to keep inventory and pricing synchronized between their platforms and Booking.com without manual extranet updates. Properties should specify availability at least 12 months in advance. The API uses XML request and response formats following B.XML and OTA specifications.
  version: '2.0'
  contact:
    name: Booking.com Connectivity Support
    url: https://developers.booking.com/connectivity/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://supply-xml.booking.com
  description: Production Server (Non-PCI)
security:
- basicAuth: []
tags:
- name: Derived Pricing
  description: Endpoints for managing derived pricing rules that automatically calculate rates based on a parent rate plan.
paths:
  /hotels/xml/derivedprices:
    post:
      operationId: updateDerivedPrices
      summary: Update derived pricing rules
      description: Creates or updates derived pricing rules that automatically calculate rates based on a parent rate plan. Derived prices allow partners to set percentage or fixed amount adjustments relative to a base rate.
      tags:
      - Derived Pricing
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: B.XML request document specifying derived pricing rules including parent rate references and adjustment values.
      responses:
        '200':
          description: Derived pricing rules updated successfully
          content:
            application/xml:
              schema:
                type: string
                description: B.XML response indicating success or failure of the derived pricing update.
        '400':
          description: Invalid XML request
        '401':
          description: Authentication failed
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Connectivity partner username and password.
externalDocs:
  description: Booking.com Connectivity Rates and Availability API Documentation
  url: https://developers.booking.com/connectivity/docs/ari
