openapi: 3.2.0
info:
  title: Booking.com Connectivity Reservations OTA Reservations API
  description: The Booking.com Connectivity Reservations API allows Connectivity Partners to retrieve and update reservation information for properties listed on Booking.com. It operates over a PCI-compliant secure endpoint and supports reservation retrieval, confirmation, and modification using both B.XML and OTA XML formats (OTA_HotelResNotif and OTA_HotelResModifyNotif). The API follows the OpenTravel Alliance specification and provides a complete and fault-tolerant reservations processing solution. Partners should poll the reservations endpoint once per twenty seconds for timely delivery of data.
  version: '2.0'
  contact:
    name: Booking.com Connectivity Support
    url: https://developers.booking.com/connectivity/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://secure-supply-xml.booking.com
  description: Production Server (PCI-Compliant)
security:
- basicAuth: []
tags:
- name: OTA Reservations
  description: OTA-based endpoints for reservation notification and modification following the OpenTravel Alliance specification.
paths:
  /hotels/ota/OTA_HotelResNotif:
    post:
      operationId: processReservationNotification
      summary: Process reservation notification
      description: Processes reservation notifications following the OTA OTA_HotelResNotif specification. Used for receiving and confirming new reservations through the OpenTravel Alliance standard format.
      tags:
      - OTA Reservations
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: OTA_HotelResNotifRQ XML document containing the reservation notification.
      responses:
        '200':
          description: Reservation notification processed successfully
          content:
            application/xml:
              schema:
                type: string
                description: OTA_HotelResNotifRS XML response
        '400':
          description: Invalid XML request
        '401':
          description: Authentication failed
  /hotels/ota/OTA_HotelResModifyNotif:
    post:
      operationId: processReservationModification
      summary: Process reservation modification
      description: Processes reservation modification notifications following the OTA OTA_HotelResModifyNotif specification. Used for receiving and confirming changes to existing reservations.
      tags:
      - OTA Reservations
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: OTA_HotelResModifyNotifRQ XML document containing the reservation modification details.
      responses:
        '200':
          description: Reservation modification processed successfully
          content:
            application/xml:
              schema:
                type: string
                description: OTA_HotelResModifyNotifRS XML response
        '400':
          description: Invalid XML request
        '401':
          description: Authentication failed
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Connectivity partner username and password.
externalDocs:
  description: Booking.com Connectivity Reservations API Documentation
  url: https://developers.booking.com/connectivity/docs/reservations-api/reservations-overview
