openapi: 3.2.0
info:
  title: Booking.com Connectivity Rates and Availability Inventory API
  description: The Booking.com Connectivity Rates and Availability API allows Connectivity Partners to set room availability, pricing, and restrictions for properties on Booking.com. Partners can manage advance booking windows, length of stay requirements, and rate plans programmatically. This API is a core component of the Connectivity suite, enabling channel managers and property management systems to keep inventory and pricing synchronized between their platforms and Booking.com without manual extranet updates. Properties should specify availability at least 12 months in advance. The API uses XML request and response formats following B.XML and OTA specifications.
  version: '2.0'
  contact:
    name: Booking.com Connectivity Support
    url: https://developers.booking.com/connectivity/docs
  termsOfService: https://www.booking.com/content/terms.html
servers:
- url: https://supply-xml.booking.com
  description: Production Server (Non-PCI)
security:
- basicAuth: []
tags:
- name: Inventory
  description: Endpoints for retrieving current inventory and rate details for active room/rate combinations.
paths:
  /hotels/xml/roomrateavailability:
    post:
      operationId: getRoomRateAvailability
      summary: Retrieve inventory and rate details
      description: Retrieves inventory information per property from Booking.com for all active room/rate (product) combinations. Returns current availability counts, rates, and restrictions that are set in the Booking.com system.
      tags:
      - Inventory
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: B.XML request document specifying the hotel ID and date range for inventory retrieval.
      responses:
        '200':
          description: Inventory and rate details retrieved successfully
          content:
            application/xml:
              schema:
                type: string
                description: B.XML response containing room/rate availability, pricing, and restriction details for the requested date range.
        '400':
          description: Invalid XML request
        '401':
          description: Authentication failed
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Connectivity partner username and password.
externalDocs:
  description: Booking.com Connectivity Rates and Availability API Documentation
  url: https://developers.booking.com/connectivity/docs/ari
