openapi: 3.1.0
info:
  title: Booking.com Demand API
  version: 3.2-Beta
  summary: '**Beta version – experimental endpoints**


    This API version is **currently in Beta** and is offered to a limited set of pilot affiliate partners. Access is granted
    on request via your Booking.com account manager.


    > ⚠️ **Important:** This API is **under active development**. Endpoints, request/response structures, and functionality
    may change without prior notice. Specifications are updated frequently during the pilot phase.


    - Consult the [Changelog](/demand/docs/whats-new/changelog) for the latest updates.

    - All requests **require authentication** using your Affiliate ID and token credentials.'
servers:
- url: https://demandapi.booking.com/3.2
  description: Production environment – use for live integrations.
- url: https://demandapi-sandbox.booking.com/3.2
  description: Sandbox environment – use for testing and validation.
security:
- BearerAuth: []
tags:
- name: Accommodations
  x-displayName: Accommodation
  description: This collection includes endpoints related to **stays** within the connected trip experience. <br/>Use these
    endpoints to:<br/>- Search for hotels, apartments, and other accommodation types.<br/>- Check real-time availability and
    pricing.<br/>- Retrieve property details and guest reviews.
- name: Cars
  x-displayName: Car rentals
  description: This collection includes endpoints related to **car rental** services within the connected trip experience.<br/>Use
    these endpoints to:<br/>- Search and retrieve car details.<br/>- Retrieve car specifications, depot locations, and supplier
    information.
- name: Transfers
  x-displayName: Transfers
  description: This collection includes endpoints related to **transfer** services within the connected trip experience.<br/>Use
    these endpoints to:<br/>- Search for airport transfers and point-to-point rides.<br/>- Retrieve vehicle options, capacity,
    pricing, and a redirect URL to complete the booking on Booking.com.
- name: Common/autocomplete
  x-displayName: Autocomplete
  description: Use this endpoint to retrieve ranked suggestions based on a free-text query. Designed for real-time "as-you-type"
    autocomplete experiences.
- name: Common/locations
  x-displayName: Locations
  description: This collection provides standardised **location identifiers** for geographical entities such as airports,
    countries, cities, and regions. <br/>Use the returned identifiers when constructing requests across all travel services
    API collections, including both accommodation and car rental endpoints.
- name: Common/payments
  x-displayName: Payments
  description: Provides generic **payment-related identifiers**, including supported currency codes, payment cards, and relevant
    metadata for booking flows.<br/>- Use the returned identifiers when constructing requests across all travel services API
    collections, including both accommodation and car rental endpoints.
- name: Common/languages
  x-displayName: Languages
  description: Use this endpoint to retrieve a list of supported IETF language tag codes.<br/>- You can use these codes when
    constructing requests across all travel services API collections, including both accommodation and car rental endpoints.
- name: Orders
  x-displayName: Orders
  description: This API collection enables **management of booking orders** within the Demand API.</br>Use these endpoints
    to:</br>- Preview and create new orders.</br>- Check order details.</br>- Cancel or modify existing orders.</br>This collection
    is required to integrate booking and order management functionality.
- name: Messages
  x-displayName: Messages
  description: This API collection enables two-way communication between guests and properties. Use these endpoints to send
    and receive messages, include attachments, follow conversations, and more.
paths:
  /accommodations/search:
    post:
      summary: Search
      description: Use this endpoint to search for accommodations that match your specified criteria. <br/>By default, **the
        response returns the cheapest available product** for each accommodation.<br/><br/>When applying location filters
        such as country or region, results are ranked by Booking.com popularity (top picks) rather than price, with higher-ranked
        listings appearing first.
      operationId: /accommodations/search
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Accommodations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/searchInput'
            example:
              booker:
                country: nl
                platform: desktop
              checkin: '!START_DATE!'
              checkout: '!END_DATE!'
              city: -2140479
              extras:
              - extra_charges
              - products
              guests:
                number_of_adults: 2
                number_of_rooms: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchOutput'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - id: 10004
                  currency:
                    accommodation: EUR
                    booker: EUR
                  deep_link_url: booking://hotel/10004?affiliate_id=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!&mcid=10
                  price:
                    base:
                      accommodation_currency: 1081.49
                      booker_currency: 1081.49
                    charges:
                    - charge: 21
                      condition: null
                      included_in:
                        display: true
                      total_amount:
                        accommodation_currency: 97.34
                        booker_currency: 97.34
                    - charge: 22
                      condition: null
                      included_in:
                        display: true
                      total_amount:
                        accommodation_currency: 75.7
                        booker_currency: 75.7
                    - charge: 142
                      condition: null
                      included_in:
                        display: true
                      total_amount:
                        accommodation_currency: 6
                        booker_currency: 6
                    display:
                      accommodation_currency: 1260.52
                      booker_currency: 1260.52
                    total:
                      accommodation_currency: 1260.52
                      booker_currency: 1260.52
                  products:
                  - id: '1000420_95127794_2_0_0'
                    bundle: null
                    children: []
                    deal: null
                    inventory:
                      third_party: false
                      type: sell
                    number_of_adults: 2
                    policies:
                      cancellation:
                        free_cancellation_until: null
                        type: non_refundable
                      meal_plan:
                        meals: []
                        plan: no_plan
                      payment:
                        timings:
                        - pay_at_the_property
                    price:
                      base:
                        accommodation_currency: 1081.49
                        booker_currency: 1081.49
                      charges:
                      - charge: 21
                        condition: null
                        included_in:
                          display: true
                          chargeable_online: true
                        mode: percentage
                        percentage: 9
                        total_amount:
                          accommodation_currency: 107.07
                          booker_currency: 107.07
                        unit_amount: null
                      - charge: 22
                        condition: null
                        included_in:
                          display: true
                          chargeable_online: false
                        mode: percentage
                        percentage: 7
                        total_amount:
                          accommodation_currency: 83.27
                          booker_currency: 83.27
                        unit_amount: null
                      - charge: 142
                        condition: null
                        included_in:
                          display: true
                          chargeable_online: true
                        mode: per_person_per_night
                        percentage: null
                        total_amount:
                          accommodation_currency: 6
                          booker_currency: 6
                        unit_amount:
                          accommodation_currency: 3
                          booker_currency: 3
                      display:
                        accommodation_currency: 1260.52
                        booker_currency: 1260.52
                      total:
                        accommodation_currency: 1260.52
                        booker_currency: 1260.52
                    room: '1000425'
                  url: https://www.booking.com/hotel/nl/conscious-the-tire-station.html?affiliate_id=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!&group_adults=2&no_rooms=1
                - '...'
                metadata:
                  next_page: '...'
  /accommodations/availability:
    post:
      summary: Availability
      description: 'Use this endpoint to check real-time availability, prices, and charges for **up to 50 accommodation IDs**.


        - By default, only product availability and prices are returned.

        - Use the `extras` or `filters` parameters to retrieve additional details such as extra charges or payment information.


        **Mandatory fields**: `accommodations`, `booker`, `checkin`, `checkout`, and `guests`.'
      operationId: /accommodations/availability
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Accommodations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/availabilityInput'
            example:
              accommodations:
              - 10004
              booker:
                country: nl
                platform: desktop
              checkin: '!START_DATE!'
              checkout: '!END_DATE!'
              extras:
              - extra_charges
              filters:
                meal_plan: breakfast_included
                cancellation_type: free_cancellation
              guests:
                number_of_adults: 2
                number_of_rooms: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/availabilityOutput'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - id: 10004
                  currency:
                    accommodation: EUR
                    booker: EUR
                  deep_link_url: booking://hotel/10004?affiliate_id=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!
                  products:
                  - id: '1000420_358188572_2_0_0'
                    bundle: null
                    deal: null
                    inventory:
                      third_party: false
                      type: sell
                    maximum_occupancy:
                      adults: 2
                      children: null
                      total: 2
                    number_available: 3
                    policies:
                      cancellation:
                        free_cancellation_until: '!START_DATE-2!T00:00:00+00:00'
                        type: free_cancellation
                        schedule:
                        - from: now
                          price:
                            accommodation_currency: 0
                            booker_currency: 0
                        - from: '!START_DATE-2!T00:00:00+00:00'
                          price:
                            accommodation_currency: 1189.2
                            booker_currency: 1189.2
                      meal_plan:
                        meals: []
                        plan: no_plan
                      payment:
                        timings:
                        - pay_at_the_property
                    price:
                      base:
                        accommodation_currency: 1189.2
                        booker_currency: 1189.2
                      chargeable_online:
                        accommodation_currency: 1302.7
                        booker_currency: 1302.7
                      charges:
                      - charge: 21
                        condition: null
                        included_in:
                          display: true
                          chargeable_online: true
                        mode: percentage
                        percentage: 9
                        total_amount:
                          accommodation_currency: 107.07
                          booker_currency: 107.07
                        unit_amount: null
                      - charge: 22
                        condition: null
                        included_in:
                          display: true
                          chargeable_online: false
                        mode: percentage
                        percentage: 7
                        total_amount:
                          accommodation_currency: 83.27
                          booker_currency: 83.27
                        unit_amount: null
                      - charge: 142
                        condition: null
                        included_in:
                          display: true
                          chargeable_online: true
                        mode: per_person_per_night
                        percentage: null
                        total_amount:
                          accommodation_currency: 6
                          booker_currency: 6
                        unit_amount:
                          accommodation_currency: 3
                          booker_currency: 3
                      display:
                        accommodation_currency: 1385.97
                        booker_currency: 1385.97
                      total:
                        accommodation_currency: 1385.97
                        booker_currency: 1385.97
                    room: '1000420'
                  - '...'
                  recommendation:
                    price:
                      base:
                        accommodation_currency: 1081.49
                        booker_currency: 1081.49
                      chargeable_online:
                        accommodation_currency: 1260.52
                        booker_currency: 1260.52
                      charges:
                      - charge: 21
                        total_amount:
                          accommodation_currency: 97.34
                          booker_currency: 97.34
                        condition: null
                        included_in:
                          display: true
                          chargeable_online: true
                      - charge: 22
                        total_amount:
                          accommodation_currency: 75.7
                          booker_currency: 75.7
                        condition: null
                        included_in:
                          display: true
                          chargeable_online: true
                      - charge: 142
                        total_amount:
                          accommodation_currency: 6
                          booker_currency: 6
                        condition: null
                        included_in:
                          display: true
                          chargeable_online: true
                      display:
                        accommodation_currency: 1260.52
                        booker_currency: 1260.52
                      total:
                        accommodation_currency: 1260.52
                        booker_currency: 1260.52
                    products:
                    - id: '1000420_95127794_2_0_0'
                      children: []
                      number_of_adults: 2
                      price:
                        base:
                          accommodation_currency: 1081.49
                          booker_currency: 1081.49
                        chargeable_online:
                          accommodation_currency: 1260.52
                          booker_currency: 1260.52
                        charges:
                        - charge: 21
                          total_amount:
                            accommodation_currency: 97.34
                            booker_currency: 97.34
                          condition: null
                          included_in:
                            display: true
                            chargeable_online: true
                        - charge: 22
                          total_amount:
                            accommodation_currency: 75.7
                            booker_currency: 75.7
                          condition: null
                          included_in:
                            display: true
                            chargeable_online: true
                        - charge: 142
                          total_amount:
                            accommodation_currency: 6
                            booker_currency: 6
                          condition: null
                          included_in:
                            display: true
                            chargeable_online: true
                        display:
                          accommodation_currency: 1260.52
                          booker_currency: 1260.52
                        total:
                          accommodation_currency: 1260.52
                          booker_currency: 1260.52
                  url: https://www.booking.com/hotel/nl/toren.html?aid=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!&no_rooms=1&group_adults=2
  /accommodations/chains:
    post:
      summary: Chains
      description: "Use this endpoint to retrieve a list of accommodation chains and their associated brands.\n\n A chain-branded\
        \ accommodation is part of a larger corporate group and operates under a recognised brand. The returned information\
        \ can be used to filter search results by chain or brand across other endpoints.\n\n- To obtain the full list of chains,\
        \ call this endpoint with an empty request body.\n- The `id` values returned are the codes used as input and output\
        \ in other API requests, ensuring consistency across your integration.\n\n **Example of chain:**  \"Radisson Hotel\
        \ Group\" with brands such as \"Radisson Blu\" or \"Park Inn by Radisson.\""
      operationId: /accommodations/chains
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Accommodations
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/output'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - id: 3
                  brands:
                  - id: 1018
                    name: Campanile
                  - '...'
                  name: Louvre Hotels Group
                - '...'
  /accommodations/constants:
    post:
      summary: Constants
      description: 'Retrieve standardised codes and names for accommodation-related entities, such as facilities, room types,
        bed types, themes, and additional charges.


        These constants are canonical identifiers that can be used to filter searches, populate reference data, or ensure
        consistency across other accommodation endpoints.


        - To fetch constants in multiple languages, provide IETF language tags (see common/languages).

        - Sending an empty request body returns all available constants.

        - Use the `constants` array to request only specific sections (e.g., `accommodation_facilities`, `bed_types`).'
      operationId: /accommodations/constants
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Accommodations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/input'
            example:
              languages:
              - en-gb
              - zh-cn
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/constants_output'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                  accommodation_facilities:
                  - id: 2
                    facility_type: 16
                    name:
                      en-gb: Parking
                      zh-cn: 停车场
                  - '...'
                  accommodation_themes:
                  - id: 1
                    name:
                      en-gb: Apartments
                      zh-cn: 公寓
                  - '...'
                  accommodation_types:
                  - id: 201
                    name:
                      en-gb: Apartment
                      zh-cn: 公寓
                  - '...'
                  bed_types:
                  - id: 1
                    description:
                      en-gb: 90-130 cm wide
                      zh-cn: 宽 90-130 厘米
                    description_imperial:
                      en-gb: 35-51 inches wide
                      zh-cn: 宽 35-51 英寸
                    name:
                      en-gb: Single bed(s)
                      zh-cn: 单人床
                  - '...'
                  charge_types:
                  - id: 0
                    name:
                      en-gb: service charge
                      zh-cn: 服务费
                  - '...'
                  facility_types:
                  - id: 1
                    name:
                      en-gb: General
                      zh-cn: 综合设施
                  - '...'
                  review_scores:
                  - maximum_score: 2.9
                    minimum_score: 2
                    name:
                      en-gb: very poor
                      zh-cn: 非常差
                  - '...'
                  room_facilities:
                  - id: 1
                    facility_type: 7
                    name:
                      en-gb: Coffee/Tea maker
                      zh-cn: 沏茶/咖啡设备
                  - '...'
                  room_types:
                  - id: 1
                    name:
                      en-gb: Apartment
                      zh-cn: 公寓
                  - '...'
  /accommodations/details:
    post:
      summary: Details
      description: 'Retrieve detailed information about accommodation properties that match your search criteria.


        You must provide at least one of the following parameters: `accommodations`, `airport`, `city`, `country`, or `region`.


        Use the `extras` parameter to request additional information such as `facilities`, `photos`, `policies`, `rooms`,
        or `bundles`.


        Key points:

        - You can request data in multiple languages using IETF language tags.

        - This endpoint provides static information about properties; availability and pricing are retrieved via other endpoints.

        - Passing an empty `extras` array returns only the core property details.

        - Maximum 100 accommodation IDs can be queried in a single request.'
      operationId: /accommodations/details
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Accommodations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/detailsInput'
            example:
              accommodations:
              - 10004
              extras:
              - bundles
              - description
              - facilities
              - payment
              - photos
              - policies
              - rooms
              languages:
              - en-gb
              - zh-cn
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailsOutput'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - id: 10004
                  accommodation_status: open
                  accommodation_type: 204
                  brands: []
                  bundles:
                  - id: 12345
                    value_adds:
                    - type: high_speed_internet
                      description:
                        en-gb:
                        - High speed internet throughout your stay.
                  checkin_checkout_times:
                    checkin_from: '15:00:00'
                    checkin_to: null
                    checkout_from: 07:00:00
                    checkout_to: '12:00:00'
                  currency: EUR
                  description:
                    important_information:
                      en-gb: 'The credit card that has been used to book a non-refundable rate, will be charged on the day
                        of booking and needs to be presented upon check-in. In case the credit card owner is not traveling
                        with you, an online payment link will be sent to prepay your stay.


                        Please note that the hotel pre-authorizes your credit card with the amount for the first night, 8
                        days prior to arrival. This is not a payment and this only applies to flexible rates.


                        Parking in Amsterdam is challenging, there are parking garages near to the hotel or a valet service
                        is possible to arrange upon request. Charges are applicable. Please contact the hotel ahead of time
                        for information'
                      zh-cn: '酒店将在预订当天收取用于支付不退款房价的信用卡，客人需在办理入住手续时出示该信用卡。如果信用卡持有人未与客人同行，酒店将发送在线付款链接以预付客人的住宿费用。


                        请注意，酒店将在客人抵达前8天通过其信用卡预授权第一晚的房费。这不是付款，这仅适用于变化的利率。


                        在阿姆斯特丹（Amsterdam）停车很有挑战性，酒店附近有停车库，或者可应要求为客人安排代客泊车服务，收费适用。请提前联系酒店以获取信息。'
                    license_numbers: []
                    text:
                      en-gb: 'The Pavilions Amsterdam, The Toren features elegant accommodation alongside the famous Keizersgracht
                        canal, around the corner from the Anne Frank House. It offers elegant rooms with flat-screen TVs with
                        digital entertainment system.


                        Each air-conditioned room at the Toren has an en suite bathroom with a bathtub. They have classic
                        decorations such as chandeliers and ceiling paintings. Tea/coffee making facilities and a complimentary
                        mini bar are also provided in every room.


                        In the morning, guests can enjoy a delightful breakfast buffet in the elegant breakfast room with
                        views of the Keizersgracht. The trendy hotel bar serves refreshing drinks during the day.


                        Westermarkt Tram Stop is less than 250 metres from the hotel. Dam Square and the Royal Palace are
                        a 10-minute walk away.'
                      zh-cn: 'The Pavilions Amsterdam, The Toren酒店位于安妮弗兰克之家（Anne Frank House）拐角处，毗邻著名的Keizersgracht运河，提供典雅的住宿。酒店提供带平板电视和数字娱乐系统的典雅客房。


                        Toren酒店的每间空调客房均配有带浴缸的独立浴室。客房拥有典雅的装饰，如吊灯和天花板画。每间客房还提供沏茶/咖啡设施和免费迷你吧。


                        早晨，客人可在典雅的早餐室享用可口的自助早餐，并欣赏Keizersgracht的景色。时髦的酒店酒吧白天提供清凉饮料。


                        酒店距离韦斯特马克特电车站（Westermarkt Tram Stop）不到250米，距离水坝广场（Dam Square）和皇宫（Royal Palace）有10分钟的步行路程。'
                    trader:
                      address:
                        address_line: Prinsengract 153
                        city: Amsterdam
                        country: nl
                        post_code: '94571'
                      email: test@test.test
                      name: Test Test
                      registration_number: '123456788'
                      telephone: '+123456789'
                      trade_register: hjdfvhfjd
                      trader_verified: true
                  facilities:
                  - id: 5
                    attributes: []
                  - '...'
                  is_genius: true
                  location:
                    address:
                      en-us: Keizersgracht 164
                    city: -2140479
                    coordinates:
                      latitude: 52.375858
                      longitude: 4.886006
                    country: nl
                    districts:
                    - 145
                    - 3024
                    - 9173
                    postal_code: 1015 CZ
                    regions:
                    - 1010
                    - 2776
                  long_stay_friendly: false
                  meal_prices:
                    breakfast: 20
                    dinner: null
                    lunch: null
                  name:
                    en-us: The Pavilions Amsterdam, The Toren
                  number_of_rooms: 11
                  payment:
                    amex_cvc_required: false
                    cvc_required: true
                    domestic_no_cc: false
                    methods:
                      cash: true
                      cards:
                      - 1
                      - 2
                      - 3
                      virtual_cards:
                      - 1
                      - 2
                      - 3
                    timings:
                    - pay_at_the_property
                  photos:
                  - main_photo: true
                    tags:
                    - Neighbourhood
                    url:
                      large: https://q-xx.bstatic.com/xdata/images/hotel/max1280/243931754.jpg?k=a1fea83a088f20b8f8a0e68ac06cb0090a093808f6e2a129bfb990165a0009f3&o=
                      standard: https://q-xx.bstatic.com/xdata/images/hotel/max500/243931754.jpg?k=a1fea83a088f20b8f8a0e68ac06cb0090a093808f6e2a129bfb990165a0009f3&o=
                      thumbnail: https://q-xx.bstatic.com/xdata/images/hotel/100x100/243931754.jpg?k=a1fea83a088f20b8f8a0e68ac06cb0090a093808f6e2a129bfb990165a0009f3&o=
                      thumbnail_large: https://q-xx.bstatic.com/xdata/images/hotel/300x300/243931754.jpg?k=a1fea83a088f20b8f8a0e68ac06cb0090a093808f6e2a129bfb990165a0009f3&o=
                  - '...'
                  policies:
                    cots_and_extra_beds:
                    - age:
                        from: 0
                        to: 2
                      mode: per_night
                      price: 0
                      type: crib
                    damage:
                      amount: 50
                      currency: EUR
                      deposit:
                        collect:
                          date:
                            days_offset: 0
                            reference_date: checkin
                          payment_method: credit_card
                        refund:
                          date:
                            days_offset: 0
                            reference_date: checkout
                          payment_method: credit_card
                    maximum_checkin_age: null
                    minimum_checkin_age: 18
                    minimum_guest_age: 0
                    pets:
                      allowed: 'no'
                      charge_mode: null
                  price_category: $$$$
                  programmes:
                    travel_proud: false
                    sustainable_offerings:
                      certifications:
                      - name: Green Key
                  ranking: 123456
                  rating:
                    number_of_reviews: 930
                    preferred: true
                    review_score: 9
                    stars: 4
                    stars_type: official
                  rooms:
                  - id: '1000420'
                    attributes:
                    - non_smoking
                    bed_options:
                    - bed_configurations:
                      - id: 1000420-1
                        configuration:
                        - bed_type: 6
                          number_of_beds: 1
                      - id: 1000420-2
                        configuration:
                        - bed_type: 1
                          number_of_beds: 2
                      has_bathroom: true
                      is_bedroom: true
                    cots_and_extra_beds:
                      are_allowed_together: false
                      maximum_number_of_cots: 0
                      maximum_number_of_extra_beds: 0
                    description:
                      en-gb: This room features decor with rich colours and original features. It is located in the annex
                        building, 8 houses away from the main building. It is internally positioned, overlooking a small courtyard.
                    facilities:
                    - 1
                    - '...'
                    maximum_occupancy:
                      adults: 2
                      children: 1
                    name:
                      en-gb: Standard Double or Twin Room
                      zh-cn: '标准双人或双床间 '
                    number_of_rooms:
                      bathrooms: 1
                      bedrooms: 1
                      living_rooms: 0
                    photos:
                    - tags:
                      - Neighbourhood
                      url:
                        large: https://q-xx.bstatic.com/xdata/images/hotel/max1280/243931754.jpg?k=a1fea83a088f20b8f8a0e68ac06cb0090a093808f6e2a129bfb990165a0009f3&o=
                        standard: https://q-xx.bstatic.com/xdata/images/hotel/max500/243931754.jpg?k=a1fea83a088f20b8f8a0e68ac06cb0090a093808f6e2a129bfb990165a0009f3&o=
                        thumbnail: https://q-xx.bstatic.com/xdata/images/hotel/100x100/243931754.jpg?k=a1fea83a088f20b8f8a0e68ac06cb0090a093808f6e2a129bfb990165a0009f3&o=
                        thumbnail_large: https://q-xx.bstatic.com/xdata/images/hotel/300x300/243931754.jpg?k=a1fea83a088f20b8f8a0e68ac06cb0090a093808f6e2a129bfb990165a0009f3&o=
                    - '...'
                    room_type: 9
                    size: 18
                  - '...'
                  spoken_languages:
                  - de
                  - en-gb
                  - fr
                  - nl
                  themes:
                  - 6
                  - '...'
                  url:
                    web: https://www.booking.com/hotel/nl/toren.html?affiliate_id=!AFFILIATE_ID!
                    app: booking://hotel/10004?affiliate_id=!AFFILIATE_ID!
                  work_friendly: false
                metadata:
                  next_page: null
  /accommodations/details/changes:
    post:
      summary: Updates
      description: 'Use this endpoint to track accommodations that have opened, closed, or had content updates since a specific
        timestamp.


        Changes can include updates to general information, facilities, rooms, photos, payments, and more.


        **Key points**:

        - You can filter results by `country` or `city`.

        - Use the `next` timestamp from the response to fetch subsequent updates.

        - Combine this endpoint with [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details)
        to keep your local accommodation cache up to date.

        - Maximum number of IDs returned is approximately 5000 per request.'
      operationId: /accommodations/details/changes
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Accommodations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/changesInput'
            example:
              last_change: '!START_DATE!T12:00:00+00:00'
              filters:
                countries:
                - nl
                - es
                - in
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/changesOutput'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                  changes:
                    changed:
                    - 100
                    - 101
                    - 102
                    closed:
                      fraud: []
                      permanently:
                      - 107
                      - 108
                      temporarily:
                      - 105
                    opened:
                    - 111
                    - 112
                  from: '!START_DATE!T12:00:00+00:00'
                  next: '!START_DATE!T12:24:42+00:00'
                  total_changes: 8
  /accommodations/reviews:
    post:
      summary: Reviews
      description: This endpoint provides access to reviews for specified accommodations, allowing you to retrieve traveller
        feedback associated with a particular property.</br></br> The reviews returned can be [filtered and sorted](/demand/docs/accommodations/filter-sorting),
        with the option to limit the number of reviews per accommodation by specifying the `rows` parameter.</br></br> Please
        note that the ratings **score is based on all traveller traffic across Booking.com**, and may not necessarily reflect
        the experience of your own customers.</br></br> If you choose to display or use these ratings and reviews, you are
        responsible for ensuring that your travellers are properly informed about what these scores represent.
      operationId: /accommodations/reviews
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Accommodations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reviewsInput'
            example:
              accommodations:
              - 10004
              languages:
              - en-gb
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reviewsOutput'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - id: 10004
                  reviews:
                  - id: 2130645894
                    date: '2023-04-12'
                    language: en-gb
                    negative: 'front entrance is not clean (

                      breakfast was served not like a buffet, every time you have to ask a waiter to bring additional food.'
                    positive: beautiful hôtel in the central area
                    reviewer:
                      country: ch
                      name: Svetlana
                      travel_purpose: leisure
                      type: couple
                    score: 9
                    summary: Fantastic hotel with kind personal who are providing hospitality and excellent service.
                    text_meets_guidelines: true
                  - '...'
                  url: https://www.booking.com/hotel/nl/toren.html?aid=!AFFILIATE_ID!#tab-reviews
                metadata:
                  next_page: '...'
  /accommodations/reviews/scores:
    post:
      summary: Review and scores
      description: This endpoint returns score distribution and score breakdown for the specified accommodations. The scores
        information can be filtered by reviewer parameters and languages.
      operationId: /accommodations/reviews/scores
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Accommodations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reviewsScores_input'
            example:
              accommodations:
              - 10004
              languages:
              - en-gb
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reviewsScores_output'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - id: 10004
                  breakdown:
                    cleanliness:
                      number_of_reviews: 243
                      score: 9.27
                    comfort:
                      number_of_reviews: 242
                      score: 9.26
                    facilities:
                      number_of_reviews: 242
                      score: 8.84
                    free_wifi:
                      number_of_reviews: 24
                      score: 8.75
                    location:
                      number_of_reviews: 242
                      score: 9.59
                    staff:
                      number_of_reviews: 243
                      score: 9.63
                    value_for_money:
                      number_of_reviews: 243
                      score: 8.25
                  distribution:
                    '1':
                      number_of_reviews: 1
                      percentage: 0.41
                    '2':
                      number_of_reviews: 0
                      percentage: 0
                    '3':
                      number_of_reviews: 2
                      percentage: 0.82
                    '4':
                      number_of_reviews: 2
                      percentage: 0.82
                    '5':
                      number_of_reviews: 5
                      percentage: 2.06
                    '6':
                      number_of_reviews: 3
                      percentage: 1.23
                    '7':
                      number_of_reviews: 18
                      percentage: 7.41
                    '8':
                      number_of_reviews: 41
                      percentage: 16.87
                    '9':
                      number_of_reviews: 67
                      percentage: 27.57
                    '10':
                      number_of_reviews: 104
                      percentage: 42.8
                  number_of_reviews: 243
                  score: 8.9
                  url: https://www.booking.com/hotel/nl/toren.html?aid=!AFFILIATE_ID!#tab-reviews
  /accommodations/smart-search:
    post:
      summary: Smart search
      description: Use this endpoint to search for accommodations using a natural language query combined with structured
        travel criteria such as dates, guests, location, and sorting preferences. The `search_query` field accepts free-text
        input describing the traveller’s intent, preferences, or desired accommodation features. Structured parameters such
        as `checkin`, `checkout`, `guests`, and location filters are used to refine and constrain the search results.
      operationId: /accommodations/smart-search
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Accommodations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/smartSearchInput'
            example:
              booker:
                country: nl
                platform: desktop
              checkin: '!START_DATE!'
              checkout: '!END_DATE!'
              city: -2140479
              guests:
                number_of_adults: 2
                number_of_rooms: 1
              search_query: hotel with pool near the beach
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smartSearchOutput'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - id: 10004
                  currency:
                    accommodation: EUR
                    booker: EUR
                  deep_link_url: booking://hotel/10004?affiliate_id=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!&mcid=10
                  price:
                    base:
                      accommodation_currency: 1081.49
                      booker_currency: 1081.49
                    charges:
                    - charge: 21
                      condition: null
                      included_in:
                        display: true
                      total_amount:
                        accommodation_currency: 97.34
                        booker_currency: 97.34
                    display:
                      accommodation_currency: 1260.52
                      booker_currency: 1260.52
                    total:
                      accommodation_currency: 1260.52
                      booker_currency: 1260.52
                  products:
                  - id: '1000420_95127794_2_0_0'
                    bundle: null
                    children: []
                    deal: null
                    inventory:
                      third_party: false
                      type: sell
                    number_of_adults: 2
                    policies:
                      cancellation:
                        free_cancellation_until: null
                        type: non_refundable
                      meal_plan:
                        meals: []
                        plan: no_plan
                      payment:
                        timings:
                        - pay_at_the_property
                    price:
                      base:
                        accommodation_currency: 1081.49
                        booker_currency: 1081.49
                      charges:
                      - charge: 21
                        condition: null
                        included_in:
                          display: true
                          chargeable_online: true
                        mode: percentage
                        percentage: 9
                        total_amount:
                          accommodation_currency: 107.07
                          booker_currency: 107.07
                        unit_amount: null
                      display:
                        accommodation_currency: 1260.52
                        booker_currency: 1260.52
                      total:
                        accommodation_currency: 1260.52
                        booker_currency: 1260.52
                    room: '1000425'
                  url: https://www.booking.com/hotel/nl/conscious-the-tire-station.html?affiliate_id=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!&group_adults=2&no_rooms=1
                metadata:
                  next_page: '123456789569'
  /accommodations/third-party-suppliers:
    post:
      summary: Third-party suppliers
      description: 'Use this endpoint to retrieve the list of third-party suppliers that facilitate accommodation inventory
        on Booking.com.


        A third-party supplier is an external partner company that provides accommodation inventory through Booking.com. When
        a product is facilitated by a third-party supplier:


        * `inventory.third_party` is `true`.

        * `inventory.third_party_supplier_id` contains the supplier identifier.


        Use the returned `id` values to match the `inventory.third_party_supplier_id` returned by /accommodations/availability
        and retrieve supplier information, such as the supplier name and company address.


        Call this endpoint with an empty request body to retrieve the complete list of suppliers.'
      operationId: /accommodations/third-party-suppliers
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Accommodations
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties: {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/thirdPartySuppliers_output'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - id: 101
                  name: Example Supplier
                  company_address: 123 Example Street, 1000 Amsterdam, Netherlands
                - id: 102
                  name: Another Supplier
                  company_address: null
        '500':
          description: Internal server error. Try again later or contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              examples:
                internal_error:
                  summary: Generic server error
                  value:
                    request_id: 01kjan66dedrpbwv4m1966dzw3
                    errors:
                    - id: '500'
                      message: Internal server error. Try again later or contact support.
  /attractions/search:
    post:
      summary: Search attractions
      description: Use this endpoint to search for attractions based on a single search criterion, such as attraction IDs,
        cities, countries, or geographic coordinates.
      operationId: /search
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Attractions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attractionsSearchInput'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attractionsSearchOutput'
              example:
                data:
                - id: PRahAzWtTraa
                  free_cancellation: true
                  price:
                    currency: EUR
                    total: 20
                  urls:
                    app:
                      detail: booking://attractions/product?slug=prahazwttraa-heineken-experience-amsterdam&aid=956509
                      search_results: booking://attractions/searchresults?ufi=-2140479&pinned_product_id=PRahAzWtTraa&aid=956509
                    web:
                      detail: https://www.booking.com/attractions/nl/prahazwttraa-heineken-experience-amsterdam.en-gb.html?selected_currency=EUR&aid=956509
                      search_results: https://www.booking.com/attractions/searchresults/nl/amsterdam.en-gb.html?pinned_product=PRahAzWtTraa&aid=956509
                - id: PRAmdacCwQLH
                  free_cancellation: false
                  price:
                    currency: EUR
                    total: 15.5
                  urls:
                    app:
                      detail: booking://attractions/product?slug=pramdaccwqlh-madame-tussauds-ticket&aid=956509
                      search_results: booking://attractions/searchresults?ufi=-2140479&pinned_product_id=PRAmdacCwQLH&aid=956509
                    web:
                      detail: https://www.booking.com/attractions/nl/pramdaccwqlh-madame-tussauds-ticket.en-gb.html?selected_currency=EUR&aid=956509
                      search_results: https://www.booking.com/attractions/searchresults/nl/amsterdam.en-gb.html?pinned_product=PRAmdacCwQLH&aid=956509
                - id: PRNQsDG3swdK
                  free_cancellation: true
                  price:
                    currency: EUR
                    total: 27.99
                  urls:
                    app:
                      detail: booking://attractions/product?slug=prnqsdg3swdk-full-day-dutch-countryside-tour-with-canal-cruise&aid=956509
                      search_results: booking://attractions/searchresults?ufi=-2140479&pinned_product_id=PRNQsDG3swdK&aid=956509
                    web:
                      detail: https://www.booking.com/attractions/nl/prnqsdg3swdk-full-day-dutch-countryside-tour-with-canal-cruise.en-gb.html?selected_currency=EUR&aid=956509
                      search_results: https://www.booking.com/attractions/searchresults/nl/amsterdam.en-gb.html?pinned_product=PRNQsDG3swdK&aid=956509
                metadata:
                  next_page: eyJhbGciOiJIUzI1NiJ9.eyJwIjp7ImN1cnJlbmN5IjoiRVVSIiwicXVlcnkiOnsiY291bnRyaWVzIjpbIm5sIiwiZnIiXSwiY29vcmRpbmF0ZXMiOnsibGF0aXR1ZGUiOjUyLjM3LCJsb25naXR1ZGUiOjQuOTAsIm1heF9kaXN0YW5jZV9rbSI6MTAwLjAwfSwic3RhcnRfZGF0ZSI6IjIwMjUtMDktMjEiLCJlbmRfZGF0ZSI6IjIwMjUtMDktMjIiLCJzdXBwb3J0ZWRfbGFuZ3VhZ2VzIjpbIm5sIl0sIm1pbl9yYXRpbmciOjQuMDAsIm1pbl9yZXZpZXdfY291bnQiOjV9LCJvcmRlcl9ieSI6Im1hdGNoX3Njb3JlIiwicGFnZV9udW1iZXIiOjJ9LCJhdWQiOiIvYXR0cmFjdGlvbnMvc2VhcmNoIiwiZXhwIjoxNzU3Mzc0MzI0fQ.JUU7kbuwiCaS4n_SZANA577BvZWdqDDQizU8q6fTrg0
                  total_results: 128
                request_id: 01fr9ez700exycb98w90w5r9sh
  /attractions/details:
    post:
      summary: Attraction details
      description: Use this endpoint to retrieve static information about attractions such as name, description, address,
        URL, etc. **Note:** This endpoint does not return any pricing information.
      operationId: /attractions/details
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Attractions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attractionsInput'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attractionsOutput'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - id: PRTcWzDlwXjP
                  badges:
                  - best_seller
                  categories:
                  - PTCMCuXtHgrC
                  - PTCMCY1Fkppn
                  duration: PT2H
                  photos:
                  - url: https://cf.bstatic.com/xdata/images/xphoto/500x375/170335205.jpg
                  locations:
                  - address: Museumstraat 1
                    city: -2140479
                    coordinates:
                      latitude: 52.360043
                      longitude: 4.885177
                    country: nl
                    post_code: 1071XX
                    type: attraction
                  long_description:
                    en-gb: Discover Dutch art and history at the Rijksmuseum, home to masterpieces by Rembrandt and Vermeer.
                  name:
                    en-gb: Rijksmuseum Admission
                  ratings:
                    number_of_reviews: 3250
                    score: 4.8
                  supported_languages:
                  - en-gb
                  - en-us
                  - nl
                  urls:
                    app:
                      detail: booking://attractions/product?slug=pr0dwcibnsiu-rijksmuseum-admission&aid=956509
                      search_results: booking://attractions/searchresults?ufi=-2140479&pinned_product_id=PR0dwCIbnsiU&aid=956509
                    web:
                      detail: https://www.booking.com/attractions/nl/pr0dwcibnsiu-rijksmuseum-admission.html?aid=956509
                      search_results: https://www.booking.com/attractions/searchresults/nl/amsterdam.en-gb.html?pinned_product=PR0dwCIbnsiU&aid=956509
                metadata:
                  next_page: eyJhbGciOiJIUzI1NiJ9.eyJwIjp7ImN1cnJlbmN5IjoiRVVSIiwicXVlcnkiOnsiY291bnRyaWVzIjpbIm5sIiwiZnIiXSwiY29vcmRpbmF0ZXMiOnsibGF0aXR1ZGUiOjUyLjM3LCJsb25naXR1ZGUiOjQuOTAsIm1heF9kaXN0YW5jZV9rbSI6MTAwLjAwfSwic3RhcnRfZGF0ZSI6IjIwMjUtMDktMjEiLCJlbmRfZGF0ZSI6IjIwMjUtMDktMjIiLCJzdXBwb3J0ZWRfbGFuZ3VhZ2VzIjpbIm5sIl0sIm1pbl9yYXRpbmciOjQuMDAsIm1pbl9yZXZpZXdfY291bnQiOjV9LCJvcmRlcl9ieSI6Im1hdGNoX3Njb3JlIiwicGFnZV9udW1iZXIiOjJ9LCJhdWQiOiIvYXR0cmFjdGlvbnMvc2VhcmNoIiwiZXhwIjoxNzU3Mzc0MzI0fQ.JUU7kbuwiCaS4n_SZANA577BvZWdqDDQizU8q6fTrg0
                  total_results: 128
        '400':
          description: The request is invalid or missing required parameters. Refer to the [Error handling section](/demand/docs/support/error-handling/about-errors)
            for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '401':
          description: Authentication failed or the API key is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '500':
          description: An unexpected error occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
  /attractions/reviews:
    post:
      summary: Attraction Reviews
      description: 'Retrieves reviews for a specific attraction. The reviews returned can be filtered and sorted, with the
        option to limit the number of reviews per attraction by specifying the "rows" parameter.

        **Note:** The scores reflect all traveller feedback across Booking.com and may not directly correspond to the experiences
        of your own customers. If you choose to display or use these ratings and reviews, you are responsible for ensuring
        that your travellers understand what these scores represent.'
      operationId: /attractions/reviews
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Attractions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas-input'
            example:
              attraction: PRTcWzDlwXjP
              language: en-gb
              rows: 10
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas-output'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - attraction: PRTcWzDlwXjP
                  id: review123456
                  author: John D.
                  author_country_code: us
                  rating: 5
                  text: Amazing experience at the museum. The artwork is incredible and the building itself is an architectural
                    masterpiece.
                  language: en-gb
                  date: '2025-08-15'
                - attraction: PR0dwCIbnsiU
                  id: review789012
                  author: Maria S.
                  author_country_code: es
                  rating: 4
                  text: Very good museum with impressive collections. Would recommend allowing more time than suggested to
                    see everything.
                  language: en-gb
                  date: '2025-07-22'
                metadata:
                  next_page: NextPageToken123
                  total_results: 243
  /attractions/reviews/scores:
    post:
      summary: Attraction Review Scores
      description: Returns detailed review scores for specific attractions.
      operationId: /attractions/reviews/scores
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Attractions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reviewScores_input'
            example:
              attractions:
              - PRTcWzDlwXjP
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reviewScores_output'
              examples:
                typical-attractions:
                  $ref: '#/components/examples/example-1'
                few-reviews:
                  $ref: '#/components/examples/example-2'
                no-reviews:
                  $ref: '#/components/examples/example-3'
  /attractions/constants:
    post:
      '400':
        description: Bad request. The request is invalid or contains unsupported parameters. Refer to the [Error handling
          section](/demand/docs/support/error-handling/about-errors) for details.
        content:
          application/json:
            schema:
              $ref: ../schemas/error-response.json#/error_response
            examples:
              invalid_language:
                summary: Unsupported language code
                value:
                  request_id: 01fr9ez700exycb98w90w5r9sh
                  errors:
                  - code: invalid_parameter
                    message: Parameter 'languages[0]' is invalid.
      '401':
        description: Unauthorised. Authentication failed or the API key is missing or invalid. Refer to the [Authentication
          section](/demand/docs/development-guide/authentication) for details.
        content:
          application/json:
            schema:
              $ref: ../schemas/error-response.json#/error_response
      '500':
        description: Internal server error. An unexpected error occurred on the server.
        content:
          application/json:
            schema:
              $ref: ../schemas/error-response.json#/error_response
            examples:
              server_error:
                summary: Unexpected server error
                value:
                  request_id: 01fr9ez700exycb98w90w5r9sh
                  errors:
                  - code: internal_server_error
                    message: An unexpected error occurred. Please try again later.
      summary: Attraction constants
      description: 'Returns localised attraction constants, including category and subcategory metadata.


        - Use this endpoint to retrieve and cache the category ID-to-name mapping before performing attraction searches with
        category filters.

        - Call this endpoint during initial integration or periodically to refresh cached values.

        - To retrieve all constants, send an empty request body.'
      operationId: constants
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Attractions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/constants_input'
            examples:
              english:
                summary: Request with English language
                value:
                  languages:
                  - en-gb
      responses:
        '200':
          description: Successful response. Returns localised attraction category constants.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attractions_constants_output'
              examples:
                single_language:
                  summary: Response with default language (en-gb)
                  value:
                    request_id: 01fr9ez700exycb98w90w5r9sh
                    data:
                      categories:
                      - id: PTCMCuXtHgrC
                        name:
                          en-gb: Tours
                        parent: null
                      - id: PTCMCcodv3rh
                        name:
                          en-gb: Museums, arts & culture
                        parent: null
                      - id: PTCMCY1Fkppn
                        name:
                          en-gb: Boat tours & cruises
                        parent: PTCMCuXtHgrC
                multi_language:
                  summary: Response with multiple languages
                  value:
                    request_id: 01fr9ez700exycb98w90w5r9sh
                    data:
                      categories:
                      - id: PTCMCuXtHgrC
                        name:
                          en-gb: Tours
                          es: Tours
                        parent: null
                      - id: PTCMCcodv3rh
                        name:
                          en-gb: Museums, arts & culture
                          es: Museos, arte y cultura
                        parent: null
  /cars/search:
    post:
      description: Use this endpoint to retrieve the available car rentals matching the search criteria.
      summary: Search car rentals
      operationId: search
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Cars
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cars_search_input'
            examples:
              searchByAirport:
                $ref: '#/components/examples/searchByAirport'
              searchByCoordinatesWithResponseLimit:
                $ref: '#/components/examples/searchByCoordinatesWithResponseLimit'
              searchByPayment:
                $ref: '#/components/examples/searchByPayment'
              searchByCityIdWithSorting:
                $ref: '#/components/examples/searchByCityIdWithSorting'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cars_search_output'
              example:
                request_id: 01h00fr9y7qkbxtc6kyv97j49z
                data:
                - car: 122655
                  offer: 803765581
                  categories:
                  - large
                  - suvs
                  policies:
                    cancellation:
                      type: free_cancellation
                      details:
                        context: before_pickup
                        duration: P7D
                    damage_excess:
                      amount: 3000
                      currency: EUR
                    deposit:
                      amount: 1500
                      currency: EUR
                    insurance_package: basic
                    fuel: return_same
                    mileage:
                      amount: 12.54
                      currency: EUR
                      distance_limit: 200
                      distance_unit: kilometers
                      type: limited
                    payment:
                      timing: pay_online_now
                    theft_excess:
                      amount: 3000
                      currency: EUR
                  price:
                    total: 121.9
                    currency: EUR
                    credit_card_required: false
                    extra_charges:
                    - charge: aged_driver_fee
                      total_amount: 21.9
                    - charge: one_way_fee
                      total_amount: 50
                  route:
                    pickup:
                      depot: 112314
                      depot_location_type: in_terminal
                    dropoff:
                      depot: 112314
                      depot_location_type: in_terminal
                  insurance:
                    name: Full Protection
                    id: '999'
                    price:
                      amount: 144.7
                      currency: EUR
                  special_offer: upgrade
                  supplier: 7455
                  url:
                    app: booking://page
                    web: https://example.com
                  estimated_commission:
                    amount: 12.5
                    currency: GBP
                metadata:
                  next_page: eyJhbGciOiJIUzI1NiJ9.eyJwIjp7Im1heGltdW1fcmVzdWx0cyI6MTAsIm9mZnNldCI6MTB9LCJhdWQiOiJDQVJTX1NVUFBMSUVSUyIsImV4cCI6MTY4MzY0NzMwNX0.y7NmH48mm7lImd2WxsHdotj6n-dVQAzJCGCnIJCKy3A
                  total_results: 122
                search_token: eyJhbGciOiJIUzI1NiJ9.eyJwIjp7ImJvb2tlciI6eyJjb3VudHJ5IjoidXMifX0sImF1ZCI6Ii9ob3RlbHMvc2VhcmNoIiwiZXhwIjoxNzUwMDAwMDAwfQ.XYZ123AbcDefGHIjklMNOpqrsTUVwxYZ456789
        '400':
          description: The request is invalid or missing required parameters. Refer to the [Error handling section](/demand/docs/support/error-handling/about-errors)
            for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              examples:
                missing_parameter:
                  summary: Missing parameter
                  value:
                    request_id: 01kjan7r7yvff5yg95gxy1cjhy
                    errors:
                    - id: missing_parameter
                      message: Parameter 'booker' is missing.
                invalid_parameter:
                  summary: Malformed request
                  value:
                    request_id: 01kjan7r7yvff5yg95gxy1cjhy
                    errors:
                    - id: invalid_parameter
                      message: Parameter 'pickup.datetime' is invalid. 'pickup.datetime' should not be in past.
        '500':
          description: Internal server error. Try again later or contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              examples:
                internal_error:
                  summary: Generic server error
                  value:
                    request_id: 01kjan66dedrpbwv4m1966dzw3
                    errors:
                    - id: '500'
                      message: Internal server error. Try again later or contact support.
  /cars/availability:
    post:
      summary: Car availability
      description: Retrieve availability details for a specific car rental offer, including final pricing, available insurance
        options, and optional extras (such as an additional driver or child seat) that can be added to the order.
      operationId: /availability
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Cars
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cars_availability_input'
            example:
              offer: 740171366
              search_token: eyJhbGciOiJIUzI1NiJ9.eyJwIjp7InNlYXJjaF9rZXkiOiJleUprY21sMlpYSnpRV2RsSWpvek5pd2laSEp2Y0U5bVprUmhkR1ZVYVcxbElqb2lNakF5TlMwd09TMHlNRlF4TVRvd05Ub3dNQ0lzSW1SeWIzQlBabVpNYjJOaGRHbHZiaUk2SWsxQlRpSXNJbVJ5YjNCUFptWk1iMk5oZEdsdmJsUjVjR1VpT2lKSlFWUkJJaXdpY0dsamExVndSR0YwWlZScGJXVWlPaUl5TURJMUxUQTVMVEU0VkRFeE9qQTFPakF3SWl3aWNHbGphMVZ3VEc5allYUnBiMjRpT2lKTlFVNGlMQ0p3YVdOclZYQk1iMk5oZEdsdmJsUjVjR1VpT2lKSlFWUkJJaXdpY21WdWRHRnNSSFZ5WVhScGIyNUpia1JoZVhNaU9qSXNJbk5sY25acFkyVkdaV0YwZFhKbGN5STZXeUpUVlZCUVVrVlRVMTlFU1ZKRlExUmZVRUZaWDB4UFEwRk1YMVpGU0VsRFRFVlRJbDE5IiwiYm9va2VyIjp7ImNvdW50cnkiOiJnYiJ9fSwiYXVkIjoiL2NhcnMvYXZhaWxhYmlsaXR5IiwiZXhwIjoxNzUzMTA2MDg2fQ.t8VrrJhUAvbAwIK_bO5cNAIB5Z_UfcolMEsGzlq3-eo
              currency: GBP
              language: en-gb
      responses:
        '200':
          description: Availability details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cars_availability_output'
              example:
                request_id: 01k1deq3e5b41da80f28yybhz0
                data:
                  offer: 740171366
                  currency: GBP
                  policies:
                    cancellation:
                      type: free_cancellation
                      details:
                        context: before_pickup
                        duration: PT48H
                    damage_excess:
                      amount: 1500
                    deposit:
                      amount: 1500
                    insurance_package: inclusive
                    payment:
                      timing: pay_online_now
                    fuel: return_same
                    mileage:
                      distance_limit: 200
                      distance_unit: miles
                      amount: 0.3
                      currency: GBP
                      type: limited
                    theft_excess:
                      amount: 1500
                  price:
                    base: 74.4
                    total: 194.4
                    credit_card_required: false
                    extra_charges:
                    - charge: aged_driver_fee
                      total_amount: 120
                  products:
                  - id: '14383444201010'
                    type: additional_driver
                    maximum_available: 3
                    mode: each_per_rental
                    price:
                      unit_amount:
                        display:
                          value: 20
                          currency: GBP
                        pay:
                          value: 20
                          currency: GBP
                          timing: pay_at_pickup
                  - id: '14383470981010'
                    type: baby_seat
                    maximum_available: 2
                    mode: each_per_rental
                    price:
                      unit_amount:
                        display:
                          value: 33.98
                          currency: GBP
                        pay:
                          value: 33.98
                          currency: GBP
                          timing: pay_at_pickup
                  - id: '14383497761010'
                    type: child_booster_seat
                    maximum_available: 2
                    mode: each_per_rental
                    price:
                      unit_amount:
                        display:
                          value: 21.98
                          currency: GBP
                        pay:
                          value: 21.98
                          currency: GBP
                          timing: pay_at_pickup
                  - id: '14383524541010'
                    type: child_seat
                    maximum_available: 2
                    mode: each_per_rental
                    price:
                      unit_amount:
                        display:
                          value: 33.98
                          currency: GBP
                        pay:
                          value: 33.98
                          currency: GBP
                          timing: pay_at_pickup
                  - id: '14383551321010'
                    type: gps
                    maximum_available: 1
                    mode: per_rental
                    price:
                      unit_amount:
                        display:
                          value: 31.98
                          currency: GBP
                        pay:
                          value: 31.98
                          currency: GBP
                          timing: pay_at_pickup
                  deal: null
                  special_offer: upgrade
                  supplier: 3486
                  route:
                    dropoff:
                      depot: 243816
                      depot_location_type: meet_greet
                    pickup:
                      depot: 243816
                      depot_location_type: meet_greet
                  insurance:
                    quote_reference: 38ddeef-a7fb-4e24-a1e2-66fc3af23d76#1t0juiba8h6n2
                    name: Full Protection
                    id: '999'
                    price:
                      display:
                        value: 114.24
                        currency: GBP
                      pay:
                        value: 114.24
                        currency: EUR
                        timing: pay_online_now
                    coverage_amount:
                      value: 60000
                      currency: EUR
                    documents:
                    - name: policy_document
                      url: https://staging.rentalcover.com/pds
                    - name: ipid
                      url: https://files.rentalcover.com/ipids/uploads/staging/document.pdf
                  estimated_commission:
                    amount: 12.5
                    currency: GBP
        '400':
          description: The request is invalid or missing required parameters. Refer to the [Error handling section](/demand/docs/support/error-handling/about-errors)
            for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              examples:
                invalid_offer:
                  summary: Invalid offer ID
                  value:
                    request_id: 01kjan7r7yvff5yg95gxy1cjhy
                    errors:
                    - id: invalid_request
                      message: Offer 123 is invalid
                expired_token:
                  summary: Search token expired
                  value:
                    request_id: 01kjan7r7yvff5yg95gxy1cjhy
                    errors:
                    - id: expired_token
                      message: Token 'search_token' has expired.
                invalid_token:
                  summary: Invalid token
                  value:
                    request_id: 01kjan7r7yvff5yg95gxy1cjhy
                    errors:
                    - id: invalid_token
                      message: Token 'search_token' is invalid.
        '500':
          description: Internal Server Error. The request failed due to a server-side issue. Please retry or contact support
            if the issue persists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              examples:
                internal_error:
                  summary: Generic server error
                  value:
                    request_id: 01kjan66dedrpbwv4m1966dzw3
                    errors:
                    - id: '500'
                      message: Internal server error. Try again later or contact support.
  /cars/constants:
    post:
      summary: Car constants
      description: "This endpoint returns localised car rental constants used across the Cars API collection, such as extras,\
        \ fuel policies, payment timings, and transmission types.\n\nIt also returns customer service contact email addresses\
        \ per requested language for partner support scenarios where Booking.com handles travellers' communication directly.\
        \ \nTo retrieve all constants, send an empty request body."
      operationId: constants
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Cars
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cars_constants_input'
            examples:
              allConstants:
                $ref: '#/components/examples/inputAll'
              specificConstants:
                $ref: '#/components/examples/inputSomeConstants'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cars_constants_output'
              example:
                request_id: 01jpvx9va93ghgwxq7zypagvdr
                data:
                  car_categories:
                  - id: carriers
                    name:
                      de: Großraumfahrzeug
                      en-gb: People carrier
                  - id: compact_suv
                    name:
                      de: Kompaktklasse-SUV
                      en-gb: Compact SUV
                  - id: convertible
                    name:
                      de: Cabrio
                      en-gb: Convertible
                  - id: estate
                    name:
                      de: Kombi
                      en-gb: Estate
                  - id: large
                    name:
                      de: Groß
                      en-gb: Large
                  - id: large_suv
                    name:
                      de: Großer SUV
                      en-gb: Full-size SUV
                  - id: medium
                    name:
                      de: Mittelklasse
                      en-gb: Medium
                  - id: midsize_suv
                    name:
                      de: Mittelgroßer SUV
                      en-gb: Midsize SUV
                  - id: pickup
                    name:
                      de: Pickup
                      en-gb: Pickup
                  - id: premium
                    name:
                      de: Premium
                      en-gb: Premium
                  - id: small
                    name:
                      de: Klein
                      en-gb: Small
                  - id: suvs
                    name:
                      de: SUV
                      en-gb: SUV
                  customer_services:
                  - id: email
                    name:
                      de: customer.service-de@cars.booking.com
                      en-gb: customer.service@cars.booking.com
                  depot_services:
                  - id: meet_greet
                    name:
                      de: Meet & Greet
                      en-gb: Meet & Greet
                  - id: shuttle
                    name:
                      de: Shuttlebus
                      en-gb: Shuttle Bus
                  depot_types:
                  - id: airport_hotel
                    name:
                      de: Airport-Hotel
                      en-gb: Airport hotel
                  - id: car_rental_centre
                    name:
                      de: Mietwagenstation
                      en-gb: Car rental centre
                  - id: downtown
                    name:
                      de: Innenstadt
                      en-gb: Downtown
                  - id: in_terminal
                    name:
                      de: Im Terminal
                      en-gb: In terminal
                  - id: meet_greet
                    name:
                      de: Meet & Greet
                      en-gb: Meet & Greet
                  - id: outside_terminal
                    name:
                      de: Außerhalb des Terminals
                      en-gb: Outside of terminal
                  - id: shuttle_bus
                    name:
                      de: Shuttlebus
                      en-gb: Shuttle bus
                  - id: trainstation
                    name:
                      de: Bahnhof
                      en-gb: Train station
                  extras:
                  - id: additional_driver
                    name:
                      de: Zusätzlicher Fahrer
                      en-gb: Additional driver
                  - id: baby_seat
                    name:
                      de: Babyschale
                      en-gb: Baby seat
                  - id: bluetooth_handsfree_kit
                    name:
                      de: Bluetooth-Freisprecheinrichtung
                      en-gb: Bluetooth hands-free kit
                  - id: booster_seat
                    name:
                      de: Kindersitzerhöhung
                      en-gb: Child booster seat
                  - id: child_booster_seat
                    name:
                      de: Kindersitzerhöhung
                      en-gb: Child booster seat
                  - id: child_seat
                    name:
                      de: Kindersitz
                      en-gb: Child seat
                  - id: child_seat_isofix
                    name:
                      de: ISOFIX
                      en-gb: ISOFIX
                  - id: etc_card_electronic_toll_collection_card
                    name:
                      de: ETC
                      en-gb: ETC
                  - id: excess_protection
                    name:
                      de: Geringere Selbstbeteiligung
                      en-gb: Reduced excess
                  - id: fast_track
                    name:
                      de: Express-Zugang
                      en-gb: Queue jump
                  - id: gps
                    name:
                      de: Navi
                      en-gb: GPS
                  - id: infant_seat
                    name:
                      de: Babyschale
                      en-gb: Baby seat
                  - id: luggage_rack
                    name:
                      de: Gepäckträger
                      en-gb: Luggage rack
                  - id: personal_travel_assistant
                    name:
                      de: Persönlicher Reiseassistent
                      en-gb: Personal travel assistant
                  - id: queue_jump
                    name:
                      de: Express-Zugang
                      en-gb: Queue jump
                  - id: roof_rack
                    name:
                      de: Dachgepäckträger
                      en-gb: Roof rack
                  - id: ski_box
                    name:
                      de: Skibox
                      en-gb: Ski box
                  - id: ski_rack
                    name:
                      de: Skiträger
                      en-gb: Ski rack
                  - id: skierized_equipment
                    name:
                      de: Winterausstattung
                      en-gb: Winter sports equipment
                  - id: snow_chains
                    name:
                      de: Schneeketten
                      en-gb: Snow chains
                  - id: snow_tyres
                    name:
                      de: Winterreifen
                      en-gb: Snow tyres
                  - id: wifi_mobile
                    name:
                      de: WLAN-Router
                      en-gb: Wifi router
                  - id: wifi_router
                    name:
                      de: WLAN-Router
                      en-gb: Wifi router
                  special_offers:
                  - id: one_additional_driver
                    name:
                      de: 1 zusätzlicher Fahrer inbegriffen
                      en-gb: 1 additional driver included
                  - id: two_additional_drivers
                    name:
                      de: 2 zusätzliche Fahrer inbegriffen
                      en-gb: 2 additional drivers included
                  - id: three_additional_drivers
                    name:
                      de: 3 zusätzliche Fahrer inbegriffen
                      en-gb: 3 additional drivers included
                  - id: all_additional_drivers
                    name:
                      de: Alle zusätzlichen Fahrer inbegriffen
                      en-gb: All additional drivers included
                  - id: gps
                    name:
                      de: Navi inbegriffen
                      en-gb: GPS included
                  - id: baby_or_child_seat
                    name:
                      de: Babyschale / Kindersitz inbegriffen
                      en-gb: Baby/child seat included
                  - id: priority_pickup
                    name:
                      de: Priority-Abholung inbegriffen
                      en-gb: Priority pick-up included
                  - id: wifi_device
                    name:
                      de: WLAN inbegriffen
                      en-gb: Wifi included
                  - id: sim_card
                    name:
                      de: SIM-Karte inbegriffen
                      en-gb: SIM card included
                  - id: upgrade
                    name:
                      de: Upgrade auf die nächste Fahrzeuggruppe inbegriffen
                      en-gb: Upgrade to the next car group included
                  - id: black_friday
                    name:
                      de: Black Friday
                      en-gb: Black Friday
                  - id: getaway_deal
                    name:
                      de: Kurztrip-Angebot
                      en-gb: Getaway deal
                  - id: mobile_rate
                    name:
                      de: Handypreis
                      en-gb: Mobile rate
                  fuel_policies:
                  - id: free_tank
                    name:
                      de: Kostenlose Tankfüllung
                      en-gb: Free tank
                  - id: prepay_no_refunds
                    name:
                      de: Vorab-Einkauf
                      en-gb: Pre-purchase (non-refundable)
                  - id: prepay_part_refunds
                    name:
                      de: Vorab-Einkauf (Teilerstattung)
                      en-gb: Pre-purchase (partial refund)
                  - id: prepay_refunds
                    name:
                      de: Vorab-Einkauf
                      en-gb: Pre-purchase (refundable)
                  - id: return_same
                    name:
                      de: Gleiche Tankfüllung
                      en-gb: Like for like
                  - id: return_same_or_prepay_no_refunds
                    name:
                      de: Gleiche Tankfüllung
                      en-gb: Like for like
                  - id: return_same_preauth
                    name:
                      de: Gleiche Tankfüllung (Vorabbuchung)
                      en-gb: Like for like (pre-authorisation)
                  - id: unlimited
                    name:
                      de: Unbegrenzte Kilometer
                      en-gb: Unlimited mileage
                  fuel_types:
                  - id: diesel
                    name:
                      de: Diesel
                      en-gb: Diesel
                  - id: electric
                    name:
                      de: Rein elektrisch
                      en-gb: Fully electric
                  - id: ethanol
                    name:
                      de: Ethanol
                      en-gb: Ethanol
                  - id: hybrid
                    name:
                      de: Hybrid
                      en-gb: Hybrid
                  - id: hydrogen
                    name:
                      de: Wasserstoff
                      en-gb: Hydrogen
                  - id: lpg
                    name:
                      de: Autogas
                      en-gb: LPG
                  - id: multi_fuel
                    name:
                      de: Mehrstoff
                      en-gb: Multi Fuel
                  - id: petrol
                    name:
                      de: Benzin
                      en-gb: Petrol
                  - id: plug_in_hybrid
                    name:
                      de: Plug-in-Hybrid
                      en-gb: Plug-in hybrid
                  - id: unspecified
                    name:
                      de: Nicht angegeben
                      en-gb: Unspecified
                  general:
                  - id: airport
                    name:
                      de: Flughafen (im Terminal)
                      en-gb: Airport (in terminal)
                  - id: air_conditioning
                    name:
                      de: Klimaanlage
                      en-gb: Air Conditioning
                  - id: before_pickup
                    name:
                      de: Kostenlose Stornierung vor der Abholung
                      en-gb: Free cancellation before pick-up
                  - id: each_per_rental
                    name:
                      de: Jeder pro Miete
                      en-gb: Each per rental
                  - id: free_cancellation
                    name:
                      de: Kostenlose Stornierung
                      en-gb: Free cancellation
                  - id: kilometers
                    name:
                      de: km
                      en-gb: km
                  - id: limited
                    name:
                      de: Begrenzt
                      en-gb: Limited
                  - id: miles
                    name:
                      de: Meilen
                      en-gb: miles
                  - id: n_large_bag
                    name:
                      de: N großer Koffer
                      en-gb: N Large bag
                  - id: n_large_bags
                    name:
                      de: N große Koffer
                      en-gb: N Large bags
                  - id: n_small_bag
                    name:
                      de: N kleiner Koffer
                      en-gb: N Small bag
                  - id: n_small_bags
                    name:
                      de: N kleine Koffer
                      en-gb: N Small bags
                  - id: per_rental
                    name:
                      de: Pro Miete
                      en-gb: Per rental
                  payment_timings:
                  - id: pay_partial_online_now
                    name:
                      de: Teils jetzt zahlen, teils später
                      en-gb: Pay part now, part later
                  - id: pay_online_now
                    name:
                      de: Jetzt zahlbar
                      en-gb: Pay now
                  - id: pay_at_pickup
                    name:
                      de: Zahlbar bei der Abholung
                      en-gb: Pay at pick-up
                  protection_levels:
                  - id: basic
                    name:
                      de: Basis
                      en-gb: Basic
                  - id: zero_excess
                    name:
                      de: Kein Eigenanteil
                      en-gb: Zero excess
                  review_scores:
                  - id: cleanliness
                    name:
                      de: Sauberkeit
                      en-gb: Cleanliness
                  - id: condition
                    name:
                      de: Fahrzeugzustand
                      en-gb: Car condition
                  - id: drop_off_speed
                    name:
                      de: Abgabegeschwindigkeit
                      en-gb: Drop-off speed
                  - id: friendliness
                    name:
                      de: Hilfsbereitschaft
                      en-gb: Helpfulness
                  - id: location
                    name:
                      de: Lage
                      en-gb: Location
                  - id: pick_up_speed
                    name:
                      de: Abholgeschwindigkeit
                      en-gb: Pick-up speed
                  - id: value_for_money
                    name:
                      de: Preis-Leistungs-Verhältnis
                      en-gb: Value for money
                  transmission:
                  - id: automatic
                    name:
                      de: Automatik
                      en-gb: Automatic
                  - id: manual
                    name:
                      de: Schaltgetriebe
                      en-gb: Manual
        '400':
          description: The request is invalid or missing required parameters. Refer to the [Error handling section](/demand/docs/support/error-handling/about-errors)
            for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              examples:
                invalid_parameter:
                  summary: Malformed request
                  value:
                    request_id: 01kjan7r7yvff5yg95gxy1cjhy
                    errors:
                    - id: invalid_parameter
                      message: Parameter 'constants[0]' is invalid.
        '500':
          description: Internal server error. Try again later or contact support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              examples:
                internal_error:
                  summary: Generic server error
                  value:
                    request_id: 01kjan66dedrpbwv4m1966dzw3
                    errors:
                    - id: '500'
                      message: Internal server error. Try again later or contact support.
  /cars/depots:
    post:
      description: Retrieve a paginated list of car rental depots. Supports incremental updates via the `last_modified` filter.
      summary: Depots
      operationId: depots
      parameters:
      - $ref: '#/components/parameters/AffiliateIdHeader'
      tags:
      - Cars
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/depots_input'
            example:
              last_modified: '2026-03-01T11:05:00+00:00'
              maximum_results: 100
              languages:
              - en-gb
              - nl
      responses:
        '200':
          description: Depots retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/depots_output'
              example:
                request_id: 01fr9ez700exycb98w90w5r9sh
                data:
                - id: 5944
                  contact:
                    email: depot@test.booking.com
                    telephone: '+31882847620'
                  city: -2140479
                  pickup:
                    instructions:
                      en-gb: Collect your vehicle at the rental counter in the arrivals hall.
                      nl: Haal uw voertuig op bij de verhuurbalie in de aankomsthal.
[...]
